.row#questions_sidecolumn.panel.dark.kill_left
  .questions_sidecolumn_title.top
    Tags
  #questions_taglist
    - application_taglist Question.tag_counts, %w[s m l] do |tag, css_class|
      %p= link_to tag.name, question_tag_path(tag.name), class: css_class