.row#questions_sidecolumn.panel.dark.kill_left
  .questions_sidecolumn_title.top
    Tags
  #questions_taglist.application_tags_container
    - application_taglist Question.tag_counts do |tag, count|
      .row
        = link_to question_tag_path(tag.name) do
          .btn.btn-mini
            = tag.name
          x #{count}
