.row#questions_sidecolumn
  .questions_sidecolumn_title.top
    Tags

  .application_tags_container
    - if @question.tags.count > 0
      = raw @question.tags.map { |t| link_to t.name, question_tag_path(t.name), class: "btn btn-default btn-mini" }.join('<br>')


  .spacer10
  #questions_taglist
    - if @question.tags.count > 0
      .row
        asked:
        %span.questions_show_sidecoloumn_date
          = time_ago_in_words(@question.created_at)
          ago
      .row
        active:
        %span.questions_show_sidecoloumn_date
          = time_ago_in_words(@question.last_active_at)
          ago