- provide(:title, 'Edit your question')
- provide(:sub_title, 'Make changes to your question')

- provide(:breadcrumb, "Question")
- provide(:breadcrumb_url, question_path(@question))


= render "form"

- content_for :questions_sidecolumn_includes do
  = render partial: "sidecolumn_question"