- provide(:title, 'Ask a Question')
- provide(:sub_title, 'Fill out the form to ask a question')

- provide(:breadcrumb, "Questions")
- provide(:breadcrumb_url, "/questions")



= render "form"


- content_for :questions_sidecolumn_includes do
  = render partial: "sidecolumn_question"