.users_index_mappanel_list
  %ul
    %li
      Total Users:
      %span.users_index_mappanel_control_usercount
        = User.count
    %li
      Total Cases:
      %span.users_index_mappanel_control_casecount
        = Case.count

%span#users_index_mappanel_control_chosen
  %select.chzn-select.span37{"data-placeholder" => "Jump to Country..." }
    = render 'shared/countries_select'