#static_home_slider
  .arrownav_home
    %nav
      %ul
        %li
          %a{:href => "#1"} *
        %li
          %a{:href => "#2"} Find Partners
        %li
          %a{:href => "#3"} Roulette
        %li
          %a{:href => "#4"} Feedback
      %span.arrow

  #application_arrownav_page_1.arrownav_page
    %h5
      The best way to prepare for management consulting case interviews is to practise with others...
  #application_arrownav_page_2.arrownav_page
    
    %ul
      %li Find others preparing for case interviews who work or live near you and arrange practise in person
      %li Add people as 'case partners', and contact them at any time.
      %li Find others around the world applying to the same firms as you, in the same timeframe, and with similar case interview experience, at top Universities

  #application_arrownav_page_3.arrownav_page
    %ul
      %li Only got 45 minutes free after work/lectures, and no time to schedule a practise case with someone?
      %li Use the case roulette to find others who are online at the same moment, and launch into a practise case with them over Skype instantly.

  #application_arrownav_page_4.arrownav_page
    %ul
      %li If you are the 'interviewer' in a practise case, complete a structured 'feedback' form for the interviewee, scoring them a user on their performance, and leaving them contructive comments to help them improve
      %li The case feedback form has been designed by a professional consultant, at one of the top three firms, with many years of interviewing experience
      %li Feedback is saved in a user's profile to be browsed and reviewed at any time
      %li See basic statistics and a graphical overview of your progress as you do more cases over time - find areas that you need to improve.