- @login ||= User.new
#static_home_signin.static_home_slideable
  = simple_form_for(@login, url: session_path(@login)) do |f|

    .control-group
      = f.text_field :email, tabindex: "1", placeholder: "University email", class: "span30 large"
      %i.input-icon.fui-user.huge

    .control-group
      = f.password_field :password, tabindex: "2", placeholder: "Password", class: "span30 large"
      %i.input-icon.fui-lock.huge

    %button.btn.btn-default.btn-large.btn-block{:href => "#", :type => "submit", tabindex: "3"}
      Login

    .static_home_signin_link
      = link_to "Lost your password?", new_password_path('user'), tabindex: "4" 



