#static_home_slider
  #static_home_arrownav
    %nav
      %ul
        %li
          %a{:href => "#1"} Welcome...
        %li
          %a{:href => "#2"} Find Case Partners
        %li
          %a{:href => "#3"} Roulette
        %li
          %a{:href => "#4"} Feedback
        %li
          %a{:href => "#5"} Analysis
        / %li
        /   %a{:href => "#6"} Testimonials
      %span.arrow

  #application_arrownav_page_1.arrownav_page
    #static_home_slider_page_1
      = image_tag('app/banner.jpg')

      .static_home_slider_bullets.banner
        "...the best way to prepare for management consulting case interviews is to practise with others..."

  #application_arrownav_page_2.arrownav_page
    #static_home_slider_page_2
      .static_home_slider_bullets
        .span9.static_home_slider_icon
          %i.icon-pushpin
        .span43
          %h4 Find others to practise case interviews with
          %p Practise cases with others who live or work near you, or anywhere in the world with whom you have something in common via Skype.

  #application_arrownav_page_3.arrownav_page
    #static_home_slider_page_3
      .static_home_slider_bullets
        .span9.static_home_slider_icon
          %i.icon-random
        .span43
          %h4 Case Roulette: time for a quick case after work?
          %p Use our case roulette feature to practise case interviews with other online at the same time as you

  #application_arrownav_page_4.arrownav_page
    #static_home_slider_page_4
      .static_home_slider_bullets
        .span9.static_home_slider_icon
          %i.icon-edit
        .span43
          %h4 "Interviewers" complete a feedback form
          %p Designed by top-3-firm professional consultants, the person playing the interviewer can score and comment on the interviewees performance

  #application_arrownav_page_5.arrownav_page
    #static_home_slider_page_5
      .static_home_slider_bullets
        .span9.static_home_slider_icon
          %i.icon-bar-chart
        .span43
          %h4 Analyse your progress
          %p Scores from your case feedback are displayed graphically enabling you to identify your weakest areas, and track your progress over time
          

  / #application_arrownav_page_6.arrownav_page
  /   .static_home_slider_bullets.testimonials
  /     %p "some great testimonial..."
  /     %p "some great testimonial..."
  /     %p "some great testimonial..."