#static_home_slider
  #static_home_arrownav
    %nav
      %ul
        %li
          %a{:href => "#1"} casenexus.com
        %li
          %a{:href => "#2"} Find Case Partners
        %li
          %a{:href => "#3"} Roulette
        %li
          %a{:href => "#4"} Feedback
      %span.arrow

  #application_arrownav_page_1.arrownav_page
    #static_home_slider_page_1
      = image_tag('home/banner.png')

      .static_home_slider_bullets.banner
        "...the best way to prepare for management consulting case interviews is to practise with others..."

  #application_arrownav_page_2.arrownav_page
    #static_home_slider_page_2
      %ul.static_home_slider_bullets.partners
        %li Practise case interviews with other candidates who work or live near you
        %li Find others around the world applying to the same firms, and practise cases via Skype

  #application_arrownav_page_3.arrownav_page
    #static_home_slider_page_3
      %ul.static_home_slider_bullets.roulette
        %li Got 45 minutes free after work to do a case?
        %li Use Case Roulette to practise cases with others online at any time

  #application_arrownav_page_4.arrownav_page
    #static_home_slider_page_4
      %ul.static_home_slider_bullets.feedback
        %li "Interviewers" complete a feedback form for interviewees, including scores and comments
        %li Form designed by a top-3-firm professional consultant with many years of interviewing experience
        %li Feedback is recorded and analysed