#static_home_slider
  #static_home_arrownav
    %nav
      %ul
        %li
          %a{:href => "#1"} casenexus.com
        %li
          %a{:href => "#2"} Find Case Partners
        %li
          %a{:href => "#3"} Roulette
        %li
          %a{:href => "#4"} Feedback
        %li
          %a{:href => "#5"} Testimonials
      %span.arrow

  #application_arrownav_page_1.arrownav_page
    #static_home_slider_page_1
      = image_tag('home/banner.png')

      .static_home_slider_bullets.banner
        "...the best way to prepare for management consulting case interviews is to practise with others..."

  #application_arrownav_page_2.arrownav_page
    #static_home_slider_page_2
      .static_home_slider_bullets.partners
        %h4 Practise case interviews with others who work or live near you
        %p Find others around the world applying to the same firms, and practise cases via Skype

  #application_arrownav_page_3.arrownav_page
    #static_home_slider_page_3
      .static_home_slider_bullets.roulette
        %h4 Got 45 minutes free after work for a case?
        .spacer10
        %p Use Case Roulette to practise cases with others online at any time

  #application_arrownav_page_4.arrownav_page
    #static_home_slider_page_4
      .static_home_slider_bullets.feedback
        %h4 "Interviewers" complete a feedback form for interviewees...
        .spacer10
        %p Designed by a top-3-firm professional consultant with many years of interviewing experience
        %p Feedback is recorded and analysed

  #application_arrownav_page_5.arrownav_page
    .static_home_slider_bullets.testimonials
      %p "some great testimonial..."
      %p "some great testimonial..."
      %p "some great testimonial..."