%select#static_home_signup_option_university_select.chzn-select{"data-placeholder" => "Select Your University...", tabindex: "9"}
  %option
    - for item in University.order("name asc")
      %option{value: item.domain }
        = item.name