= content_for :content do

  .row
    .span94
      .panel.kill_bottom
        .row
          .span45
            = image_tag('home/banner.png', id: 'static_home_banner')
          .span30

            = image_tag('home/slider/1.png', id: 'static_home_slider')

            .row
              .span30
                %h3 Start practising case interviews
              .span20
                %a.btn.btn-large.btn-inverse{ href: "/signup"}
                  %i.icon-share-alt.icon-white
                  %span
                    Sign up
