= content_for :content do

  .row
    .span12
      .panel.kill_bottom
        .row
          .span6
            = image_tag('home/banner.png', id: 'static_home_banner')
          .span5

            = image_tag('home/slider/1.png', id: 'static_home_slider')

            .row
              .span3
                %h3 Start practising case interviews
              .span2
                = link_to "Sign up", signup_path, class: "btn btn-large btn btn-inverse"