
- content_for :javascript_includes do

  // CONDITIONAL - for signup error handling & invitation email code link
  - if params[:controller] == "registrations" && params[:action] == "create" || !params[:code].blank?

    :javascript
      $(document).ready(function() {
        window.static_switch_view($("#static_home_switch_link_signup"),"instant");
      });


= render 'static_pages/signin_form'
= render 'static_pages/signup_form'

/ = render 'layouts/footer'