- content_for :javascript_includes do
  = javascript_include_tag 'home'

.row
  .span67
    .panel.kill_bottom
      .row
        = render '/static_pages/slider'

  .span25
    .spacer30
    .spacer40
    .row
      .panel.gradient.kill_left.kill_right
        #static_home_signup_title
          How would you like to Sign-up...?
        .spacer5
        .row
          .span23
            = render 'static_pages/form_signup'