
#static_home_panel_left

  #static_home_title
    Welcome to
    #static_home_title_url
      casenexus.com
      %span#static_home_title_beta
        BETA
  #static_home_subtitle
    Platform for live case interview practice

  #static_home_logo
    = image_tag "home/logo.png"


  .static_home_pitch_block

    .static_home_pitch_block_icon
      %i.icon-map-marker
    .static_home_pitch_block_title
      Find partners
    .static_home_pitch_block_text
      Integer eget sagittis magna, eget rhoncus suspendisse at ipsum amet nulla congue consequat sed.

  .static_home_pitch_block
    .static_home_pitch_block_icon
      %i.icon-book
    .static_home_pitch_block_title
      Case library
    .static_home_pitch_block_text
      Integer eget sagittis magna, eget rhoncus suspendisse at ipsum amet nulla congue consequat sed.

  .static_home_pitch_block
    .static_home_pitch_block_icon
      %i.icon-bar-chart
    .static_home_pitch_block_title
      Feedback
    .static_home_pitch_block_text
      Integer eget sagittis magna, eget rhoncus suspendisse at ipsum amet nulla congue consequat sed.

#static_home_panel_right

  = render 'static_pages/signin_form'

  = render 'static_pages/signup_form'






#static_home_bottom_margin




/ = render 'layouts/footer'
