- content_for :javascript_includes do
  = javascript_include_tag 'home'

.row
  .span66
    #static_home_slider_panel.panel.kill_bottom
      .row
        = render '/static_pages/slider'

  .span25
    .row
      = render 'static_pages/signup_form'