- content_for :javascript_includes do
  = javascript_include_tag 'home'

.row
  #static_home_span_left.span
    .spacer50
    .spacer50
    #static_home_panels_left.panel.kill_all
      #static_home_panels_left_page_1
      #static_home_panels_left_page_2
        .static_home_panels_text
          .span4.static_home_panels_icon
            %i.icon-pushpin
          .span20
            %h4 Find Case Partners
            %p.static_home_slider_panels_text_sub Arrange to practise case interviews in person, or via Skype
      #static_home_panels_left_page_3
        #static_home_slider_page_4
          .static_home_panels_text
            .span4.static_home_panels_icon
              %i.icon-edit
            .span20
              %h4 Score eachother
              %p.static_home_slider_panels_text_sub Feedback system designed by Top-3-firm consultants

    
    .row.static_home_panels_nav
      .offset12
        #static_home_panels_left_nav_circle_1.static_home_panels_nav_circle{"data-panel"=>"left", "data-page-id"=>"1"}
        #static_home_panels_left_nav_circle_2.static_home_panels_nav_circle{"data-panel"=>"left", "data-page-id"=>"2"}
        #static_home_panels_left_nav_circle_3.static_home_panels_nav_circle{"data-panel"=>"left", "data-page-id"=>"3"}

  #static_home_span_middle.span
    .row
      = render 'static_pages/signup_form'
      #testing123
  #static_home_span_right.span
    .spacer50
    .spacer50
    #static_home_panels_right.panel.kill_all
      #static_home_panels_right_page_1
      #static_home_panels_right_page_2
        .static_home_panels_text
          .span4.static_home_panels_icon
            %i.icon-random
          .span20
            %h4 Case Roulette
            %p.static_home_slider_panels_text_sub
              Just time for a case after work? 
              %br/
              Find others who do too


      #static_home_panels_right_page_3
        .static_home_panels_text
          .span4.static_home_panels_icon
            %i.icon-bar-chart
          .span20
            %h4 Track your progress
            %p.static_home_slider_panels_text_sub Scores are displayed graphically, showing you where to improve

    .row.static_home_panels_nav
      .offset12
        #static_home_panels_right_nav_circle_1.static_home_panels_nav_circle{"data-panel"=>"right", "data-page-id"=>"1"}
        #static_home_panels_right_nav_circle_2.static_home_panels_nav_circle{"data-panel"=>"right", "data-page-id"=>"2"}
        #static_home_panels_right_nav_circle_3.static_home_panels_nav_circle{"data-panel"=>"right", "data-page-id"=>"3"}
            
.row
  #static_home_footer
    = render 'layouts/footer'
