- content_for :javascript_includes do
  = javascript_include_tag 'home'
  = javascript_include_tag 'signup'

.row
  .span67
    .panel.kill_bottom
      .row
        = render '/static_pages/slider'

  .span25
    .spacer30
    .spacer30
    .row
      = render 'static_pages/form_signup'