- content_for :javascript_includes do
  = javascript_include_tag 'home'

.row
  .span30
    .spacer50
    .spacer50
    .spacer20
    #static_home_banner_container
      .spacer40
      = image_tag 'app/banner.png', id: "static_home_banner"
      / .spacer20
      / casenexus
  .span30.offset5
    .row
      = render 'static_pages/signup_form'
  .span30
    / .row
    /   = render '/static_pages/slider'