.row
  - if flash.any?
    .span94
      = render 'layouts/flash', flash: flash
  .span62
    .panel.kill_bottom
      .row
        = render '/static_pages/arrownav_home'

  .span30
    .row
      .panel.gradient.kill_left.kill_right
        University Sign up
        .spacer5
        .row
          / .span8
          /   = render 'static_pages/form_signup_universities'
          .span20
            = render 'static_pages/form_signup'
    .row.panel.gradient.kill_all
      .span5
        Or
      .span20
        %a#static_home_signup_linkedin_button.btn.btn-large.btn-inverse{ href: user_omniauth_authorize_path('linkedin') }
          %span#static_home_signup_linkedin_button_logo
            = image_tag 'home/button_logo_linkedin.png'
          %span
            Sign up with LinkedIn
