- provide(:title, 'Terms & Conditions')

#static_terms_container

  %h3 Intentions of the casenexus.com website/service
  .spacer15
  %p The Casenexus website is operated with the sole intention, informally, to facilitate interview practise between members/individuals, and and to provide additional tools and services to help our members/users to improve their interview performance.  Please forgive us, but regretfully, we need you to read and accept our Terms and Conditions of Service below, and acknowledge that you use our Service at your own risk.

  .spacer20
  %h3 TERMS AND CONDITIONS OF SERVICE
  .spacer15
  %p Your Statutory rights are not affected by any of the following terms and conditions.
  %p As part of our service, we agree to provide you with information and other services that we may decide to offer, subject to the terms of this agreement. Upon notice published through the service, we may modify this agreement at any time. You agree and continue to agree to use our services in a manner consistent with all applicable laws and regulations, and in accordance with the terms and conditions set out in the policies and guidelines outlined below. Please note that you will be referred to as 'member/user' in this agreement.

  .spacer5
  %h4 Rules For Online Conduct

  %p By using the service, you agree that you will not attempt to undermine the integrity of this web site.

  .spacer5
  %h4 Complaints and/or questions

  %p If we should receive a complaint from you, or any third party, about any part of our service, by phone,fax,e-mail or letter, then it will be dealt with promptly. We will reply within 5 working days, and it will then be dealt with confidentially and effectively. 

  %p If you have any questions about our Terms and Conditons of Service, the practices of this site, or your dealings with the Casenexus website, please contact:

  %p the Site Administrator of Casenexus - info@casenexus.com

  .spacer20
  %h3 PRIVACY
  .spacer15
  %p We have created this privacy statement in order to demonstrate our firm commitment to privacy. The following discloses our information gathering and dissemination practices for this web site.

  %p Our site uses cookies to identify you and help retrieve your information so you don't have to re-enter it each time you visit our site.

  %p Our site's registration form requires members/users to give us contact information, such as their name and email address, and unique identifiers. We use visitor and member contact information from the registration form and/or order form to send the visitor/member information about our service. The member's contact information is also used to contact the member when necessary if they have subscribed to the mail list. Users may opt-out of receiving future mailings by choosing to un-subscribe. 

  %p This site may contain links to other sites. We are not responsible for the privacy practices or the content of such web sites. Equally, Casenexus is not responsible for the privacy practices or the content of other websites that may be linked to this site or of any third party advertisers.

  .spacer5
  %h4 Acceptance of Privacy Statement

  %p Your use of our website, including any dispute concerning privacy, is subject to this privacy statement and the Terms and Conditions of Service.

  %p Any changes we may make to our privacy statement in the future will be posted on this page and, where appropriate, notified to you by e-mail or other suitable means. Your continued use of any portion of our website following posting and/or notification of the updated privacy statement will constitute your acceptance of the changes.

  .spacer5
  %h4 Effective Date

  %p This privacy statement was last revised on 3 November, 2012.

  .spacer20
  %h3 SECURITY
  .spacer15
  %p Casenexus has extensive security measures in place to protect the loss, misuse and alteration of the information under our control. All data is protected using the most advanced methods available. We do not store financial information like credit card numbers or personal financial information on this site. 

  %p We will exercise reasonable care in providing secure transmission of information between your computer and our servers, but given that no information transmitted over the Internet can be guaranteed 100% secure, we cannot ensure or warrant the security of any information transmitted to us over the Internet and hence accept no liability for any unintentional disclosure.

  .spacer20
  %h3 LIMITATION OF LIABILITY AND WARRANTY
  .spacer15
  %p Member/user agrees that use of our service is entirely at member's own risk. Services are provided 'as is,' without warranty of any kind, either express or implied, including without limitation any warranty for information, services, uninterrupted access, through or in connection with the service, including without limitation the results obtained through the service. Specifically, we disclaim any and all warranties, including without limitation: 1) any warranties concerning the availability, accuracy or content of information or services; and 2) any liabilities arising out of personal encounters resulting from the service, whether face-to-face or by use of video and audio technologies.

  %p This disclaimer of liability applies to any damages or injury caused by any failure of performance, error, omission, interruption, deletion, defect, delay in operation or transmission, computer virus, communication line failure, theft or destruction or unauthorized access to, alteration of, or use of record, whether for breach of contract, tortious behavior, negligence, or under any other cause of action. Member/user specifically acknowledges the service is not liable for the defamatory, offensive or illegal conduct of other customers or third-parties and that the risk of injury from the foregoing rests entirely with member/user.

  %p Neither the service nor any of its agents, affiliates or content providers shall be liable for any direct, indirect, incidental, special or consequential damages arising out of use of the service or inability to gain access to or use the service or out of any breach of any warranty. Member/user hereby acknowledges that the provisions of this section shall apply to all content on the service.

  .spacer20
  %h3 TRADEMARKS
  .spacer15
  %p All trademarks appearing on the service are trademarks of their respective owners. 

  %p Cookies? (mentioned in Privacy section above)

  .spacer20
  %h3 DELETING YOUR ACCOUNT
  .spacer15
  %p This site gives users options for removing their information from our database, to not receive future communications or to no longer receive mail list messages.

  %p You can send an email to us by using the contact form
