#devise_confirmations_new_panel
  = render 'shared/error_messages', object: resource

  = simple_form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f|
    .static_home_form_input_container
      .static_home_form_input_icon_container
        %i.input-icon.fui-user.huge
      = f.text_field :email, tabindex: "1", placeholder: "Enter your email address...", class: "span30 large"


    .application_submit_button_with_disable.btn.btn-red.btn-large.btn-block{tabindex: "2"}
      Resend confirmation instructions...


  = link_to "/", id: "static_forms_back_button", class: "btnbtn-micro" do
    %i.icon-arrow-left
    Return
