.modal-header
  %button.close{"data-dismiss" => "modal", type: "button"} ×

  %h3
    %span#modal_roulette_req_from
    New Roulette Request

.modal-body

  .row
    .span40
      / .row
      /   = @message
      / .spacer10
      .row
        %b= @request_user
        from
        %b= @request_user.city
        ,
        %b= @request_user.country
        would like to do a case with you on Skype.
      .spacer10
      .row#modal_roulette_req_status
        %blockquote
          "#{@request_user.status}"
    .span10.offset2
      .spacer40
      %a{:href => "skype:"+ @request_user.skype + "?call"}
        %img{alt: "Call " + @request_user.name + " on Skype now!", height: "63", src: "http://download.skype.com/share/skypebuttons/buttons/call_green_white_153x63.png", style: "border: none;", width: "153", class: "modal_roulette_req_skype", "data-original-title" => "Call " + @request_user.name + " on Skype now!", rel: "tooltip", "data-placement" => "bottom"}/

.modal-footer
  %a.btn{"data-dismiss" => "modal", href: "#"} Dismiss