.row
  .span5
    .spacer10
    = avatar_for(@roulette_user, 'icon')
  .span55.offset3
    .spacer15
    .application_name
      = @roulette_user.name
    .roulette_index_users_item_button_expand{"data-id" => @roulette_user.id }
      Show Status
      %i.icon-arrow-down.icon-small
  .span12
    .spacer20
    .btn.btn-small.roulette_index_users_item_button_request{"data-user_id" => @roulette_user.id}
      Send Request

  .span5
    .roulette_index_users_item_casecount
      = avatar_for(@roulette_user, 'chevron')

.row{ id: "roulette_index_users_item_status_" + @roulette_user.id.to_s, class: "roulette_index_users_item_status"}
  .span50.offset8
    = @roulette_user.status