= content_for :content do

  :javascript
    var socket = io.connect('https://cclough.rsj.jit.su');

    // on connection to server, ask for user's name with an anonymous callback
    socket.on('connect', function(){
    	// call the server-side function 'adduser' and send one parameter (value of prompt)
    	socket.emit('adduser', '#{Faker::Name.name}');
    });

    // listener, whenever the server emits 'updatechat', this updates the chat body
    socket.on('updatelog', function (username, data) {
    	$('#roulette_log').append('<div class=roulette_log_item>'+username + ': ' + data + '</div>');
    });

    // listener, whenever the server emits 'updateusers', this updates the username list
    socket.on('updateusers', function(data) {
    	$('#roulette_users').empty();
    	$.each(data, function(key, value) {
    		$('#roulette_users').append('<div class=roulette_users_item>' + key + '</div>');
    	});
    });

  .panel.gradient.roulette
    .row
      #roulette_users
    .row
      #roulette_log