- provide(:title, 'Roulette')

- content_for :javascript_includes do

  :javascript
    var roulette_index_username = "#{current_user.name}"

= content_for :content do

  .panel.gradient.roulette

    .span60.offset20

      %button#roulette_index_button_connect.btn.btn-large.btn-inverse
        %i.icon-share-alt.icon-white
        %span
          Connect

      .row
        #roulette_index_users
      .row
        #roulette_index_log