.row
  .span5
    .spacer10
    = avatar_for(@roulette_user, 'icon')
  .span30.offset3
    .spacer15
    .application_name
      = @roulette_user.name
  .span45.offset3
    .spacer20
    .span12.roulette_index_users_item_button_expand{"data-id" => @roulette_user.id }
      Show Profile
      %i.icon-arrow-down.icon-small
    .span10
      .btn.btn-small.roulette_index_users_item_button_request{"data-user_id" => @roulette_user.id}
        Send Request

  .span5.offset3
    .roulette_index_users_item_casecount
      = avatar_for(@roulette_user, 'chevron')

.row{ id: "roulette_index_users_item_status_" + @roulette_user.id.to_s, class: "roulette_index_users_item_status"}
  .span50.offset10
    = @roulette_user.status