%h3
  Your case appointment with #{@user_target.name} is now booked

%p You'll be sent an email to remind you about the appointment 2 hours before it starts.

%p= link_to "Click here to see the appointment", @url