%h3
  #{@user_from.name} has booked a case appointment with you

%p You'll be sent an email to remind you about the appointment 2 hours before it starts.

%p= link_to "Click here to see the appointment", @url