!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1
      Your contact request to #{@user_from.name} has been accepted
    %p
      To sign-in, follow this link:
      = link_to @url, @url