%h1
  #{@user_from.name} has accepted your Case Partner Request

%p You can now send messages between eachother, send and request case feedback, and see a chart of your scores with your case partner specially.

%p
  To sign-in, follow the link below:
%p= link_to @url, @url