%h1
  #{@user_from.name} has requested to add you as a case partner!
%p
  = @message

%p If you accept you will be able to send messages between eachother, send and request case feedback and see a chart of your scores with your case partner specially.

%p
  To accept this request, follow this link:
  = link_to @url, @url, :method => "put"
