!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1
    	You have been sent a contact request by #{@user_from.name}
    %p
      = @message
    %p
    	To accept this request, follow this link: 
      = link_to "Confirm friend?", friend_path(@user_from), :method => "put"