/ #{@invitation.user.name}

%p Dear #{@invitation.name},

%p We'd like to invite you to join a new website, casenexus.com, that we're hoping will be the 'missing link' in the provision for management consulting candidates preparing for case interviews around the world. You are amongst the first 100 users to be asked to participate in the invite-only testing period.

%b For you, the site is completely free.

%p The idea is simple: help candidates meet others to practise with. Developed by Cambridge University students to help them prepare for their own interviews, it's been designed from the ground-up, using the latest web technologies.

%p Key features of the site include:

%ul
  %li
    A global map of users
    %ul
      %li Find other candidates who work or live immediately near you, and arrange to meet at a local coffee shop to practise a case or two.
      %li Search for others around the world with things in common, e.g. who are applying to the same firms, and practise cases with them via Skype.
  %li
    Case "Roulette"
    %ul
      %li Only got 45 minutes free after work to do a case? No time to schedule one with someone nearby?
      %li Use the Roulette feature to practise with others online at the same time as you, using Skype.
  %li
    Feedback and your performance
    %ul
      %li Your "interviewers" can, if you wish, complete a feedback form for you, giving scores and comments for you to review later on.
      %li Scoring criteria have been carefully selected by top-3-firm professional consultants with many years of interviewing experience
      %li Your scores can be viewed graphically, enabling you to track your progress over time, and identify where you need to improve the most.

%p This is an exciting time for us - we hope you enjoy the site, and wish you every success in your upcoming interviews.

%p Ready? Click the link below, and use the following unique invitation code to sign up with either your univeristy email address or, if you are not currently at a listed university, your LinkedIn account: 

%p= @invitation.code

%p= link_to("Proceed to sign up at casenexus.com", invitation_registration_url(code: @invitation.code))

%p When you sign up you will get 5 invitations to give to good friends, accessible in your profile settings - do please use them.

%p Good luck!

%p - casenexus.com