%p Dear #{@invitation.name},

%p We hear you are preparing for strategy consulting case interviews, and would like to invite you to something a little bit different, and special.

%p We are students from Cambridge University, and we believe that if you are serious about achieving offers from the top firms, you need to aim to have completed more than 50 live practice cases before walking into your first round interview.

%p We've designed a website that helps you do this, and are pleased to open it up to you today free of charge, as one of the founding first 100 to be invited.

%ul
  %li Find others to practise case interviews with
  Practise cases with others who live or work near you, or anywhere in the world with whom you have something in common via Skype.

  %li Case Roulette: time for a quick case after work? Practise case interviews with others who are online at the same time as you

  %li "Interviewers" complete a feedback form
  Designed by top-3-firm professional consultants, the person playing the interviewer scores and comments on the interviewees performance

  %li Analyse your progress
  Scores are recorded and displayed graphically, enabling you to identify your weakest areas and track your progress over time

%p With the invitation below you can invite 5 others, accessible from your profile settings.

%p Take a look around. There are some features that we think you might just like.

%p Good luck.

= link_to("Accept my invitation", invitation_registration_url(code: @invitation.code))


  
