%p Dear #{@invitation.name},

%p We hear you are preparing for strategy consulting case interviews, and would like to invite you to something a little bit different, and special.

%p We are students from Cambridge University, and believe that if you are serious about achieving offers from the top firms, you should be aiming to have completed more than 50 live practice cases before walking into your first round interview.

%p We've designed a site that helps you do this. You can

%ul
  %li 
    %b Find Case Partners 
    to practise with in person at a local coffee shop, or via Skype, from anywhere in the world

  %li 
    %b Play "Case Roulette" - 
    just time for a quick case after work? Find others who do too

  %li 
    %b Score each other
    using a structured feedback system designed by top-3-firm consultants

  %li 
    %b Track your progress - 
    all your scores are recoreded and displayed graphically, showing you where to improve

%p We are excited to open it up to you today for free, as one of the founding first 100 to be invited. With your invitation you can also invite 5 friends, accessible from your profile settings.

%p Take a look around - we're hoping you'll like it.

%p Good luck!

= link_to("Accept my invitation", invitation_registration_url(code: @invitation.code))

  