%p Dear #{@invitation.name},

%p We hear you are preparing for strategy consulting case interviews, and would like to invite you to casenexus.com

%p Good luck!

= link_to("Accept my invitation", invitation_registration_url(code: @invitation.code))

  