%h3
  You have unlocked the ability to up vote content

%p You have more than 5 reputation points and can now up vote questions, answers and comments.

%p= link_to "Click here to go to your notifications", @url