%h3
  You have unlocked the ability to down vote content

%p You have more than 20 reputation points and can now down vote questions, answers and comments.

%p= link_to "Click here to go to your notifications", @url