%h3
  = "Dear #{@user.first_name}"
%p
  Your status was rejected by an administrator.
%p
  Before you can be contacted by other users, your status must be approved. Sign in below to ammend it:
%p
  = link_to("Sign in to casenexus.com", root_url)