%h1
  = "Dear #{@user.first_name}"
%p
  Your status was rejected, and it is not visible by other users on the website.
%p
  Your status should follow the next rules:
  %ul
    %li Rule 1
    %li Rule 2
%p
  To login and update your status, follow this link:
  = link_to(root_url, root_url)