%h1
  = "Dear #{@user.first_name}"
%p
  Your Status has been approved - other users can now read this and will start to send you requests to be their case partner.
%p
  To login, follow this link:
  = link_to(root_url, root_url)