%p= "Dear #{@user.first_name}"

%p
  Your status was rejected by an administrator.
%p
  Before you can be contacted by other users, your status must be approved. Sign in, and visit your profile Settings to ammend it.
%p
  = link_to("Sign in", root_url)