%h1
  = "Dear #{@user.first_name}"
%p
  Your status on your profile was approved and now you are ready to start new cases on Casenexus.com
%p
  To login, follow this link:
  = link_to(root_url, root_url)