%h3 Welcome, #{@user_target.first_name}

%p Your first step should be to start sending other users a 'Case Partner request' via the Map page. Once they accept, you will open up the rest of the site's functions.

%p As you start to explore, the Help dialog will open automatically to explain things - do read it carefully to ensure you don't miss anything.

%p A few points to note:
%ul
  %li We take your privacy seriously. Scores and comments you receive in your case feedback are your own, and are not shared with anyone.
  %li The site is designed to complement your existing case interview preparation materials - we don't provide any.

%p You are a founding user, and we are glad to have you on board at this early stage. We would be grateful if you would communicate with us as often as possible, to help improve the site into something that you find useful and that many might benefit from.

%p= link_to("Sign in now", @url)