%h3 Welcome, #{@user_target.first_name}

%p Thank you for joining casenexus.com, we hope you find the site useful.

%p As you start to explore the site, the help dialog will pop-up automatically as you visit certain pages to explain things - do take a minute to read it so you don't miss anything. To stop it popping-up on that page in the future, uncheck the box in the bottom left.

%p Once you've had a look around, the first step is to search for other users and send them a Case Partner request. Once they have accepted you, can communicate freely to schedule practice cases, and send each other feedback on cases you do.

%p Alternatively if you're in a rush to get started, you can use the Roulette to jump into a case with someone immediately.

%p As the founding users, we'd be incredibly grateful if you would, as much as you can, tell us about any bugs you come across - we're expecting a bumpy ride to start with, and are counting on your help! More broadly, we would be very keen to hear your suggestions for how we could improve the site, no matter how minute or radical. 

%p Apart from the different contact forms on the website, feel free to contact us directly at #{link_to 'info@casenexus.com', 'mailto:info@casenexus.com'}

%p If you signed up with your university email address, head to the home page and sign in using the form at the top, with: #{@user_target.email}. If you signed up with your LinkedIn account, look for the button in the top right hand corner.

%p= link_to "casenexus.com", @url