#static_home_panel_left

  #static_home_title
    Welcome to
    #static_home_title_url
      casenexus
      %span#static_home_title_beta
        BETA
  #static_home_subtitle
    Platform for live case interview practice

  #static_home_logo
    / = image_tag "home/logo.png"
    = image_tag "art/complete_scenario_f2f.png"

  #static_home_footer
    %span.pull-right
      = link_to "Contact", "#", id:"static_home_footer_contact"
    %span.pull-left
      &#169; casenexus.com


#arrivals_panel_right

  .spacer100

  %p
    Hello <b>LSE student</b>,

  %p Created by an Oxford graduate from the UK, Casenexus helps you organise live practice case interviews for strategy consulting firms such as <b>McKinsey, Bain and BCG</b>:

  %ul
    %li
      Get matched with a partner from another <b>top-tier university</b> with <b>equivalent case experience</b>
    %li
      Be placed in a video call <b>within 24 hours time</b> at a time that suits you across time zones
    %li
      <b>Review feedback</b> from your partner, and track your performance over time

  %p To be transparent, we ask <b>$10 per month</b> for this service.

  .spacer20
  %center
    = link_to new_arrival_path, class: "btn btn-large" do
      Sign me up