- if @id.blank? then @id = friend_id end


- @sender = User.find(@id)
- @notifications = Notification.history(current_user, @sender)



- if @notifications.count > 0
  - @notifications.each do |notifications_show_item|

    = render partial: 'notifications/notifications_show_item' , locals: { notifications_show_item: notifications_show_item }

- else
  #modal_message_conversation_empty
    No messages found