
- if @unread_count.blank? then @unread_count = current_user.notifications.unread.for_display.count end

= link_to notifications_path do
  .application_profilenav_item{:class => ("active" if params[:controller] == "notifications") }
    %i#application_profilenav_item_icon_notifications.icon-envelope.icon-fixed-width.notifications_glowable{class: ("unread" if @unread_count > 0)}
    - if @unread_count > 0
      %span.iconbar-unread
        = @unread_count.to_s
    .application_profilenav_item_text
      Notifications