- if @unread_count.blank? then @unread_count = current_user.notifications.unread.for_display.count end
- if @notifications.blank? then @notifications = Notification.header(current_user) end

%a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#", "data-original-title"=>"You have " + @unread_count.to_s + "  unread notification(s)", rel: "tooltip", "data-placement"=>"bottom", class: "application_tooltip"}
  / notifications icon + notification count
  %i#header_nav_icon_notifications.icon-comments-alt.icon-white.icon-large{class: ("unread" if @unread_count > 0)}
  - if @unread_count > 0
    #header_menu_notifications_unreadcount
      = @unread_count.to_s
%ul.dropdown-menu
  %li
    / see all link
    = link_to "See all", '/notifications', style: "text-align:center;"
  %li.divider

  / Build notification list for notifcations icon
  - if @notifications.count > 0
    - @notifications.each do |notification|

      / render notification_header partial
      = render partial: '/notifications/menu_item' , locals: { :notification => notification }

  - else
    #header_menu_notifications_empty
      #header_menu_notifications_empty_icon
        %i.icon-envelope
      %p You have no unread notifications