
- if @unread_count.blank? then @unread_count = current_user.notifications.unread.for_display.count end

= link_to notifications_path do
  .application_profilepanel_item{:class => ("active" if params[:controller] == "notifications") }
    %i#application_profilepanel_item_icon_notifications.icon-envelope.icon-fixed-width
    - if @unread_count > 0
      %span.iconbar-unread.notifications_glowable{class: ("unread" if @unread_count > 0)}
        = @unread_count.to_s
    .application_profilepanel_item_text
      Notifications