
.notifications_index_notifications_item 
  / {"data-user_id"=>notifications_item.sender.id.to_s}
  .row
    .span5
      .span3.notifications_index_notifications_item_avatar
        = image_tag "avatars/icon.png"
    .span12
      .row
        %strong
          / - unless notifications_item.sender == nil 
          /   = notifications_item.sender.name_trunc
          = notifications_item.name

      .row.application_timestamp
        / - if notifications_item.content_trunc.blank?
        /   = notifications_item.title
        / - else
        /   notifications_item.content_trunc

    .span3
      / = notifications_item.created_at.strftime("%d %b '%y")




    / .span21
    /   .notifications_index_notifications_item_title
    /     = notifications_item.title
    /   .notifications_index_notifications_item_content_trunc.font-small{ id: 'notifications_index_notifications_item_content_trunc_' + notifications_item.id.to_s }
    /     = notifications_item.content_trunc


    / .span15.notifications_index_notifications_item_action.font-small.pull-right
    /   = render partial: 'notifications_item_actions' , locals: { notifications_item: notifications_item }