- if notifications.size > 0
  / = render partial: 'notifications/notifications_item', locals: {notifications_item: current_user.notifications_sent.last, asso_user: current_user}
  - notifications.each do |notifications_item|
    - asso_user = ((notifications_item.sender == current_user) ? notifications_item.user : notifications_item.sender)
    = render partial: 'notifications/notifications_item' , locals: { notifications_item: notifications_item, asso_user: asso_user }
- else
  #notifications_index_notifications_empty
    #notifications_index_notifications_empty_icon
      %i.icon-envelope
    %p No notifications!

= will_paginate @notifications, class: "application_pagination", inner_window: 2, outer_window: 2