.notifications_index_notifications_item{"data-user_id"=>asso_user.id.to_s}
  .row
    .span5
      .span3.notifications_index_notifications_item_avatar
        %span.fui-user
    .span12
      .row
        .notifications_index_notifications_item_name.application_truncatable
          / - unless notifications_item.sender == nil 
          /   = notifications_item.sender.username_trunc
          = asso_user.username

      .row
        .notifications_index_notifications_item_caption.application_truncatable
          - if notifications_item.content_trunc.blank?
            = notifications_item.title
          - else
            = notifications_item.content_trunc

    .span1.offset1.application_timestamp
      = notifications_item.date_fb
      / = notifications_item.created_at.strftime("%d %b '%y")