

= form_tag notifications_path, method: 'get', id: "notifications_index_notifications_form" do

  #notifications_index_notifications_form_search_container
  
    = text_field_tag :search, params[:search], placeholder: "Search...", "data-original-title"=>"Search your notifications", rel: "tooltip", "data-placement"=>"bottom", class: 'application_tooltip', id: "notifications_index_notifications_form_search_field"

    %button.btn.btn-small.btn-red{type: "submit"}
      %i.icon-search