- provide(:title, 'Your Notifications')
- provide(:sub_title, 'Browse through all of your notifications')

.row
  .span30
    = render 'notifications_form'

    #notifications_index_notifications
      = render :partial => 'notifications', :locals => { :notifications => @notifications }

    = link_to 'Load More Notifications', notifications_path(:page => @notifications.next_page), :class => 'load-more-posts', :remote => true if @notifications.next_page


  .span64#notifications_index_conversation.panel.darker.kill_right

    .row
      #notifications_index_notifications_empty
        #notifications_index_notifications_empty_icon
          %i.icon-envelope
        %p Open a Conversation
