- provide(:title, 'Your Notifications')
- provide(:sub_title, 'Browse through all of your notifications')


.span23
  = render 'notifications_form'
  #notifications_index_notifications
    = render 'notifications'
.span50#notifications_index_conversation
  .row.panel.darker.kill_right
