- provide(:title, 'Your Notifications')

- if @notifications.count > 0
  - @notifications.each do |notification|

    = render partial: 'notifications/notification' , locals: { :notification => notification }

- else
  %p You currently have no notifications

= will_paginate @notifications, class: "application_pagination", :inner_window => 2, :outer_window => 2