- provide(:title, 'Your Notifications')
- provide(:sub_title, 'Browse through all of your notifications')

= render 'notifications_form'

.panel.gradient.kill_all
  #notifications_index_notifications
    = render('notifications')