- provide(:title, 'Your Notifications')
- provide(:sub_title, 'Browse through all of your notifications')


.span23
  = render 'notifications_form'
  #notifications_index_notifications

    = render :partial => 'notifications', :locals => { :notifications => @notifications }

  = link_to 'Load More Notifications', notifications_path(:page => @notifications.next_page), :class => 'load-more-posts', :remote => true if @notifications.next_page

  
.span50#notifications_index_conversation
  .row.panel.darker.kill_right
