
.span4
  #application_notify_avatar
    = avatar_for(@notification.sender,size:"medium")
.span23.offset1
  #application_notify_name.application_truncatable
    = @notification.sender.username
  .row
    = @notification.title
  .row
    = @notification.content_trunc
.pull-right
  %button#application_notify_close.close ×