- provide(:title, 'Notification History')
- provide(:sub_title, 'with ' + @user.name)


#notifications_show_header
  %a#notifications_show_header_back
    .row
      .span2
        %i.icon-arrow-left.icon-large
      #notifications_show_header_back_text.span20
        Go back to where you were



- if @notifications.count > 0
  - @notifications.each do |notifications_history_item|

    = render partial: 'notifications/notifications_history_item' , locals: { :notifications_history_item => notifications_history_item }

- else
  %p No notifications found


/ repeated from member#show - should we put this in a helper?
- if Friendship.friends?(current_user, @user)
  #notifications_show_footer
    .row

      - if @user.last_online_at
        .pull-left
          .application_lastonline
            Last online:
            = time_ago_in_words(@user.last_online_at)
            ago

      %a#notifications_show_footer_button_message.btn.btn-inverse.btn-small.pull-right
        %i.icon-comment.icon-white
        %span
          Send Message