#notifications_show_back
  %i.icon-arrow-left.icon-large


- if @notifications.count > 0
  - @notifications.each do |notifications_history_item|

    = render partial: 'notifications/notifications_history_item' , locals: { :notifications_history_item => notifications_history_item }

- else
  %p No notifications found


/ repeated from member#show - should we put this in a helper?
- if Friendship.friends?(current_user, @user)
  #users_show_conversation
    = link_to "Show Conversation History", notification_path(@user)
  %a#users_index_user_button_message.btn.btn-inverse.btn-small
    %i.icon-comment.icon-white
    %span
      Reply

- elsif Friendship.requested?(current_user, @user)
  .alert.alert-info
    Contact Request Pending

- elsif @user != current_user
  %a#users_index_user_button_friend_req.btn.btn-inverse.btn-small
    %i.icon-comment.icon-white
    %span
      Send Friend Request