- if @notifications.count > 0
  - @notifications.each do |notifications_history_item|

    = render partial: 'notifications/notifications_history_item' , locals: { :notifications_history_item => notifications_history_item }

- else
  %p No notifications found