- if @cases.count > 0
  - @cases.each do |cases_item|
    = render partial: 'cases/cases_item' , locals: { cases_item: cases_item }

- else
  #cases_index_cases_form_body_empty
    #cases_index_cases_form_empty
      #cases_index_cases_form_empty_icon
        %i.icon-edit
      %p No case feedback yet!

= hidden_field_tag :direction, params[:direction]
= hidden_field_tag :sort, params[:sort]
  
#cases_index_cases_form_paginate
  = paginate @cases