= form_tag cases_path, method: 'get', id: "cases_index_cases_form", onsubmit: 'return false' do
  .row
    / search field
    = text_field_tag :search, params[:search], placeholder: "Search cases...", id: "cases_index_cases_form_searchfield", class: 'search-query'
  .spacer5
  .row
    #cases_index_cases_form_sort
      = sortable "subject"

  #cases_index_cases
  / content is rendered by index.js.erb