.cases_new_scoreselector_container{id: "cases_new_scoreselector_" + criteria }
  - (1..5).each do |i|
    - class_content = "cases_new_scoreselector_button btn btn-colour"
    - if i == existing_score
      - class_content = "cases_new_scoreselector_button btn btn-colour active"
    - else
      - class_content = "cases_new_scoreselector_button btn btn-colour"

    = content_tag :div, class: class_content, "data-score" => i, "data-criteria" => criteria, "data-category" => category do
      = i
      - if i == 1
        .cases_new_scoreselector_button_desc
          POOR
      - elsif i == 5
        .cases_new_scoreselector_button_desc
          GOOD