.panel.type1
  %table
    %tr
      %td
        Total Cases
      %td
        = avatar_for(current_user)
        #50
    %tr
      %td
        1st Case Date
      %td
        = current_user.cases.first.created_at.strftime("%m/%d/%Y") unless current_user.casecount < 1
    %tr
      %td
        Avg Score /50
      %td
        36.4
    %tr
      %td
        Improvement Rate, %
      %td
        5%/week
    %tr
      %td
        Weakest Skill
      %td
        Analytical (Avg 5.4/10)

.btn
  Print Analysis for Interview