- provide(:title, 'Your Progress')
- provide(:sub_title, 'Statistics calculated from your feedback from other users')

- content_for :javascript_includes do

  :javascript
    var cases_analysis_chart_radar_data = #{Case.cases_analysis_chart_radar_data(current_user)};
    var cases_analysis_chart_progress_pathToImages = "/assets/amcharts/";
.row
  .span25
    .row
      = render 'stats'
  .span69
    .row
      .panel.dark.kill_left.kill-right
        #cases_analysis_chart_progress      
.row
  .span42
    .panel.dark.kill_top
      #cases_analysis_chart_radar.cases_radar
  .span50
    = render 'comments'
      

