- provide(:title, 'Your Progress')
  
:javascript
  var chartData_analysis_radar = #{Case.chart_analysis_radar(current_user)};


%table{:style => "width:100%;"}
  %tr
    %td{:style => "width:240px;", :valign => "top"}

      = render 'stats'

    %td{:valign => "top"}

      = render 'comments'

    %td{:style => "width:340px;"}

      #chart_radar{:style => "height: 300px; width: 340px;"}

#chart_progress{:style => "width:100%; height:350px;"}

