- provide(:title, 'Your Progress')

= content_for :content do

  :javascript
    var chartData_analysis_radar = #{Case.chart_analysis_radar(current_user)};

  .row
    .span51
      .row
        .span25
          = render 'stats'
        .span25
          = render 'comments'
    .span40
      .panel.transparent.kill_left
        #cases_analysis_chart_radar.cases_radar
  .row
    .span94
      .panel.kill_top
        #cases_analysis_chart_progress{:style => "width:100%; height:350px;"}

