$("#cases_index_cases").html("<%= escape_javascript(render("cases")) %>");

// Sort pull down text
<%- if params[:sort] == "subject" %>
$("#cases_index_cases_form_button_sort").html("Subject <span class=caret></span>");
<%- elsif params[:sort] == "date" %>
$("#cases_index_cases_form_button_sort").html("Date <span class=caret></span>");
<%- end %>


$("#cases_index_cases .application_pagination a, #cases_index_cases_form_sort a").on("click", function() {
  $.getScript(this.href);
  return false;
});

// Tooltips on Avatars
$(".application_avatar_icon").tooltip();