- provide(:title, 'Your Cases')
- provide(:sub_title, 'Records of all your case feedback')

/ NB cas is used instead of 'case' as it's apparently used for something else in rails and fails!
.span32
  .panel.dark
    = render 'cases_form'
.span62
  #cases_index_case
