- provide(:title, 'Your Cases')
- provide(:sub_title, 'Records of all your case feedback')

- content_for :javascript_includes do
  = javascript_include_tag "cases"
  = javascript_include_tag "lib/amcharts"

  - if !current_user.help_5_checked
    :javascript
      $(document).ready(function() {
        window.setTimeout("window.application_show_help(5)", 1000);
      });


/ NB cas is used instead of 'case' as it's apparently used for something else in rails and fails!
.span30
  = render 'cases_form'
.span64
  #cases_index_case
    #cases_index_case_filler.panel.dark.span60
      Select a case
