- if current_user.case_count_recd > 0
  .cases_resultstable_container
    = render "cases/results_table"
  = render "cases/results_table_form"

- else
  #cases_resultstable_table_empty
    #cases_resultstable_table_empty_icon
      %i.icon-bar-chart
    %p You must do at least one case, 
    %p before this table will work
