- content_for :javascript_includes do

  :javascript

    var cases_analysis_chart_case_count = #{@case_count_bracket};

    $(document).ready(function(){
      if (cases_analysis_chart_case_count == 0) {
        $("#cases_analysis_chart_table_empty").fadeIn("fast");
      } else {
        window.cases_resultstable_bars_draw();
      }
    });

.modal-body
  #cases_analysis_section_table.cases_analysis_section
    .panel.dark.kill_all
      .row
        - if current_user.case_count_recd > 0
          = render "results_table_form"

          .cases_resultstable_container
            = render "results_table"
        - else
          #cases_analysis_section_table_empty
            #cases_analysis_section_table_empty_icon
              %i.icon-bar-chart
            %p You must do at least one case, 
            %p before this table will work


.modal-footer

  %a.btn{"data-dismiss" => "modal", href: "#"} Close








