.btn.users_index_users_item{id: "users_index_users_item_" + users_item.id.to_s + "_" + users_item.lat.to_s + "_" + users_item.lng.to_s }
  .row
    .span6
      .application_avatar
        = avatar_for(users_item)
    .span25.users_index_users_item_text
      .row
        %strong
          = users_item.name
      .row
        = users_item.status_trunc