#devise_passwords_new_panel
  = render 'shared/error_messages', object: resource

  = simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
    .control-group
      = f.text_field :email, tabindex: "1", placeholder: "Enter your email address...", class: "span30 large"
      %i.input-icon.fui-user.huge

    = f.button :submit, "Reset my password...", class: "btn btn-default btn-large btn-block", tabindex: "2"
