- if current_user.friend_with?(@user)
  %a#users_index_user_button_message.btn.btn-inverse
    %i.icon-comment.icon-white
    %span
      Message
      
- elsif current_user.invited? @user
  .alert.alert-info
    Partner Request Pending

- elsif (@user != current_user)
  %a#users_index_user_button_friend_req.btn.btn-inverse
    %i.icon-comment.icon-white
    %span
      Send Friend Request