- if object.errors.any?
  .error_explanation
    - if object.errors.count == 1
      %h2 We found a error
    - else
      %h2 We found some errors

    %ul
      - object.errors.full_messages.each do |msg|
        %li= msg
