#modal_help.modal.hide.fade{"data-backdrop" => "false"}

  .modal-header
    %button.close{"data-dismiss" => "modal", type: "button"} ×

    #modal_help_arrownav
      %nav
        %ul
          %li
            %a{:href => "#1"} 
              / %span.modal_help_arrownav_title_number 1.
              Basics
          %li
            %a{:href => "#2"}
              / %span.modal_help_arrownav_title_number 2. 
              Map
          %li
            %a{:href => "#3"}
              / %span.modal_help_arrownav_title_number 3. 
              Roulette
          %li
            %a{:href => "#4"}
              / %span.modal_help_arrownav_title_number 4.
              Feedback form
          %li
            %a{:href => "#5"}
              / %span.modal_help_arrownav_title_number 5. 
              Case index
          %li
            %a{:href => "#6"}
              / %span.modal_help_arrownav_title_number 6. 
              Progress analysis

        %span.arrow


        
  .modal-body

    #application_arrownav_page_1.arrownav_page

      #modal_help_page_1

        .modal_help_header_icon
          %i.icon-cog
        .modal_help_header_title First Steps
        .modal_help_header_sub ...how to get around

        .spacer100
        %ul
          %li
            Find someone you'd like to practise with
          %li
            Add them as a friend, introducing yourself

    #application_arrownav_page_2.arrownav_page

      #modal_help_page_2

        .modal_help_header_icon
          %i.icon-pushpin
        .modal_help_header_title Map
        .modal_help_header_sub ...find other candidates to practise with



        
    #application_arrownav_page_4.arrownav_page

      #modal_help_page_4

        .modal_help_header_icon
          %i.icon-edit
        .modal_help_header_title Feedback form
        .modal_help_header_sub ...give the "interviewee" feedback on their performance


    #application_arrownav_page_5.arrownav_page

      #modal_help_page_5

        .modal_help_header_icon
          %i.icon-list-ul
        .modal_help_header_title Case index
        .modal_help_header_sub ...review your case feedback


    #application_arrownav_page_6.arrownav_page

      #modal_help_page_6

        .modal_help_header_icon
          %i.icon-bar-chart
        .modal_help_header_title Progress analysis
        .modal_help_header_sub ...so this is just a bit of fun; but maybe you'll find it useful


  .modal-footer
    .pull-left
      #modal_help_checkbox_container

    %a.btn.pull-right{"data-dismiss" => "modal", href: "#"} Close

