#modal_help.modal.hide.fade

  .modal-header
    %button.close{"data-dismiss" => "modal", type: "button"} ×

    #modal_help_arrownav
      %nav
        %ul
          %li
            %a{:href => "#1"} 
              / %span.modal_help_arrownav_title_number 1.
              Basics
          %li
            %a{:href => "#2"}
              / %span.modal_help_arrownav_title_number 2. 
              Map
          %li
            %a{:href => "#3"}
              / %span.modal_help_arrownav_title_number 3. 
              Roulette
          %li
            %a{:href => "#4"}
              / %span.modal_help_arrownav_title_number 4.
              Feedback Form
          %li
            %a{:href => "#5"}
              / %span.modal_help_arrownav_title_number 5. 
              Case Index
          %li
            %a{:href => "#6"}
              / %span.modal_help_arrownav_title_number 6. 
              Progress Analysis

        %span.arrow
  .modal-body

    #application_arrownav_page_1.arrownav_page

      #modal_help_page_1
        .offset28
          %h3 ...how to get around casenexus.com
        .set-1a
          %h4 i) Map
          %p Find other candidates
        .set-1b
          %h4 ii) Roulette
          %p Do a case with someone at any time.
        .set-1c
          %h4 iii) Help
          %p Opens this dialog
        .set-1d
          %h4 iv) Feedback
          %p Tell us about bugs, or suggest ways to improve the site
        .set-1e
          %h4 v) Notifications
          %p All correspondance from your case partners can be found here.
          %p 
            %span.font-bold Accept case partner requests 
            %span here too.
        .set-1f
          %h4 vi) Profile Menu
          %ul.modal_help_list
            %li
              %b
                Case index - 
              review your individual feedback records
            %li
              %b
                Progress analysis -
              your feedback scores shown graphically
            %li
              %b
                Settings -
              change your settings, status, and location 

    #application_arrownav_page_2.arrownav_page
      #modal_help_page_2
        .offset19
          %h3 ...find other candidates to practise with
        .set-2a
          %h4 i) The Map
          %p Find other candidates who live or work near you - click on a marker to see their profile
        .set-2b
          %h4 ii) Markers & Chevrons
          %p Browse for other candidates - click on a candidates list entry to see their profile
          %p Select 'contacts' to see your approved case partners
        .set-2c
          %h4 iii) User profile
          %p When two candidates approve each other as case partners, they can send messages and feedback to each other at anytime
          %p When you send a case partner request, sell yourself and explain why they might want to practise with you
        .set-2d
          %h4 iv) Status
          %p When two candidates approve each other as case partners, they can send messages and feedback to each other at anytime

        .set-2e
          %h4 v) Feedback
          %p When two candidates approve each other as case partners, they can send messages and feedback to each other at anytime

        .set-2f
          %h4 vi) User list
          %p Browse for other candidates - click on a candidates list entry to see their profile
          %p Select 'contacts' to see your approved case partners

    #application_arrownav_page_3.arrownav_page
      #modal_help_page_3
        .offset25
          %h3 ...practise with someone now
        .set-3a
          %h4 i) Connect
          %p Click the 'Join' button to connect to case roulette
          %p You are now visible as 'online' to all other users on the roulette page
          %p Sit back, relax and wait for other users to contact you
        .set-3b
          %h4 ii) Roulette Request
          %p When another user sends you a request, a popup will appear on your screen, showing the other user's status and their Skype address.
          %p Click the 'call me' button, to call them on Skype and start a case, if you wish
          %p Alternatively find candidates in the list, and send them a request yourself
        .set-3c
          %h4 iii) Jump to Skype to start a case
          %p Candidates on the roulette are likely not to be your case partners, so as a security measure, to send them feedback on the case, ask the interviewee for their 'roulette token', a ranomly generated code, at the top of the page.
          %p Enter their code into your roulette window to be taken to a feedback form for them

    #application_arrownav_page_4.arrownav_page
      #modal_help_page_4
        .offset15
          %h3 ...fill out a feedback form for your case partner
        .set-4a
          %p This form has been carefully designed by top-3 firm consultants with many years of interviewing experience
        .set-4b
          %h4 ii) Scoring Criteria
          %p The three main criteria
          %ul
            %li Business Analytics
            %li Interperonsal
            %li Structure
          %p ...and their sub-criteria, comprise everything interviewers look for, and on which candidates can fail
          %p
            %b If this is your first time using this form, for the benefit of your case partner, take time to carefully read the descriptions of each sub-criteria, by moving your mouse over each
        .set-4c
          %h4 iii) Move the Sliders
          %p Move the sliders to give your case partner a score between 1-10 for each sub-criteria - you are required to give a score on each.
          %p 1 is the worst, 10 is the best - anything below 5 should be considered a bad score.
          %p The sub-scriteria scores are averaged to give a total score for the main critera
        .set-4d
          %h4 iv) Make Comments
          %p Enter your comments in the text boxes on the right for each criteria
          %p Use the controls to structure your comments with bullet points
          %p Be as detailed, but concise as possible
        .set-4e
          %h4 i) Top 3 Recommendations
          %p Specify three areas they should prioritise going forward

    #application_arrownav_page_5.arrownav_page
      #modal_help_page_5
        .offset25
          %h3 ...review your case feedback
        .set-5a
          %h4 i) A library of feedback to learn from
          %p All case feedback from others is saved and accessible here for you review at any time
          %p Browse and search through cases you've done
          %p Click on a case in the list on the left to see the record
        .set-5b
          %h4 ii) Case Record
          %p Radar chart showing your scores for each of the sub-criteria. Click on the 'combined' button to see your average scores for the main criteria
          %p Your scores, comments and top 3 recommendations
          %p Smaller radar charts showing your sub-criteria scores. Move your mouse over a point to see the critera name
        .set-5c
          %h4 iii) Radar Chart
          %p xxx
          %p xxx
    #application_arrownav_page_6.arrownav_page
      #modal_help_page_6
        .offset8
          %h3 ...so this is just a bit of fun, but maybe you'll find it useful
        .set-6b
          %h4 i) Progress Chart
          %p Shows, over time, averaged scores for the three main scoring criteria
        .set-6c
          %h4 ii) Radar Chart
          %p Compare scores in your first and last cases, and overall average in the sub- and main criteria.
          %p Look for criteria you are consistenly weak in, and target them in your practice.
        .set-6d
          %h4 iii) Comment Aggregator
          %p Browse through comments under the main scoring criteria


  .modal-footer
    .pull-left
      #modal_help_checkbox_container

    %a.btn.pull-right{"data-dismiss" => "modal", href: "#"} Close

