#modal_help.modal.hide.fade
  .modal-header
    %button.close{"data-dismiss" => "modal", type: "button"} ×

    %h3 casenexus.com

  .modal-body

    %p
      FUCK! HELP!

  .modal-footer
    %a.btn{"data-dismiss" => "modal", href: "#"} Close