#application_container_online_title
  Your friends
#application_container_online_friends{ class: ("non_response" if nonresponse == 1) }
  - for online_friend_item in current_user.accepted_friends
    .application_container_online_item

      - @online_user_type = "friend"
      - @online_user = User.find(online_friend_item.id)

      = render partial: 'shared/online_user_item'


/ - if User.list_online_recently_notfriends(current_user).count > 0
#application_container_online_title
  Other users
#application_container_online_nonfriends

  - for online_friend_item in User.list_online_recently_notfriends(current_user)
    .application_container_online_item

      - @online_user_type = "nonfriend"
      - @online_user = User.find(online_friend_item.id)

      = render partial: 'shared/online_user_item'

#application_container_online_posts
  #application_container_online_title
    Posts
  = render 'shared/posts'
