- unless @book_partnertoprepare.blank?
  %a.btn.btn-primary.btn-embossed{ href:"/console?friend_id=" + @event.partner.id.to_s + "&book_id=" + @book_partnertoprepare.id.to_s }
    %i.icon-arrow-right.icon-white
    Start case now as Interviewer
- else
  %a.btn.btn-primary.btn-embossed{ href:"/console?friend_id=" + @event.partner.id.to_s }
    %i.icon-arrow-right.icon-white
    Start case now as Interviewer