- unless @book_usertoprepare.blank?
  %a.btn.btn-primary.btn-embossed{ href:"/console?friend_id=" + @event.partner.id.to_s + "&book_id=" + @book_usertoprepare.id.to_s }
    %i.icon-arrow-right.icon-white
    Start case as Interviewer
- else
  %a.btn.btn-primary.btn-embossed{ href:"/console?friend_id=" + @event.partner.id.to_s }
    %i.icon-arrow-right.icon-white
    Start case as Interviewer