- provide(:title, 'Calendar')
- provide(:sub_title, 'Your case appointments')

.spacer20
.row.application_bootstrap_alert_blue
  Your next case is in xx days with xx
.row.panel.dark.kill_left.kill_right#events_calendar_container

  = render "events/calendar"


