- provide(:title, 'Calendar')
- provide(:sub_title, 'Your case appointments')

.spacer20
.row.application_bootstrap_alert_blue
  - if event = current_user.events.where("datetime > ?", Time.now).first
    Your next case is with
    = event && event.partner && event.partner.name

.row.panel.dark.kill_left.kill_right#events_calendar_container

  = render "events/calendar"


