- if params[:datetime]

  .row
    = @datetime.in_time_zone(@user.time_zone)
  .row
    / = distance_of_time_in_words @datetime, Time.now.in_time_zone(@user.time_zone)

- else

  .row
    #{@user.first_name}'s Timezone: 
  .row
    .span
      = @user.time_zone + " - " + timezone_difference(current_user,@user)