= hidden_field_tag :direction, params[:direction]
= hidden_field_tag :sort, params[:sort]

/ # Tag Select click for index list
:javascript
  $( document ).ready(function() {
    $(".books_index_list_fitlers_tag_item").click(function(){
      tag_id = $(this).data("tag_id");
      $("#books_filter_tag").val(tag_id);
      window.books_index_books_updatelist()
    });
  });

/ = paginate @books

- if @books.to_a.size > 0

  - @books.each do |books_item|
    = render partial: 'books_item' , locals: { books_item: books_item }

- else
  #books_index_books_form_body_empty
    #books_index_books_form_empty
      %p Nothing found!

.spacer15

= paginate @books

.spacer50
.spacer15