- provide(:title, 'Library')
- provide(:sub_title, 'Library of cases, guides and web resources')

.row.panel.darker.kill_bottom
  = render 'books_form'

.row.panel.dark.kill_bottom

  #books_index_books
    = render 'books'
