- provide(:title, @book.title)
- provide(:sub_title, @book.author)

- provide(:breadcrumb, "Library")
- provide(:breadcrumb_url, "/library")

.spacer10
.spacer5

= render partial: 'books/books_item' , locals: { books_item: @book}

.spacer10

- @comments.each do |books_comment|
  = render partial: "comments/comment_books", locals: { comment: books_comment }

= will_paginate @comments, inner_window: 2, outer_window: 2, class: "application_pagination application_pagination_books"


.spacer10

#books_show_comments_form_container.panel.dark
  = render "comments/new"