- provide(:title, 'Library: ' + @book.title)
- provide(:sub_title, @book.author)

.spacer10
.spacer5

= render partial: 'books/books_item' , locals: { books_item: @book}

.spacer10
= render "comments/comments"
.spacer10
= render "comments/form"