- provide(:title, @book.title)
- provide(:sub_title, @book.author)

- provide(:breadcrumb, "Library")
- provide(:breadcrumb_url, "/library")

.spacer10
.spacer5

= render partial: 'books/books_item' , locals: { books_item: @book}

.spacer10
= render "comments/comments"
.spacer10
= render "comments/new_comment_form"