- provide(:title, @book.title)

.spacer10
.spacer5

.btn.btn-small{onClick:"history.go(-1);return true;"}
  %i.icon-arrow-left-1
  Return

= render partial: 'books/books_item' , locals: { books_item: @book}

.spacer50

- @comments.each do |books_comment|
  = render partial: "comments/comment_books", locals: { comment: books_comment }

= will_paginate @comments, inner_window: 2, outer_window: 2, class: "application_pagination application_pagination_books"


.spacer10

#books_show_comments_form_container
  = render "comments/new"

.spacer20