- provide(:title, 'Summary')
- provide(:sub_title, 'Overview of all your stuff')

/   .panel.darker.kill_left
/     .summary_block_title
/       Recent Cases
/     - @cases.each do |summary_item_case|
/       = link_to case_path(summary_item_case) do
/         .row.summary_item_cases.btn.btn-primary
/           .span2
/             %span.fui-user
/           .span.offset1
/             .row
/               = summary_item_case.interviewer.username
/             .row.summary_item_cases_subject
/               = summary_item_case.subject_trunc
/           .span.pull-right
/             .panel.darker.kill_all.summary_item_cases_score
/               = summary_item_case.totalscore
/     = will_paginate @cases, class: "application_pagination", inner_window: 1, outer_window: 0
