.row
  .panel.darker.kill_left.span30
    .summary_block_title
      Events
    - @events.each do |summary_item_event|
      .row.summary_item
        = summary_item_event.partner.name
  .panel.darker.kill_left.span30
    = render "events/calendar"

.row
  .panel.darker.kill_left.span30
    .summary_block_title
      Friends
    - @friends.each do |summary_item_friend|
      .row.summary_item
        = summary_item_friend.name
  .panel.darker.kill_left.span30
    .summary_block_title
      Recent Cases
    - @cases.each do |summary_item_case|
      .row.summary_item
        = summary_item_case.interviewer.name