#onlinepanel_container

  = render partial: 'onlinepanel/index', locals: { nonresponse: 1 }




#onlinepanel_container_response_min.btn.btn-primary
  Your profile
  
#onlinepanel_container_response
  = render partial: 'onlinepanel/index', locals: { nonresponse: 0 }