.onlinepanel_title
  Your friends
#onlinepanel_friends{ class: ("non_response" if nonresponse == 1) }
  - for online_friend_item in current_user.accepted_friends
    .onlinepanel_show

      - @online_user_type = "friend"
      - @online_user = User.find(online_friend_item.id)

      = render partial: 'onlinepanel/show'


/ - if User.list_online_recently_notfriends(current_user).count > 0
.onlinepanel_title
  Other users
#onlinepanel_nonfriends

  - for online_friend_item in User.list_online_recently_notfriends(current_user)
    .onlinepanel_show

      - @online_user_type = "nonfriend"
      - @online_user = User.find(online_friend_item.id)

      = render partial: 'onlinepanel/show'

#onlinepanel_posts

  - @post_ondisplay = Post.where("approved = true").last()

  = render partial: 'posts/show', locals: { post: @post_ondisplay}

  .btn.btn-small.btn-primary.btn-embossed#onlinepanel_posts_new_button
    +


  #onlinepanel_posts_arrow_buttons_container
    .btn.btn-small.btn-primary.btn-embossed{"data-direction"=>"down"}
      %i.icon-angle-down    

    .btn.btn-small.btn-primary.btn-embossed{"data-direction"=>"up"}
      %i.icon-angle-up

  .onlinepanel_title.onlinepanel_title_posts
    Broadcasts
  / = render '/posts/posts'
