#onlinepanel_title
  Your friends
#onlinepanel_friends{ class: ("non_response" if nonresponse == 1) }
  - for online_friend_item in current_user.accepted_friends
    .onlinepanel_show

      - @online_user_type = "friend"
      - @online_user = User.find(online_friend_item.id)

      = render partial: 'onlinepanel/show'


/ - if User.list_online_recently_notfriends(current_user).count > 0
#onlinepanel_title
  Other users
#onlinepanel_nonfriends

  - for online_friend_item in User.list_online_recently_notfriends(current_user)
    .onlinepanel_show

      - @online_user_type = "nonfriend"
      - @online_user = User.find(online_friend_item.id)

      = render partial: 'onlinepanel/show'

#onlinepanel_posts
  .btn.btn-block.btn-small.btn-primary#onlinepanel_posts_new_button
    New Post
  #onlinepanel_title
    Posts
  = render '/posts/posts'
