#application_container_online

  = render partial: 'shared/online_panel', locals: { nonresponse: 1 }

#application_container_online_response_min
  %i.icon-user
  = online_user_count

#application_container_online_response
  = render partial: 'shared/online_panel', locals: { nonresponse: 0 }
