= form_for @headsup, remote: true do |f|
  %button.close{"data-dismiss" => "modal", type: "button"} ×

  .modal-body  

    = render 'shared/error_messages', object: @headsup

    .modal_help_title We'll be open soon!
    
    .modal_help_text Leave us your email address and we'll notify you when things are ready

    #modal_headsup_email{style:"text-align:center;"}
      = f.text_field :email, placeholder: "Your Email", tabindex: "1"
 
  .modal-footer
    %a.btn.btn-colour.btn-micro{"data-dismiss" => "modal", href: "#"} No thanks!
    .application_submit_button_with_spinner.btn.btn-colour.btn-micro{tabindex: "2"}
      %i.icon-arrow-right.icon-white
      Keep me posted


.application_spinner_container
  .application_spinner