/ - @post ||= Post.new
- if @post.blank? then @post = Post.new end

= form_for @post, url: posts_path, remote: true do |f|
  .modal-header
    %button.close{"data-dismiss" => "modal", type: "button"} ×

    Broadcast

  .modal-body

    %p Note, you are limited to one broadcast per day

    = render 'shared/error_messages', object: @post

    .row
      = f.text_area :content, placeholder: "Broadcast a message to other users... (max 255 characters)", tabindex: "103", class: "modal_textarea"

  .modal-footer
    %a.btn.btn-micro{"data-dismiss" => "modal", href: "#"} Close
    .application_submit_button_with_spinner.btn.btn-micro{tabindex: "102"}
      %i.icon-arrow-right.icon-white
      Submit


.application_spinner_container
  .application_spinner