- @post_in_view = Post.where("approved = true").order("created_at asc").last

#footer_posts
    
  #footer_posts_post_container{"data-current_post_id" => (@post_in_view.id unless @post_in_view.blank?) }
    - unless @post_in_view.blank?
      = render partial: 'posts/show', locals: { post: @post_in_view }

  #footer_posts_label
    Urgently need to practise? Let others know

  #footer_posts_new_button.btn.btn-micro.btn-green{"data-original-title" => "Write a new broadcast...", rel: "tooltip", "data-placement"=>"top", class: "application_tooltip"}
    %i.icon-plus

  #footer_posts_widget
    #footer_posts_username
      = render partial: 'posts/show_username', locals: { post: @post_in_view }

    #footer_posts_arrow_buttons_container
      .footer_posts_arrow_buttons_container_block
        .btn.btn-micro#footer_posts_arrow_button_up{"data-direction"=>"up"}
          %i.icon-arrow-up
      .footer_posts_arrow_buttons_container_block
        .btn.btn-micro#footer_posts_arrow_button_down{"data-direction"=>"down", style: ("display:none;" unless Post.approved.count > 1)}
          %i.icon-arrow-down


  #footer_onlineusers{"data-original-title"=>"Show these " + User.users_allowed_on_map.list_online_now(current_user).count.to_s + " online users", rel: "tooltip", "data-placement"=>"top", class: "application_tooltip"}
    = User.users_allowed_on_map.list_online_now(current_user).count
    #footer_onlineusers_text
      online



- session[:posts_initial_show_complete] = "yes"