
#onlinepanel_posts_post{"data-post_id" => post.id}

  %button#onlinepanel_posts_post_close.close{type: "button"} ×
  .row
    .span2
      %span.fui-user
    .span10.offset1#onlinepanel_posts_post_username.application_truncatable
      = link_to post.user.username, "/map?user_id=" + post.user.id.to_s
  .row#onlinepanel_posts_post_datetime
    = time_ago_in_words(post.created_at)
    ago
  .row
    .span
      = post.content