
#onlinepanel_posts_post

  %button#onlinepanel_posts_post_close.close{type: "button"} ×
  .row
    .span2
      %span.fui-user
    .span10.offset1#onlinepanel_posts_post_username.application_truncatable
      = link_to @post_ondisplay.user.username, "/map?user_id=" + @post_ondisplay.user.id.to_s
  .row
    .span
      = @post_ondisplay.content