
#map_index_guide_posts_post{"data-post_id" => post.id}

  %button#map_index_guide_posts_post_close.close{type: "button"} ×
  %i.icon-user
  
  #map_index_guide_posts_post_username.application_truncatable
    = link_to post.user.username, "/map?user_id=" + post.user.id.to_s
  = post.content