
= form_for(@user, url: account_path, remote: true, html: {id: "account_complete_form_timezone"}) do |f|

  = render 'shared/error_messages', object: @user

  = f.hidden_field :complete_page, value: "timezone"
 
  = f.time_zone_select :time_zone, nil, { prompt: "Select your Timezone..." }, {:class => 'chzn-select'}