= form_for(@user, url: account_path, remote: true, html: {id: "account_complete_form_skype"}) do |f|

  = render 'shared/error_messages', object: @user
  = f.hidden_field :complete_page, value: "skype"

  .static_home_form_input_container{rel: "popover", "data-content"=> "Sign up at <a href=https://login.skype.com/account/signup-form target=_blank><span class=fui-skype></span>Skype.com</a>".html_safe, "data-original-title"=>"Not registered?", id: "account_completeedit_skype"}
    .static_home_form_input_icon_container
      %i.input-icon.icon-skype
    = f.text_field :skype, tabindex: "4", placeholder: "Skype username (recommended)", class: "span40 large"