- provide(:title, 'Complete the sign-up process')


- content_for :javascript_includes do
  :javascript
    var account_completeedit_currentuser_university_image = "#{current_user.university.image}";

#account_complete_panel

  = render 'complete_form'

/ #account_complete_panel_submit.application_submit_button_with_disable.btn.btn-red.btn-large.btn-block{:href => "#", :type => "submit", tabindex: "8"}
/   Complete Sign up