- provide(:title, 'Delete my Account')


#account_delete_panel

	= link_to("No, I do not wish to delete my account", "/", class: "btn btn-large")
	.spacer20
	= link_to("I confirm that I would like to delete my account", account_path, method: :delete, class: "btn btn-primary ", confirm: "This cannot be undone. All of your data will be deleted. Are you sure you want to proceed?")