- provide(:title, 'Change my password')
- provide(:sub_title, 'Enter a new password below')

- provide(:breadcrumb, "Edit Profile")
- provide(:breadcrumb_url, "/account/edit")
- provide(:breadcrumb_smallfont, "yes")

.row
  .span28.offset22
    .panel#account_editpassword_panel
      = form_for(@user, url: account_path, method: :put) do |f|
        = f.password_field :password, placeholder: "New password..."
        = f.password_field :password_confirmation, placeholder: "Confirm your new password..."
        .spacer10
        = f.submit "Change my password", class: "btn btn-medium btn-info"



