- provide(:title, 'Change my password')
- provide(:sub_title, 'Enter a new password, and a confirmation of it, below')

.row
	.span40.offset20
		.panel.gradient
    	= form_for(@user, url: account_path, method: :put) do |f|
    		= f.text_field :password, "New Password"
    		= fi.textfield :confirmation, placeholder: "Confirm your New Password"
    		= f.submit "Change my password", class: "btn btn-large btn-inverse"



