.panel.gradient

  %button#users_index_show_close.close ×

  #users_show_casecount
    = avatar_for(@user, 'chevron', @user.case_count)

  .row
    .span5
      .application_avatar
        = avatar_for(@user, 'icon', '')
    .span20
      #users_show_name
        = @user.name

- if @user.status_approved
  .panel
    .row
      .span35
        #users_show_status
          = @user.status
