- provide(:title, 'Who has viewed your profile')
- provide(:sub_title, 'A list of users who have recently viewed your profile')


.modal-header
  %button.close{"data-dismiss" => "modal", type: "button"} ×

  %h3 Who's visited your profile

.modal-body

  - if current_user.visits.count > 0
    - current_user.visits.order("created_at desc").first(10).each do |visit|

      = link_to "/map?user_id=" + visit.visitor.id.to_s do
        .row.account_visitors_item
          .span5.account_visitors_item_avatar
            %span.fui-user
          .span20.offset2
            = visit.visitor.username
          .span6.pull-right
            = visit.date_fb


  - else
    No one has visited your profile



.modal-footer
  %a.btn{"data-dismiss" => "modal", href: "#"} Close
