
$cn_colour_-2:#7d8288; // button overlays
$cn_colour_-1:#a2abb3;//#aeb7bf;//#979fa6; //#7c8389; // buttons

$cn_colour_0: #242d32; // header
$cn_colour_05: #313c44; // header button highlights
$cn_colour_1: #72aac9; // header button highlights + graph and unread
$cn_colour_2: #edf4f8; // lighter version of above
$cn_colour_25: #e7f6ff; // brigher, more green/turqoise version of above

$cn_grey_-2: #697076; // Text and borders in places
$cn_grey_-1: #dee1e3; // search input border
$cn_grey_05: #e3e4e5; // 
$cn_grey_0: #edeff0; //down 1% lightness from #f0f1f2; // lines and background

$cn_contrastor_0: #c18176; // orange! (also the red!)
$cn_contrastor_second_0: #9ac787;
$cn_contrastor_third_0: #6da56e; // green



$green_linkedin: #3489bd;
$blue_skype:#45adea;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


