
@import 'colours';



/////////////////////////////////////////////////////////////////
////////////////////////// MODAL ////////////////////////////////
/////////////////////////////////////////////////////////////////





#modal_profile {
  width:855px !important;
  height:560px !important;

  margin-left:-400px;
  margin-top:-280px;

//  text-align:center !important;

  .modal-body {
    height:385px;
//    text-align:center !important;
  }
}


/////////////////////////////////////////////////////////////////
/////////////////////////// EDIT ////////////////////////////////
/////////////////////////////////////////////////////////////////


.account_edit_form_emailing_label {
  text-align:left;
}

#account_edit_panel_left {
  float:left;
  width:450px;

  tr {
    height:50px;
  }
}


#account_edit_panel_right {
  float:left;
  width:350px;
  tr {
    height:30px;
  }
}

/////////////////////////////////////////////////////////////////
//////////////////////// COMPLETEEDIT ///////////////////////////
/////////////////////////////////////////////////////////////////



#account_completeedit_map {

  &.complete {
    height:210px;
    width:300px;
  }
  &.edit {
    height:200px;
    width:350px;
  }
}

#account_completeedit_map_location {
  height:20px;
  font-size:12px;
  .account_completeedit_map_location_title {
    font-weight:bold;
    display:inline-block;
    margin:0 20px;

  }
}




/////////////////////////////////////////////////////////////////
/////////////////////////// DELETE //////////////////////////////
/////////////////////////////////////////////////////////////////


#account_delete_panel {
  text-align:center;

  background:$cn_grey_0;
  width:230px;
  padding:10px;
  margin:60px auto;

  -moz-border-radius:    3px;
  -webkit-border-radius: 3px;
  border-radius:         3px;
}


/////////////////////////////////////////////////////////////////
///////////////////// EDIT PASSWORD /////////////////////////////
/////////////////////////////////////////////////////////////////

#account_editpassword_panel {
  text-align:center;
  input {
    width:200px;
    margin:10px auto;
    display:block;
  }
  background:$cn_grey_0;
  width:230px;
  padding:10px;
  margin:20px auto;

  -moz-border-radius:    3px;
  -webkit-border-radius: 3px;
  border-radius:         3px;
}

/////////////////////////////////////////////////////////////////
///////////////////// VISITORS //////////////////////////////////
/////////////////////////////////////////////////////////////////

.account_visitors_item {
  margin-bottom:3px;

  padding:10px;
  &:hover {
    background: $cn_grey_-1;
  }
  div {
    margin-top:10px;
  }
}


.account_visitors_item_avatar {
  font-size:30px;
  margin-top:0px !important;
}


/////////////////////////////////////////////////////////////////
///////////////////////// COMPLETE //////////////////////////////
/////////////////////////////////////////////////////////////////



#account_complete_panel {


  padding:25px;

  width:620px;
  height:350px;

  margin:50px auto 0;
  z-index:10;

  -moz-border-radius:    3px;
  -webkit-border-radius: 3px;
  border-radius:         3px;
  

  input {
    display:block;
    margin-bottom:15px;
    border:1px solid $cn_grey_-1;
    -moz-border-radius:    3px;
    -webkit-border-radius: 3px;
    border-radius:         3px;
    padding-left:47px;
    width:244px;
  }

  i {
    margin-top:2px;
    margin-right:3px;
  }

  .chzn-container {
    width:298px !important;
  }

  .chzn-choices input {
    padding-left:3px !important;
  }

  .popover-content {
    span {
      margin-right:3px;
      margin-left:2px;
    }
  }
}


#static_home_form_username_input {
  -moz-border-bottom-left-radius:    0px !important;
  -webkit-border-bottom-left-radius: 0px !important;
  border-bottom-left-radius:         0px !important;
  -moz-border-bottom-right-radius:    0px !important;
  -webkit-border-bottom-right-radius: 0px !important;
  border-bottom-right-radius:         0px !important;
}

#static_home_form_username_label {
  height:30px;
  text-align:center;
  border:1px solid $cn_grey_0;

  -moz-border-bottom-left-radius:    3px;
  -webkit-border-bottom-left-radius: 3px;
  border-bottom-left-radius:         3px;
  -moz-border-bottom-right-radius:    3px;
  -webkit-border-bottom-right-radius: 3px;
  border-bottom-right-radius:         3px;
  width:296px;
  margin-top:-15px;
  margin-bottom:15px;
  background:$cn_grey_0;
  line-height:30px;
}


#account_complete_panel_column_left, #account_complete_panel_column_right {
  float:left;
  width: 300px;
}

#account_complete_panel_column_left {
  margin-right:20px;
}


#account_complete_cases_ext_label {
  width:150px;
  height:48px;
  float:left;
  margin:0;
  background:$cn_grey_0;
  padding:5px 10px 9px;
  border:1px solid $cn_grey_-1;
  -moz-border-top-left-radius:    3px;
  -webkit-border-top-left-radius: 3px;
  border-top-left-radius:         3px;

  -moz-border-bottom-left-radius:    3px;
  -webkit-border-bottom-left-radius: 3px;
  border-bottom-left-radius:         3px;
}

#account_complete_cases_ext_input {
  height:50px;
  float:left;
  width:115px !important;
  padding-left:5px !important;
  margin:0;
  font-size:25px;
  text-align:center;
  text-index:0;
  border-left:0 !important;

  -moz-border-top-left-radius:    0px !important;
  -webkit-border-top-left-radius: 0px !important;
  border-top-left-radius:         0px !important;

  -moz-border-bottom-left-radius:    0px !important;
  -webkit-border-bottom-left-radius: 0px !important;
  border-bottom-left-radius:         0px !important;

  -moz-border-top-right-radius:    3px;
  -webkit-border-top-right-radius: 3px;
  border-top-right-radius:         3px;

  -moz-border-bottom-right-radius:    3px;
  -webkit-border-bottom-right-radius: 3px;
  border-bottom-right-radius:         3px;
}



#account_complete_map_header {
  background: $cn_grey_0;
  height:40px;
  text-align:center;
  line-height:20px;
  padding:5px;
}



