// Place all the styles related to the account controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Shouldn't need these here as well as in app.css.scss
$gray_Light: #d0d0d0;
$gray_Lighter: #e1e1e1;
$gray_Lightest: #f6f6f6;
$gray_Mid: #767676;
$gray_Dark: #555555;
$blue_pastel: #98cdff;




label, .account_form_label { // why the hell won't this work in app.css?
  // font-size:12px !important;
  color:white;

  .account_form_sublabel {
    font-size:12px;
    font-style:italic;
  }
}

.account_form_label_gray {
  color:$gray_Mid;
}

.account_form_label_bold {
  font-weight:bold;
}

.account_form_label_university_logo {
  img {
    max-height:18px !important; 
    min-width:18px !important; 
  }
}








/////////////////////////////////////////////////////////////////
///////////////////////// COMPLETE //////////////////////////////
/////////////////////////////////////////////////////////////////



#account_complete_step2, #account_complete_step3 {
  width:424px;
}

#account_complete_step4, #account_complete_step5,#account_complete_step6 {
  width:428px;
}

#account_complete_button_submit {
  width: 100%;
}



/////////////////////////////////////////////////////////////////
/////////////////////////// EDIT ////////////////////////////////
/////////////////////////////////////////////////////////////////




#account_edit_button_submit {
  width:300px;
}


#account_edit_invitations_list {
  height:40px;
  overflow-y:auto;
}


.account_edit_form_spacer {

  background-image: -webkit-linear-gradient(left, transparent,#3c3c3c 20%,#3c3c3c 80%,transparent);
  height:1px;

  margin-top:30px;
  margin-bottom:30px;
}



#account_edit_form_info {
  .btn {
    width:150px;
  }
}

#account_edit_form_info_reputation {
  font-size:30px;
  text-align:center;
}

#account_edit_form_info_reputation_text {
  font-size:11px;
  text-align:center;
}

#account_edit_form_info_avatar {
  text-align:center;
}

#account_edit_form_submit_panel {
  text-align:center;
}

/////////////////////////////////////////////////////////////////
//////////////////////// COMPLETEEDIT ////////////////////////////
/////////////////////////////////////////////////////////////////



.account_completeedit_condition {
  font-style:italic;
  font-size:10px;
  color:white;
}

#account_completeedit_map {

  &.complete {
    margin-top:10px;
    height:316px;
    width:425px;
  }
  &.edit {
    height:261px;
    width:363px;
  }
}

#account_completeedit_map_location {
  height:20px;
  font-size:12px;
}

.account_completeedit_map_location_title {
  font-weight:bold;
}

#account_completeedit_skype_link {
  margin-top:5px;
  font-size:10px;
}

.account_completeedit_privacy {
  font-size:9px !important;
  line-height:11px;
  padding:3px !important;
  text-align:center;
  margin-left:5px !important;
  border:0px !important;
}




#account_completedit_casesexternal_field {
  font-size:25px;
  height:30px;
}



/////////////////////////////////////////////////////////////////
/////////////////////////// DELETE //////////////////////////////
/////////////////////////////////////////////////////////////////



#account_delete_panel {
  text-align:center;
}


/////////////////////////////////////////////////////////////////
///////////////////// EDIT PASSWORD /////////////////////////////
/////////////////////////////////////////////////////////////////




#account_editpassword_panel {
  text-align:center;
  input {
    width:209px;
  }
}

/////////////////////////////////////////////////////////////////
///////////////////// VISITORS //////////////////////////////////
/////////////////////////////////////////////////////////////////

.account_visitors_item {
  margin-bottom:3px;
  img {
    max-width:30px;
  }
}
