$gray_background: #eceef1;
$gray_Light: white;
$gray_second: #BDC3C7;
$gray_gunmetal: #363636;
$gray_gunmetal_second: #2d2d2d;

$gray_Lighter: #e1e1e1;
$gray_Lightest: #f6f6f6;
$gray_Mid: #767676;
$gray_Dark: #555555;
$gray_Darker: #333333;

$green_flatui: #1ABC9C;
$green_linkedin: #3489bd;

$blue_pastel: #98cdff;
$blue_linkedin: #006699;
$blue_skype:#45adea;

$alert-green: #88ff8e;
$alert-red: #FF3030;
$alert-blue: #7EB6FF;
$alert-yellow: #FFFF7E;



$cn_colour_-2:#7d8288; // button overlays
$cn_colour_-1:#b0bcc3; // buttons

$cn_colour_0: #242d32; // header
$cn_colour_1: #e0ecf6; // header button highlights

$cn_grey_-2: #697076; // Text and borders in places
$cn_grey_-1: #dee1e3; // search input border
$cn_grey_0: #f0f1f2; // users form

$cn_contrastor_0: #c18176; // orange!
$cn_contrastor_second_0: #9ac787;
$cn_contrastor_third_0: #c18176;

label, .account_form_label { // why the hell won't this work in app.css?
  // font-size:12px !important;
  .account_form_sublabel {
    font-size:12px;
    font-style:italic;
  }
}

.account_form_label_gray {
  color:$gray_Mid;
}

.account_form_label_bold {
  font-weight:bold;
}

.account_form_label_university_logo {
  img {
    max-height:18px !important; 
    min-width:18px !important; 
  }
}








/////////////////////////////////////////////////////////////////
/////////////////////////// EDIT ////////////////////////////////
/////////////////////////////////////////////////////////////////





.account_edit_form_spacer {

//  background: $gray_second;
  height:10px;
  margin: 10px -10px;
}



#account_edit_form_info {
  .btn {
    width:150px;
  }
}



#account_edit_form_info_avatar {
  text-align:center;
  font-size:50px;
}



.account_edit_block_title {
  background: $gray_second;
  height:30px;
  text-align:center;
  font-weight: bold;
  line-height:31px;
  color: white;
  margin:-30px -10px 10px -10px;
}

.account_edit_form_emailing_label {
  text-align:left;
}


/////////////////////////////////////////////////////////////////
//////////////////////// COMPLETEEDIT ///////////////////////////
/////////////////////////////////////////////////////////////////



#account_completeedit_map {

  &.complete {
    height:210px;
    width:300px;
  }
  &.edit {
    height:261px;
    width:500px;
  }
}

#account_completeedit_map_location {
  height:20px;
  font-size:12px;
}

.account_completeedit_map_location_title {
  font-weight:bold;
}


#account_completeedit_skype {
  span {
    margin-right:3px;
  }
}




/////////////////////////////////////////////////////////////////
/////////////////////////// DELETE //////////////////////////////
/////////////////////////////////////////////////////////////////



#account_delete_panel {
  text-align:center;
}


/////////////////////////////////////////////////////////////////
///////////////////// EDIT PASSWORD /////////////////////////////
/////////////////////////////////////////////////////////////////




#account_editpassword_panel {
  text-align:center;
  input {
    width:200px;
    margin:10px auto;
    display:block;
  }
  background:$gray_second;
  width:230px;
  padding:10px;
  margin:20px auto;
}

/////////////////////////////////////////////////////////////////
///////////////////// VISITORS //////////////////////////////////
/////////////////////////////////////////////////////////////////

.account_visitors_item {
  margin-bottom:3px;

  padding:10px;
  &:hover {
    background: $gray_second;
  }
  div {
    margin-top:10px;
  }
}


.account_visitors_item_avatar {
  font-size:30px;
  margin-top:0px !important;
}





/////////////////////////////////////////////////////////////////
///////////////////////// COMPLETE //////////////////////////////
/////////////////////////////////////////////////////////////////



#account_complete_panel {

  background:$gray_background;

  padding:25px;

  left:41.5%;

  width:620px;
  height:350px;
  margin-top:-250px;
  margin-left:0px;

  z-index:10;

  -moz-border-radius:    3px;
  -webkit-border-radius: 3px;
  border-radius:         3px;
  
  input {
    display:block;
    margin-bottom:15px;


    border:2px solid transparent;
  }

  i {
    margin-top:2px;
    margin-right:3px;
  }

  .chzn-container {
    width:300px !important;
  }

  .popover-content {
    span {
      margin-right:3px;
      margin-left:2px;
    }
  }
}



#account_complete_panel:after

{
  content: "";
  position: absolute;
  top: 100px;
  left: -15px;
  border-style: solid;
  border-width: 14px 15px 14px 0px;
  border-color: transparent $gray_background;
  display: block;
  width: 0;
  z-index: 1;
}




#account_complete_panel_column_left, #account_complete_panel_column_right {
  float:left;
  width: 300px;
}

#account_complete_panel_column_left {
  margin-right:20px;
}



#account_complete_cases_ext_label {
  width:135px;
  height:50px;
  font-weight:bold;
  color:white;
  font-size:13px;
  float:left;
  margin:0;
  background:$gray_second;
  padding:10px;

  -moz-border-top-left-radius:    3px;
  -webkit-border-top-left-radius: 3px;
  border-top-left-radius:         3px;

  -moz-border-bottom-left-radius:    3px;
  -webkit-border-bottom-left-radius: 3px;
  border-bottom-left-radius:         3px;


}

#account_complete_cases_ext_input {
  height:50px;
  float:left;
  width:130px;
  margin:0;
  font-size:25px;
  text-align:center;
  text-index:0;

  -moz-border-top-left-radius:    0px;
  -webkit-border-top-left-radius: 0px;
  border-top-left-radius:         0px;

  -moz-border-bottom-left-radius:    0px;
  -webkit-border-bottom-left-radius: 0px;
  border-bottom-left-radius:         0px;

  -moz-border-top-right-radius:    3px;
  -webkit-border-top-right-radius: 3px;
  border-top-right-radius:         3px;

  -moz-border-bottom-right-radius:    3px;
  -webkit-border-bottom-right-radius: 3px;
  border-bottom-right-radius:         3px;
}



#account_complete_panel_submit {
 display:block;
}

#account_complete_map_header {
  background: $gray_second;
  height:30px;
  text-align:center;
  font-weight: bold;
  line-height:31px;
  color: white;

}


/////////////////////////////////////////////////////////////////
////////////////////////// MODAL ////////////////////////////////
/////////////////////////////////////////////////////////////////





#modal_profile {
  width:855px !important;
  margin-left:-400px;
  margin-top:-260px;

  height:510px !important;

  text-align:center !important;


  .modal-body {
    height:325px;
    text-align:center !important;
  }

  &.event_edit {
    height:510px !important;

    margin-top:-260px;

    .modal-body {
      height:325px;
      text-align:center !important;
    }

  }
//  .modal-footer {
//    position:absolute;
//    bottom:0;
//  }

}
