
$gray_Light: #d0d0d0;
$gray_Lighter: #e1e1e1;
$gray_Lightest: #f6f6f6;
$gray_Dark: #555555;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  overflow-y: scroll;
  height: 100%;

  -webkit-background-size: cover; /*for webKit*/
  -moz-background-size: cover; /*Mozilla*/
  -o-background-size: cover; /*opera*/
  background-size: cover; /*generic*/

  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(99, 130, 169, 0.7))), url(app/bg.jpg); /* Chrome,Safari4+ */
  background-image: -webkit-linear-gradient(top, transparent, rgba(99,130,169,.7)), url(app/bg.jpg); /* Chrome10+,Safari5.1+ */
  background-image:    -moz-linear-gradient(top, transparent, rgba(99,130,169,.7)), url(app/bg.jpg); /* FF3.6+ */
  background-image:     -ms-linear-gradient(top, transparent, rgba(99,130,169,.7)), url(app/bg.jpg); /* IE10+ */
  background-image:      -o-linear-gradient(top, transparent, rgba(99,130,169,.7)), url(app/bg.jpg); /* Opera 11.10+ */
  background-image:         linear-gradient(to bottom, transparent, rgba(99,130,169,0.7)), url(app/bg.jpg); /* W3C */
  
  // background: url('app/dark-bg.png') repeat top left;
}

body {
  padding-top: 40px;
  height:100%;
  &.signedout {
    padding-top: 70px;
  }
  @include box_sizing; // references above, gets rid of margin at bottom of page without gradient - still not perfect
}

footer {
  padding-top: 12px;
  a{
    color:black;
    &:hover {
      color:white;
      text-decoration:none;
    }
  }

  ul {
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

textarea {
  resize: vertical;
}



// For jquery placeholder
.placeholder { color: #aaa; }

.font-small {
  font-size:12px;
}

.container {
  &.main{
    /* gives twitter like white translucent background */
    background: url(app/white-wash.png);
    height:100%;
  }
}

#application_flash {

  position: absolute; // Set for the map page - doesn't look great on other pages
  top: 40px;
  margin-left:20%;
  margin-right:20%;
  width:60%;
  z-index:2147483647;
  margin-top:5px;
  &.signedout {
    top:80px;
  }

}

/* For views/shared/_error_messages - is this used for all forms? */
#application_error_explanation {
  color:#f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

 /* For client_side_validations */
.application_error_message {
  margin-top:-7px;
  padding:0px;
  text-align:left;
  color:red;
  height:20px;
}

.application_table_title {
  border-bottom: 1px solid $gray_Light;
  padding-bottom:5px;
  margin-bottom:5px;
  font-size:12px;
}


.application_timestamp {
  color: $gray_Light;
}

.application_name {
  font-size:17px;
}


.panel {

  background: white;
  margin: 15px;
  border: 1px solid $gray_Light;
  padding: 10px;

  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;

  &.gradient{
 
    background: rgb(254,255,255); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(254,255,255,1) 0%, rgba(234,234,234,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(254,255,255,1)), color-stop(100%,rgba(234,234,234,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(254,255,255,1) 0%,rgba(234,234,234,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(254,255,255,1) 0%,rgba(234,234,234,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(254,255,255,1) 0%,rgba(234,234,234,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(254,255,255,1) 0%,rgba(234,234,234,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffff', endColorstr='#eaeaea',GradientType=0 ); /* IE6-9 */

   }

  &.transparent {
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFFFFF, endColorstr=#FFFFFF);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFFFFF, endColorstr=#FFFFFF)";
    color: white;
  }

  &.dark {

    color: $gray_Lighter;

    border: 1px solid gray;

    background: url('app/dark-bg.png') repeat top left;
    // /* Fallback for web browsers that doesn't support RGBa */
    // background: rgb(0, 0, 0) transparent;
    // /* RGBa with 0.6 opacity */
    // background: rgba(0, 0, 0, 0.3);

  }

  &.darker {
    
    color: $gray_Lighter;

    border: 1px solid gray;

    background: url('app/darker-bg.png') repeat top left;
    // /* Fallback for web browsers that doesn't support RGBa */
    // background: rgb(0, 0, 0) transparent;
    // /* RGBa with 0.6 opacity */
    // background: rgba(0, 0, 0, 0.5);

  }

  &.roulette {
    height:500px;
  }

  &.title {
    border-top-left-radius: 0px;
    -moz-border-top-left-radius: 0px;
    -webkit-border-top-left-radius: 0px;

    border-top-right-radius: 0px;
    -moz-border-top-right-radius: 0px;
    -webkit-border-top-right-radius: 0px;

    margin-top: 0px;
    margin-bottom: 0px;

    background: url('app/title-bg.png') repeat top left;
    // /* Fallback for web browsers that doesn't support RGBa */
    // background: rgb(0, 0, 0) transparent;
    // /* RGBa with 0.6 opacity */
    // background: rgba(0, 0, 0, 0.3);

    border: 1px solid gray;

    padding:7px;
    padding-left:10px;
    padding-right:10px;
  }
  

  &.kill_right {
    margin-right: 0px;
  }

  &.kill_left{
    margin-left: 0px;
  }

  &.kill_bottom{
    margin-bottom: 0px;
  }

  &.kill_top{
    margin-top: 0px;
  }

  &.kill_all{
    margin: 0px;
  }
}

.map img {
  max-width: none;
}


.application_button_feedback {
  width:70px;
  margin:3px;
}

#application_title_title {
  font-weight:bold;
  color:white;
}

#application_title_sub_title {
  font-size:12px;
  color: $gray_Light;
}


.application_pagination {
  background: #f1f1f1;
  border: 1px solid #e5e5e5;
  text-align: center;
  padding: 5px;
  margin-top: 2px;
  cursor: default; }
  .application_pagination a, .application_pagination span {
    padding: 0.2em 0.3em; }
  .application_pagination .disabled {
    color: #aaaaaa; }
  .application_pagination .current {
    font-style: normal;
    font-weight: bold;
    background-color: #bebebe;
    display: inline-block;
    width: 1.4em;
    height: 1.4em;
    line-height: 1.5;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    border-radius: 1em;
    text-shadow: rgba(255, 255, 255, 0.8) 1px 1px 1px; }
  .application_pagination a {
    text-decoration: none;
    color: black; }
    .application_pagination a:hover, .application_pagination a:focus {
      text-decoration: underline; }


/* remove small skype box hack */

#skypedetectionswf{
  margin-left: -10000px;
  width: .001em;
}


.message {
  background-color: red;
  border-bottom-right-radius: 5px 5px;
  border-top-right-radius: 5px 5px;
  padding: 2px 5px;
}

div.field_with_errors div.ui-effects-wrapper {
  display: inline-block !important;
}
