$gray_Light: #d0d0d0;
$gray_Lighter: #e1e1e1;
$gray_Lightest: #f6f6f6;
$gray_Mid: #767676;
$gray_Dark: #555555;
$blue_pastel: #98cdff;
$blue_linkedin: #006699;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  overflow-y: scroll;
  overflow-x: hidden;
  height:100%;
  min-height: 100%;
  padding-bottom:0px;
  margin-bottom:0px;
  background: url(app/bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  padding-top: 40px;
  height:100%;
  min-height: 100%;
  &.signedout {
    padding-top: 70px;
  }
  @include box_sizing; // references above, gets rid of margin at bottom of page without gradient - still not perfect
}

header {

  -webkit-box-shadow: 0px 3px 10px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    0px 3px 10px rgba(50, 50, 50, 0.75);
  box-shadow:         0px 3px 10px rgba(50, 50, 50, 0.75);

}

footer {

  padding-top:0px;
  a{
    color:#333;
    // &:hover {
    //   color:white;
    //   text-decoration:none;
    // }
  }

  ul {

    list-style: none;
    li {
      float: left;
      margin-left: 13px;
    }
  }
}

form {
  margin-bottom:0px !important;
}


textarea {
  resize: vertical;
}

.search-query {
  background: white url(icons/search.png) no-repeat 95% 5px;
  padding-right: 14px !important;
  padding-left: 14px !important;
}

.simple_form {
  margin-bottom:0px;
}

// For jquery placeholder
.placeholder { 
  color: #aaa; 
}

.font-small {
  font-size:12px;
}

.font-bold {
  font-weight:bold;
}

.font-underline {
  text-decoration:underline;
}

.tooltip {
  z-index: 20000 !important;
}

.container {
  &.main{
    min-height: 100%;
    background: url('app/white-wash.png');
  }
  &.home {
    min-height: 100%;   
  }
}

.application_bullets {
  li {
    list-style: square;
  } 
}

#application_flash {

  position: absolute; // Set for the map page - doesn't look great on other pages
  top: 70px;
  left:50%;
  margin-left:-300px;
  width:600px;
  z-index:2147483647;
  &.signedout {
    top:90px;
  }

}


/* For views/shared/_error_messages - is this used for all forms? */
#application_error_explanation {
  color:#ff5252;
  font-size:11px;
  ul {
    margin: 15px 15px 15px 15px;
  }
}

.application_table_title {
  border-bottom: 1px solid $gray_Light;
  padding-bottom:5px;
  margin-bottom:5px;
  font-size:12px;
}


.application_timestamp {
  color: $gray_Mid;
}

.application_lastonline {
  color: $gray_Mid;
  font-size:11px;
  font-style:italic;
}

.application_name {
  font-size:17px;
}

.application_chevron {
  width:63px;
  height:72px;
  text-align:center;
  line-height:35px;  
  background-repeat: no-repeat;
  font-size: 1.6em;
  color: white;
  font-weight:bold;
  letter-spacing: 1px;

  .application_chevron_text {
    color: $gray_Light;
    font-size:9px;
    line-height: 1px;
    font-weight: normal;
  }
}

.panel {

  background: white;
  margin: 15px;
  border: 1px solid $gray_Light;
  padding: 10px;

  -moz-border-radius:    5px;
  -webkit-border-radius: 5px;
  border-radius:         5px;

  &.gradient{
 
    background: rgb(254,255,255); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(254,255,255,1) 0%, rgba(234,234,234,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(254,255,255,1)), color-stop(100%,rgba(234,234,234,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(254,255,255,1) 0%,rgba(234,234,234,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(254,255,255,1) 0%,rgba(234,234,234,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(254,255,255,1) 0%,rgba(234,234,234,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(254,255,255,1) 0%,rgba(234,234,234,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffff', endColorstr='#eaeaea',GradientType=0 ); /* IE6-9 */

   }

  &.transparent {

    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFFFFF, endColorstr=#FFFFFF);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFFFFF, endColorstr=#FFFFFF)";
    color: white;

  }

  &.dark {

    color: $gray_Lighter;

    border: 1px solid $gray_Mid;

    background: url('app/dark-bg.png') repeat top left;

  }

  &.darker {
    
    color: $gray_Lighter;

    border: 1px solid $gray_Mid;

    background: url('app/darker-bg.png') repeat top left;

  }

  &.roulette {
    height:500px;
  }

  &.title {
    border-top-left-radius: 0px;
    -moz-border-top-left-radius: 0px;
    -webkit-border-top-left-radius: 0px;

    border-top-right-radius: 0px;
    -moz-border-top-right-radius: 0px;
    -webkit-border-top-right-radius: 0px;

    margin-top: 0px;
    margin-bottom: 0px;

    background: url('app/title-bg.png') repeat top left;

    border: 1px solid gray;

    padding:7px;
    padding-left:10px;
    padding-right:10px;
  }
  
  &.kill_right {
    margin-right: 0px;
  }

  &.kill_left{
    margin-left: 0px;
  }

  &.kill_bottom{
    margin-bottom: 0px;
  }

  &.kill_top{
    margin-top: 0px;
  }

  &.kill_all{
    margin: 0px;
  }

  &.kill_border{
    border:0;
  }
  &.kill_half{
    margin:7px;
  }
}

.map img {
  max-width: none;
}


.application_button_feedback {
  width:70px;
  margin:3px;
}

#application_title_title {
  font-weight:bold;
  color:white;
}

#application_title_sub_title {
  font-size:12px;
  color: $gray_Light;
}


.application_pagination {
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;

  // border: 1px solid $gray_Dark;
  margin:5px;
  margin-top:3px;
  text-align: center;
  padding: 5px;
  cursor: default;

  background: url('app/dark-bg.png') repeat top left;
}

.application_pagination .disabled {
  color: $gray_Light;
}
.application_pagination .current {
  font-style: normal;
  font-weight: bold;
  background-color: $gray_Mid;
  display: inline-block;
  width: 1.4em;
  height: 1.4em;
  line-height: 1.4;
  -moz-border-radius: 1em;
  -webkit-border-radius: 1em;
  border-radius: 1em;
  color:white;
}
.application_pagination a, .application_pagination span {
  padding: 0.2em 0.3em;
}
.application_pagination a {
  text-decoration: none;
  color: gray;
}
.application_pagination a:hover, .application_pagination a:focus {
  text-decoration: none;
  color:black;
}


/* remove small skype box hack */

#skypedetectionswf{
  margin-left: -10000px;
  width: .001em;
}


.modal_textarea {
  height: 150px;
  width: 97%;
}

.modal form {
  margin: 0;
}




#modal_help {
  overflow-x: hidden;
  width:840px !important;
  margin-left:-420px;
  margin-top:-300px;
  .modal-header {
    border-bottom:0px;
  }
}


.modal_help_header_icon {
  font-size:70px;

  position:absolute; 
  top:7px; 
  left:50px;
  z-index:10;
}

.modal_help_header_title {
  font-size:30px;
  font-weight:bold;

  position:absolute; 
  top:0px; 
  left:150px;
  z-index:10;
}

.modal_help_header_sub {
  font-size:20px;
  color:#999999;

  position:absolute; 
  top:35px; 
  left:150px; 
  z-index:10;
}



#modal_help_checkbox_container {
  text-align:left;
}

#modal_help_checkbox {
  margin-top:-20px;
}

.arrownav_page {
  display:none;
  margin: 0px;
}


#modal_help_arrownav {

  margin-top:-30px;
  margin-left:-14px;
  margin-right:-14px;
  margin-bottom:20px;

  background: #f6f6f6;
  border-bottom: 1px solid #eaeaea;
  height:50px;

  border-top-left-radius: 5px;
  -moz-border-top-left-radius: 5px;
  -webkit-border-top-left-radius: 5px;

  border-top-right-radius: 5px;
  -moz-border-top-right-radius: 5px;
  -webkit-border-top-right-radius: 5px;

  nav { 
    position: relative; 
    // ITS THIS LEFT
    left:97px; }
  nav ul {
    list-style: none;
    padding: 0px 0px 0px 0px;
  }

  nav ul li {
    float: left;
    margin-left: 30px;
    margin-top:0px;
    position: relative;
  }   

  nav ul li a {
    color: #9f9f9f;
    font-size: 14px;
    -webkit-transition:color 0.2s ease-in;  
    -moz-transition:color 0.2s ease-in;  
    -o-transition:color 0.2s ease-in;  
    transition:color 0.2s ease-in;

  }
  
  nav ul li a:hover {
    color: #777; 
  }
  nav ul li.current a {
    border-bottom: 2px solid $blue_pastel;
    color: #555;
  }

  nav span.arrow {
    width: 24px;
    height: 13px;
    background: url('app/light-nav_arrow.png') no-repeat;
    display: none;
    position: absolute;
    top: 50px;
  }

}

// Help modal

#modal_help_page_1 { height:950px; width:800px; padding-top:50px; position:relative; }
      .set-1a { position:absolute; top:105px; left:40px; width:220px;}
      .set-1b { position:absolute; top:215px; left:120px;  width: 335px;}
      .set-1c { position:absolute; top:310px; left:200px; width:370px;}
      .set-1d { position:absolute; top:370px; left:590px }
      .set-1e { position:absolute; top:770px; left:60px; width: 300px;}
      .set-1f { position: absolute; top:770px; left:420px; width: 300px;}

#modal_help_page_2 { height:1100px; width:800px; padding-top:50px; position:relative; }
      .set-2a { position: absolute; top:240px; left:40px; width:300px;}
      .set-2b { position: absolute; top:260px; left:400px; width:290px;}
      #modal_help_page_2_50 { font-size:50px; }
      .set-2c { position: absolute; left: 40px; top: 460px; width: 250px;}
      .set-2d { position: absolute; left: 40px; top: 730px;  width: 220px;}
      .set-2e { position: absolute; left: 410px; top: 1000px; width: 370px;}

#modal_help_page_3 { height:1025px; width:800px; padding-top:50px; position:relative; }
      .set-3a { position: absolute; top:100px; left:160px; width:450px;}
      .set-3b { position: absolute; top:230px; left:300px; width:450px;}
      .set-3c { position: absolute; top:610px; left:40px; width:310px;}
      .set-3d { position: absolute; top:860px; left:40px; width:330px;}

#modal_help_page_4 { height:1025px; width:800px; padding-top:50px; position:relative; }
      .set-4a { position: absolute; left: 110px; top: 100px; width: 650px;}
      .set-4b { position: absolute; left: 40px; top: 370px; width:330px;}
      .set-4c { position: absolute; left: 400px; top: 370px; width: 300px;}
      .set-4d { position: absolute; left: 40px; top: 690px; width: 309px;}
      .set-4e { position: absolute; left: 470px; top: 940px; width: 290px;}

#modal_help_page_5 { height:1100px; width:800px; padding-top:50px; position:relative; }
      .set-5a { position: absolute; left: 475px; top: 140px; width: 310px; }
      .set-5b {position: absolute;  left: 40px; top: 425px; width: 330px; }
      .set-5c {position: absolute;  left: 40px; top: 920px; width: 290px; }

#modal_help_page_6 { height:975px; width:800px; padding-top:50px; position:relative; }
      .set-6b { position: absolute; left: 40px; top: 150px; width: 320px; }
      .set-6c { position: absolute; left: 390px; top: 90px; width: 360px; }
      .set-6d { position: absolute; left: 50px; top: 750px; width: 230px; }

#modal_help_pages_blue { color: #0D8ECF }
#modal_help_pages_green { color: #B0DE09 }
#modal_help_pages_yellow { color: #FCD202 }

.modal_help_list {
  li { 
    margin-bottom:10px;
  }
}





