//= require_self

//= require jquery.ui.slider
//= require jquery.ui.resizable
//= require uniform.default
//= require bootstrap-custom
//= require bootstrap-datepicker
//= require bootstrap
//= require bootstrap-wysihtml5
//= require chosen
//= require font-awesome

//= require account
//= require active_admin
//= require app
//= require books
//= require cases
//= require console
//= require events
//= require header
//= require map
//= require notifications
//= require roulette
//= require static_pages
//= require summary


.clearfix:after
  content: "."
  display: block
  clear: both
  visibility: hidden
  line-height: 0
  height: 0

.clearfix
  display: inline-block

html[xmlns] .clearfix
  display: block

* html .clearfix
  height: 1%

.clear
  clear: both
