// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$gray_Light: #d0d0d0;
$gray_Lighter: #e1e1e1;
$gray_Lightest: #f6f6f6;
$gray_Mid: #767676;
$gray_Dark: #555555;
$blue_pastel: #98cdff;


/////////////////////////////////////////////////////////////////
/////////////////////////// INDEX ///////////////////////////////
/////////////////////////////////////////////////////////////////


////////////// FORM


#books_index_form {
  height: 40px;
}


#books_index_books_form_searchfield {
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;

  padding-left:7px !important;
  padding-right:30px !important;

  width:170px;
}


#books_index_books_form_label {
  margin-top:5px;
}

#books_index_books_form_body_empty {
  height: 732px;
}


#books_index_books_form_empty {
  height:280px;
  padding-top:275px;
  padding-left:0px;
  padding-right:0px;
  font-weight:bold;
  font-size:20px;
  text-align:center;
}

#books_index_books_form_empty_icon {
  font-size:100px;
  margin-bottom:25px; 
  margin-left:15px;
}


////////////// ITEM

.books_index_books_item, .books_show_comments_item {

  margin-bottom: 5px !important;
  padding:10px;
  // width:100%;
}

.books_index_books_item_body {
  width:652px;
}




////// first line
.books_index_books_item_titles {
  font-size:16px;
  border-bottom:1px solid $gray_Mid;
  padding-bottom:5px;
  color:white !important;
}
.books_index_books_item_source_title {
  font-weight:lighter;
}
.books_index_books_item_title {
  font-weight:bolder;
}

/////// second line
.books_index_books_item_author {

}


///////
.books_index_books_item_description{
  height:85px;
  // font-size:11px;
}




.books_index_books_item_university_image {
  img {
    max-height:18px !important;    
  }
}



.books_index_books_item_image {
  position:relative;
  height:100px;
  width:95px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  img {
    max-width:90px;
  
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

}

.books_rating_set {
  width:150px !important;
}

.books_rating_read_container {
  padding:2px;

  border-bottom-left-radius: 0px;
  -moz-border-bottom-left-radius: 0px;
  -webkit-border-bottom-left-radius: 0px;

  border-bottom-right-radius: 0px;
  -moz-border-bottom-right-radius: 0px;
  -webkit-border-bottom-right-radius: 0px;
}

.books_rating_read {
  width:150px !important;
  text-align:center;
}

.books_rating_read_text {
  font-size:11px;
  text-align:center;
  margin-top:2px;
}

.books_rating_read_num {
  font-size:14px;
}


.books_index_books_item_info_container {
  padding:2px;
  font-size:11px;

  color:$gray_Mid;
  text-align:center;

  border-top:0;

  border-top-left-radius: 0px;
  -moz-border-top-left-radius: 0px;
  -webkit-border-top-left-radius: 0px;

  border-top-right-radius: 0px;
  -moz-border-top-right-radius: 0px;
  -webkit-border-top-right-radius: 0px;
}

.books_index_books_item_difficulty {
  border-top: 1px solid $gray_Light;
}


/////////////////////////////////////////////////////////////////
/////////////////////////// SHOW ////////////////////////////////
/////////////////////////////////////////////////////////////////


#books_show_form {
  text-align:center !important;
}

#books_show_form_rating_panel {
  text-align:center;
  font-size:11px;
  width:150px !important;
  padding:2px;
}


.books_show_comments_item_avatar {
  text-align:center;
  padding-left:5px;
}

.books_show_comments_item_date {
  font-size:11px;
  color:$gray_Mid;
}
