$gray_background: #eceef1;
$gray_Light: white;
$gray_second: #BDC3C7;
$gray_gunmetal: #363636;
$gray_gunmetal_second: #2d2d2d;

$gray_Lighter: #e1e1e1;
$gray_Lightest: #f6f6f6;
$gray_Mid: #767676;
$gray_Dark: #555555;
$gray_Darker: #333333;

$green_flatui: #1ABC9C;
$green_linkedin: #3489bd;

$blue_pastel: #98cdff;
$blue_linkedin: #006699;
$blue_skype:#45adea;

$alert-green: #88ff8e;
$alert-red: #FF3030;
$alert-blue: #7EB6FF;
$alert-yellow: #FFFF7E;


/////////////////////////////////////////////////////////////////
/////////////////////////// INDEX ///////////////////////////////
/////////////////////////////////////////////////////////////////


////////////// FORM


#books_index_form {
  height: 40px;
}


#books_index_books_form_searchfield {
  width:222px;
}

#books_index_books_form_label {
  margin-top:12px;
  font-size:12px;
  i {
    margin-left:5px;
  }
}

#books_index_books_form_body_empty {
  height: 732px;
}


#books_index_books_form_empty {
  height:280px;
  padding-top:275px;
  padding-left:0px;
  padding-right:0px;
  font-weight:bold;
  font-size:20px;
  text-align:center;
}

#books_index_books_form_empty_icon {
  font-size:100px;
  margin-bottom:25px; 
  margin-left:15px;
}



.books_index_books_form_select {
  margin:0px;
  height:92px !important;
}


#books_index_books_form_sort .btn{
  width:77px;
}

////////////// ITEM

.books_index_books_item {
  margin-bottom: 15px !important;
  padding:10px;
}

.books_index_books_item_body {
  width:500px;
}




////// first line
.books_index_books_item_titles {
  font-size:16px;
  padding-bottom:5px;
}
.books_index_books_item_source_title {
  font-weight:lighter;
}
.books_index_books_item_title {
  font-weight:bolder;
}

/////// second line
.books_index_books_item_author {

}


///////
.books_index_books_item_description{
//  height:85px;
  // font-size:11px;
}




.books_index_books_item_university_image {
  img {
    max-height:18px !important;    
  }
}



.books_index_books_item_image {
  position:relative;
  height:100px;
  width:95px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  img {
    max-width:90px;
  
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

}

.books_rating_set {
  width:150px !important;
}

.books_rating_read_container {
  padding:2px;
  text-align:center;
  border-bottom-left-radius: 0px;
  -moz-border-bottom-left-radius: 0px;
  -webkit-border-bottom-left-radius: 0px;

  border-bottom-right-radius: 0px;
  -moz-border-bottom-right-radius: 0px;
  -webkit-border-bottom-right-radius: 0px;
}

.books_rating_read {
  width:150px !important;
  text-align:center;
}

.books_rating_read_text {
  font-size:11px;
  text-align:center;
  margin-top:2px;
}

.books_rating_read_num {
  font-size:14px;
}



.books_index_books_item_info_container {

  font-size:11px;

  color:$gray_Mid;

  border-top:0;

  border-radius: 0px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;



}


.books_index_books_item_difficulty {
  display:inline-block;
  width:60px !important;
  text-align:center;
  font-size:11px;
  margin:0px;
}


.books_index_books_item_actions_container {

  .btn {
    height:25px !important;
    width:25px;
    padding:10px;;
    font-size:20px;
    line-height:25px;
    span {
      margin:0;
      padding:0;
    }
  }
  .books_index_books_item_comments {
    width:140px;
    font-size:17px;
  }

}


/////////////////////////////////////////////////////////////////
/////////////////////////// SHOW ////////////////////////////////
/////////////////////////////////////////////////////////////////



#books_show_form_rating_panel {
  text-align:center;
  font-size:11px;
  width:150px !important;
  padding:2px;

}





.books_show_comments_item {
  margin-bottom: 15px !important;
  padding:10px;
}

.books_show_comments_item_avatar {
  text-align:center;
  font-size: 30px;

}

.books_show_comments_item_date {
  font-size:11px;
  color:$gray_Mid;
}


#books_show_comments_form_container {
  width:670px;
  margin:0 auto;
  text-align:center;
}

#books_show_comments_form_submit {
  margin-left:5px;
}



/////////////////////////////////////////////////////////////////
/////////////////////////// SHOW ////////////////////////////////
/////////////////////////////////////////////////////////////////

.books_show_small {
  width:300px;
}

.books_show_small_image {
  position:relative;
  float:left;
  height:60px;
  width:57px;
  background:white;
  margin:0 10px 0 0;
  background:white;
  padding:5px;
  overflow: hidden;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  img {
    max-width:50px;
  
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

.books_show_small_body {
  text-align:left;
  float:left;
  position:relative;
  width:262px;
  margin-top:5px;
  .books_show_small_title {
    font-weight:bolder;
  }
  .books_show_small_desc {
    font-size:11px;
  }

  .books_show_small_difficulty {
    float:right;
    position:absolute;
    right:0px;
    top:0px;
  }

}





