

@import 'colours';


@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

#modal_cases {

  background:white;
  &.show {
    width:1000px !important;
    margin-left:-500px;
    height:630px !important;
    margin-top:-315px;
    .modal-body {
      overflow-y:hidden;
      position:relative;
      max-height:560px !important;
      height:560px;
      padding:0 !important;

    }
  }
  &.analysis {
    width:800px !important;
    margin-left:-400px;
    height:470px !important;
    margin-top:-235px;
    .modal-body {
      overflow-y:hidden;
      position:relative;
      max-height:560px !important;
      height:560px;
      padding:0 !important;

    }
  }
  .modal-footer {
    position:absolute;
    left:0px;
    right:0px;
    bottom:0px;
  }
}


/////////////////////////////////////////////////////////////////
//////////////////////////// SHOW ///////////////////////////////
/////////////////////////////////////////////////////////////////





#cases_show_subnav {
  display:block;
  margin:0px 0px 0px 0px;

  height:38px;
  padding:10px;
  border-bottom:1px solid $cn_grey_0;

  border-top-left-radius: 3px;
  -moz-border-top-left-radius: 3px;
  -webkit-border-top-left-radius: 3px;

  border-top-right-radius: 3px;
  -moz-border-top-right-radius: 3px;
  -webkit-border-top-right-radius: 3px;

  #cases_show_subnav_user {
    float:left;

    #cases_show_subnav_avatar{
      float:left;
      margin-right:15px;
      margin-left:10px;
      margin-top:5px;
    }

    #cases_show_subnav_name {
      float:left;
      font-size:21px;
      color: $cn_colour_-2;
      width:200px;
      font-weight:400;
      line-height:37px;
    }

  }


  #cases_show_subnav_date {
    float:right;
    display:inline-block;
    padding:17px 20px;
    height:28px;
    margin:-10px 0 0 0px;
    color:$cn_colour_-2;
    font-size: 20px;
    text-align:right;
  }

  #cases_show_subnav_browse {
    float:right;
    display:inline-block;
    margin-left:0px;
    #cases_show_subnav_select {
      margin-right:10px;
      margin-top:6px;
      width:280px;
    }

  }

  #cases_show_subnav_browse_buttons_container {
    display:inline;
    vertical-align:top;
    .btn {
      margin-top:-5px;
      i {
        font-size:15px !important;
      }
    }
  }
}





#cases_show_panel_left {

  right:395px;
  position:absolute;
  left:0px;
  top:60px;
  bottom:0px;
  overflow-y:auto;
  padding:20px 20px 0 20px;
  border-left:1px solid $cn_grey_0;

  #cases_show_book_and_score_container {
    height:108px;
    #cases_show_book {
      height:88px;
      width:400px;
      float:left;
      #cases_show_book_subject {
        font-size:20px;
        margin-top:5px;
      }

      #cases_show_book_source {
        font-size:16px;
        padding-top:10px;
      }
    }
  }

  #cases_show_score {
    width:150px;
    font-size:45px;
    float:left;
    line-height:80px;
    text-align:center;
  }

  #cases_show_recommendations {
    height:138px;

    .cases_show_recommendation {
      border-top:1px solid $cn_grey_0;
      border-bottom:1px solid $cn_grey_0;
      width:185px;
      height:138px;
      float:left;
      border-right:1px solid $cn_grey_0;
      @include box_sizing;

      &.cases_show_recommendation_third {
        border-right:0;
      }
      .cases_show_recommendation_content {
        height:100%;
        width:100%;
        padding:10px;
        @include box_sizing;

      }

      .cases_show_recommendation_title {
        text-align:center;
        margin-bottom:5px;
        font-size:14px;
        font-weight:400;
      }

    }
  }
  #cases_show_maincomment {
    line-height:26px;
    font-size:15px;
    display:block;
    padding:10px 0px;
    @include box_sizing;
    #cases_show_maincomment_content {
      @include box_sizing;
      padding:5px;
      height:100%;
    }
  }

}

#cases_show_panel_right {
  width:395px;
  position:absolute;
  right:0px;
  bottom:0px;
  top:60px;


  #cases_show_results {
    padding:10px;
    height:356px;
  }
}





/////////////////////////////////////////////////////////////////
//////////////////////////// NEW ////////////////////////////////
/////////////////////////////////////////////////////////////////



#cases_new_form {
  input, textarea {
    margin:0px !important;
  }
  text-align:center;
}

#cases_new_subnav {
  padding:10px;
  height:85px;
  border-bottom:1px solid $cn_grey_0;
}


#cases_new_book_container {
  display:inline-block;
  float:left;
}


#cases_new_user {
  text-align:center;
  display:inline-block;
  width:100px;
  padding:0px;
  float:right;
  img {
    margin-top:7px;
  }
  #cases_new_user_username {
    margin-top:5px;
    font-size:15px;
  }
}


//force 100%
.cases_new_expander {
  width:100%;
}

.cases_new_block {
  padding:0;
}


.cases_new_recommendation {
  width: 94% !important;

  height:50px !important;
}

#cases_new_recommendations_panel {
  text-align:center;
  margin: 0 15px;
}

.cases_new_block_title {
  line-height:31px;
  font-size:18px;
  text-align:center;
  margin: 15px 15px;
}

.cases_new_block_desc {
  margin:0px;
  margin-bottom:2px;

  min-height:50px;

  padding:10px;

  border-bottom: 1px solid $cn_grey_0;
  &.not_bordered {
    border-bottom:0;
  }
}

.cases_new_block_desc_title {
  font-size:17px;
  color:$cn_grey_-2;
}

.cases_new_block_desc_panel_text {
  width:60%;
}

.cases_new_scoreselector_container {
  margin-top:5px;
}

.cases_new_scoreselector_button {
  width:15px;
  position:relative;
  margin-right: 3px;
}

.cases_new_scoreselector_button_desc {
  font-size:7px;
  position:absolute;
  width:20px;
  left:50%;
  margin-left:-10px;
  text-align:center;
  bottom:8px;
  height:10px;
}




#cases_new_maincomment {
  position:relative;
  margin:15px;

  background-color: rgb(255, 255, 204);

  border-radius: 0px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;

  height:500px;

  padding:0;

  .wysihtml5-toolbar {
    position:absolute;
    top:10px;
    right:40px;
    .btn {
      padding:1px 8px;
      font-size:11px !important;
    }
  }

  #cases_new_maincomment_line {
    position:absolute;
    top:0px;
    bottom:0px;
    left:30px;
    width:1px;
    margin:0;
    padding:0;
    border-left: 1px solid #ffd4d4 !important;
  }

}




#cases_new_maincomment_linedbackground {
  display:block;
  position:absolute;
  top:40px;
  right:0px !important;
  width:90%;
  left:30px;
  bottom:0px; 
  background:transparent url(app/note_line.gif) repeat-y left top !important;
  z-index:1; 
  padding-top:0px;
  margin:0;
  border:0;
}



#cases_new_maincomment_content {
  display:block;
  position:absolute;
  top:40px;
  right:0px !important;
  width:90%;
  left:35px;
  height:420px;
  text-indent:0;
  padding-top:0px;
  margin:0;
  line-height:20px;
  resize: none;
  z-index:2;
  background:transparent;
  // Overide bootstrap
  border:0;
  border-radius: 0px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  -webkit-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0), 0 0 0px rgba(0, 0, 0, 0) !important;
  -moz-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0), 0 0 0px rgba(0, 0, 0, 0) !important;
  box-shadow: inset 0 0 0 rgba(0, 0, 0, 0), 0 0 0px rgba(0, 0, 0, 0) !important;
}

#cases_new_maincomment_content::-webkit-input-placeholder {
  color: #d6cb82 !important;
  font-style:italic !important;
  font-weight:normal !important;
}
#cases_new_maincomment_content:-moz-placeholder {
  color: #d6cb82 !important;
  font-weight:normal !important;
}
#cases_new_maincomment_content:-ms-input-placeholder {
  color: #d6cb82 !important;
  font-weight:normal !important;
}



#cases_new_recommendations_panel {
  background:$cn_grey_0;
  padding:15px;
}


#cases_new_submit_panel {
  text-align:center;

  #cases_new_submit_button {
    width:300px;
  }
}




//////////////////////////////////////////
//////////////////////////////////////////
//////////////////////////////////////////


#cases_new_nobook {
  display:none;
  padding:7px !important;
  &.show_at_start {
    display:block;
  }
  input {
    margin-top:2px;
    margin-bottom: 0px !important;  
    width:250px;
  }
  background:$cn_grey_0;
  width:390px;
  margin:-5px -3px;

  border-top-right-radius: 3px;
  -moz-border-top-right-radius: 3px;
  -webkit-border-top-right-radius: 3px;

  border-bottom-right-radius: 3px;
  -moz-border-bottom-right-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;

}


#cases_new_nobook_label {
  font-size:14px !important;
  display:inline-block;

  width:100px;
  vertical-align:top;
  background:$cn_colour_-1;
  color:white;
  font-weight:bold;
  margin:-7px 5px -7px -7px;
  padding: 10px 13px;
  text-align:center;

  border-top-left-radius: 3px;
  -moz-border-top-left-radius: 3px;
  -webkit-border-top-left-radius: 3px;

  border-bottom-left-radius: 3px;
  -moz-border-bottom-left-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;

  #cases_new_nobook_label_subtext {
    font-weight:normal;
    margin-top:6px;
  }
}

#cases_new_nobook_inputs {
  display:inline-block;
  vertical-align:top;
}


#cases_new_book {
  font-size:11px;
  text-align:center;


  .books_rating_read {
    height:20px;
    width:100px;
  }
}




/////////////////////////////////////////////////////////////////
/////////////////////// RESULTS TABLE ///////////////////////////
/////////////////////////////////////////////////////////////////



.cases_resultstable_form {

  padding:10px;
  margin:0 0 5px 0;

  &.show {
    background:white;
  }

}

.cases_resultstable_form_radiogroup {
  display:none;
}

.cases_resultstable_table_empty {
  width:100%;
  padding-top:120px;
  padding-left:0px;
  padding-right:0px;
  text-align:center;
}

.cases_resultstable_table_empty_icon {
  font-size:35px;
  margin-bottom:10px; 
}



.cases_resultstable_form {
  height:0 !important;
  margin:0;
  padding:0;
  .cases_resultstable_order_by_container {
    position:absolute;
    top:8px;
    right:38px;
  }
}


.cases_resultstable_table {
  width:100%;
  text-align:center;

  th {
    height:40px;
  }
  th,td,th  {
    padding:0;
  }
  td {
    border-top: 0;
    padding:1px 10px !important;
    height:24px;
    font-size:14px;
  }
  .cases_resultstable_table_column_criteria {
    text-align:left;
    padding-left:10px;
    width:200px;
  }
  .cases_resultstable_chart_bar{
    width:300px !important;
    height:26px;
  }
  .cases_resultstable_table_column_bar {
    width:300px !important;
  }
  .cases_resultstable_table_cell_criteria {
    text-align:left !important;
  }
  .cases_resultstable_cell_score {
    font-size:13px;
    width:50px;
    font-weight:400;
  }



  // THE 'SHOW' PHENOTYPE
  &.show {
    th {
      height:32px;
      font-size:12px;
    }
    td {
      border-top: 0;
      padding:1px 10px !important;
      height:32px;
      font-size:12px;
      border-top:1px solid $cn_grey_0;
    }
    .cases_resultstable_table_column_criteria {
      text-align:left;
      padding-left:10px;
    }
    .cases_resultstable_chart_bar{
      width:120px !important;
      height:28px;
    }
    .cases_resultstable_table_column_bar {
      width:120px !important;
    }
    .cases_resultstable_cell_score {
      font-size:13px;
      font-weight:400;
    }

  }

}




.cases_resultstable_order_by_container {
  margin-top:5px;
}

.cases_resultstable_label {
  margin-top:10px;
  font-size:12px;
  i {
    margin-left:5px;
  } 
}


.cases_resultstable_form_filters_title {
  display:inline-block;
  vertical-align:top;
  margin-right:5px;
  margin-top:3px;
}







