$gray_background: #eceef1;
$gray_Light: white;
$gray_second: #BDC3C7;
$gray_gunmetal: #363636;
$gray_gunmetal_second: #2d2d2d;

$gray_Lighter: #e1e1e1;
$gray_Lightest: #f6f6f6;
$gray_Mid: #767676;
$gray_Dark: #555555;
$gray_Darker: #333333;

$green_flatui: #1ABC9C;
$green_linkedin: #3489bd;

$blue_pastel: #98cdff;
$blue_linkedin: #006699;
$blue_skype:#45adea;

$alert-green: #88ff8e;
$alert-red: #FF3030;
$alert-blue: #7EB6FF;
$alert-yellow: #FFFF7E;

.cases_avatar {
  text-align:center;
  font-size:30px;
}


.cases_score_large_outof {
  color:white;
  font-size:10px;
}


/////////////////////////////////////////////////////////////////
/////////////////////////// INDEX ///////////////////////////////
/////////////////////////////////////////////////////////////////



#cases_index_cases {
  padding:4px;
}


#cases_index_cases_form_searchfield {
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;

  padding-left:7px !important;
  padding-right:30px !important;
  width:209px;
}

#cases_index_cases_form_label {
  margin-top:13px;
  font-size:12px !important;
  i {
    margin-left:5px;
  }
}



////////// definitely need? /////////
#cases_index_cases_form_body_empty {
  height: 732px;
}


#cases_index_cases_form_empty {
  height:280px;
  padding-top:275px;
  padding-left:0px;
  padding-right:0px;
  font-weight:bold;
  font-size:20px;
  text-align:center;
}

#cases_index_cases_form_empty_icon {
  font-size:100px;
  margin-bottom:25px; 
  margin-left:15px;
}



////////////////////////////////////



.cases_index_cases_item {

  height:55px;
  width:915px;

  padding-top:20px;
  padding-left:5px;
  margin-bottom:3px;

  text-align:left;


}


.cases_index_cases_item_score {

  padding:0 0 0 30px;
  height:85px;
  margin-top:-20px;
  margin-right:-12px;
  line-height:85px;

  background:$gray_second;

  font-size: 26px;
  font-weight: bold;
}


.cases_index_cases_item_subject {
  font-style:italic;
  font-size:13px;
}

.cases_index_cases_item_date {
  padding-top:2px;
  // line-height:40px;
  font-size:11px;
}

.cases_index_cases_item_name {
  font-size: 15px;
  font-weight: bold;
}

.cases_index_cases_item_avatar {
  text-align:center;
  padding-left:5px;
  font-size:40px;
  line-height:50px;
}

/////////////////////////////////////////////////////////////////
//////////////////////////// SHOW ///////////////////////////////
/////////////////////////////////////////////////////////////////

#cases_show_subnav_info {
  font-size:16px;
}

#cases_show_subnav_avatar {
  text-align:center;
  font-size:40px;
  line-height:50px;
  padding-left:10px;
  padding-top:5px;
}

.cases_show_title {
  text-align:center;
  font-weight: bold;
  border-bottom: 1px solid $gray_Mid;
  margin-bottom: 5px;
  margin-top:-5px;
  &.recommendation {
  }
}

.cases_show_comment {
  // overflow-y: auto;
  min-height:182px;
  width:500px;
  border:0px !important;
  word-wrap:break-word !important;
}



.font-white {
  color:white !important;
}



#cases_show_charts_panel {
//  height:400px;
}

#cases_show_charts_view_buttongroup {
  margin-top:16px;
  position:absolute;
  z-index:100;

  padding:7px;



}















#cases_show_businessanalytics_chart_bar, #cases_show_interpersonal_chart_bar, #cases_show_structure_chart_bar {
  margin-top:-20px;
  height:220px;
  width:280px;
}


#cases_show_chart_radar {
  padding-top:10px;
  height:400px;
}

#cases_show_charts_radar_title {
  background: $gray_second;
  height:55px;
  text-align:center;
  font-weight: bold;
  line-height:31px;
  color: white;
  margin:-10px;
}

#cases_show_chart_radar_buttongroup {
  margin-top:-445px;
}


.cases_show_block_score {
  margin-top:70px;
  text-align:center;
  font-weight:bold;
  font-size:24px;
  color:white;
  background:$gray_second;
  padding:20px;
}



.cases_show_recommendation_content {
  overflow-y:auto;
  height:60px;
}



#cases_show_subnav_name {
  font-size:22px;
  line-height:30px;
  color: $gray_Dark;
}




#cases_show_subnav_browse {
  margin-top:7px;
  display:block;
  margin:-20px -24px 0px -24px;
  text-align:right;
  background:$gray_second;
  height:30px;
  padding:10px;

  border-top-left-radius: 3px;
  -moz-border-top-left-radius: 3px;
  -webkit-border-top-left-radius: 3px;

  border-top-right-radius: 3px;
  -moz-border-top-right-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  .btn {
    width:20px;
    height:20px;
    margin:-7px 2px 0 0;
  }

  #cases_show_subnav_label {
    margin-top:13px;
    font-size:12px;
    margin-right:3px;
    i {
      margin-left:5px;
    }
  }

  #cases_show_subnav_select {
    margin-right:10px;
  }

}

#cases_show_subnav_score {
  color:white;
  padding:0 0 0 30px;
  height:105px;
  margin:-10px -10px -10px 0;
  line-height:105px;

  background:$gray_second;

  font-size: 26px;
  font-weight: bold;


}

#cases_show_subnav_date {
  font-size:11px;
}




/////////////////////////////////////////////////////////////////
//////////////////////////// NEW ////////////////////////////////
/////////////////////////////////////////////////////////////////



#cases_new_form {
  input, textarea {
    margin:0px !important;
  }
  text-align:center;
}

#cases_new_subnav {
  padding:10px;
  height:85px;
  background:$gray_gunmetal;
}


#cases_new_book_container {
  display:inline-block;
  width:300px;
  float:left;
}


#cases_new_user {
  text-align:center;
  display:inline-block;
  width:100px;
  padding:0px;
  float:right;
  #cases_new_user_username {
    margin-top:5px;
    color:white;
    font-weight:bold;
  }
}


//force 100%
.cases_new_expander {
  width:100%;
}

.cases_new_block {
  padding:0;
}




.cases_new_score_input {

}


.cases_new_recommendation {
  width: 90% !important;
  height:50px !important;
  margin-left:5px;
}


#cases_new_recommendations_panel {
  text-align:center;
}




.cases_new_block_title {
  background: $gray_second;
  height:30px;
  text-align:center;
  font-weight: bold;
  line-height:31px;
  color: white;

  margin: 0px 15px;
}




#cases_new_guide {

}

.cases_new_guide_num {
  width:15px;
}




.cases_new_block_desc {
  margin:0px;
  margin-bottom:2px;
  border:0 !important;

  min-height:50px;

  padding:10px;
  &.grayed {
    background:$gray_Lightest;
  }
}

.cases_new_block_desc_title {
  font-weight:bold;
}

.cases_new_block_desc_panel_text {
  width:60%;
}



.cases_new_scoreselector_container {
  margin-top:5px;
}

.cases_new_scoreselector_button {
  width:15px;
}







#cases_new_submit_panel {
  text-align:center;

  #cases_new_submit_button {
    width:300px;
  }
}







#cases_new_maincomment {
  position:relative;
  margin:15px;

  background-color: rgb(255, 255, 204);

  border-radius: 0px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;

  height:500px;

  padding:0;

  .wysihtml5-toolbar {
    position:absolute;
    top:10px;
    right:40px;
    .btn {
      padding:1px 8px;
      font-size:11px !important;
    }
  }

  #cases_new_maincomment_line {
    position:absolute;
    top:0px;
    bottom:0px;
    left:30px;
    width:1px;
    margin:0;
    padding:0;
    border-left: 1px solid #ffd4d4 !important;
  }

}




#cases_new_maincomment_linedbackground {
  display:block;
  position:absolute;
  top:40px;
  right:0px !important;
  width:90%;
  left:30px;
  bottom:0px; 
  background:transparent url(app/note_line.gif) repeat-y left top !important;
  z-index:1; 
  padding-top:0px;
  margin:0;
  border:0;
}



#cases_new_maincomment_content {
  display:block;
  position:absolute;
  top:40px;
  right:0px !important;
  width:90%;
  left:30px;
  bottom:0px;

  padding-top:0px;
  margin:0;

  line-height:20px;

  resize: none;
  z-index:2;

  background:transparent;
  // Overide bootstrap
  border:0;
  border-radius: 0px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  -webkit-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0), 0 0 0px rgba(0, 0, 0, 0) !important;
  -moz-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0), 0 0 0px rgba(0, 0, 0, 0) !important;
  box-shadow: inset 0 0 0 rgba(0, 0, 0, 0), 0 0 0px rgba(0, 0, 0, 0) !important;
}

#cases_new_maincomment_content::-webkit-input-placeholder {
  color: #d6cb82 !important;
  font-style:italic !important;
  font-weight:normal !important;
}
#cases_new_maincomment_content:-moz-placeholder {
  color: #d6cb82 !important;
  font-weight:normal !important;
}
#cases_new_maincomment_content:-ms-input-placeholder {
  color: #d6cb82 !important;
  font-weight:normal !important;
}



#cases_new_comment_countChar {
  position:absolute;
  right:20px;
  color: #d6cb82;
  margin-top:-20px;
}



#cases_new_recommendations_panel {
  background:$gray_second;
}


//////////////////////////////////////////




#cases_new_nobook {
  display:none;
  input {
    margin-bottom: 0px !important;    
  }
}


#cases_new_nobook_label {
  font-size:14px !important;
  margin-right:10px;
  line-height:40px;
}



#cases_new_book {
  font-size:11px;
  text-align:center;
  .btn {
    width:350px;
    margin:0;
  }

  .books_rating_read {
    height:20px;
    width:100px;
  }
}



/////////////////////////////////////////////////////////////////
////////////////////////// ANALYSIS /////////////////////////////
/////////////////////////////////////////////////////////////////


#cases_analysis_nav {
  .btn {
    width:110px;
    i {
      margin-right:5px;
    }
  }
}

  #cases_analysis_nav_container {
    margin: 0 auto;
    width:590px;
  }

.cases_analysis_loading {
  width:150px;
  position:relative;
  left:50%;
  margin-left: -75px;
  margin-top:-40px;
  top:50%;
  .bar {
    width:100%;
  }
}





#cases_analysis_section_radar {
  text-align:center;
}
#cases_analysis_chart_radar_buttongroup {
  display:none;
}


#cases_analysis_chart_radar {
  display:none;
  padding:0;
  height:450px;
  width:100%;
}

#cases_analysis_chart_radar_empty {
  height:300px;
  width:100%;
  display:none;
  padding-top:80px;
  padding-left:0px;
  padding-right:0px;
  font-weight:bold;
  text-align:center;
}

#cases_analysis_chart_radar_empty_icon {
  font-size:100px;
  margin-bottom:20px; 
}














#cases_resultstable_form {

  padding:10px;
  margin:-10px -10px 5px -10px !important;

  background: $gray_second;

}





#cases_analysis_section_table_empty {
  height:300px;
  width:100%;
  padding-top:80px;
  padding-left:0px;
  padding-right:0px;
  font-weight:bold;
  text-align:center;
}

#cases_analysis_section_table_empty_icon {
  font-size:100px;
  margin-bottom:30px; 
}

#cases_resultstable_table {
  position:relative;
  width:100%;
  font-size:14px;
  th {
    padding: 7px 2px;
    p {
      font-size:11px;
      margin:0px;
    }
  }
  td {

    border-top: 2px solid $gray_background;
    padding: 4px 7px;

    text-align:center;
    &.text-left-align {
      text-align:left;
    }
  }
}


.cases_resultstable_chart_bar {
  width:300px;
  height:20px;
  border:0px solid white;
}


#cases_resultstable_table_column_bar {
  width:300px;
}

.cases_resultstable_cell_score {
  font-weight:bold;
  font-size:15px !important;
}


.cases_resultstable_label {
  margin-top:8px;
  font-size:12px;
  i {
    margin-left:5px;
  } 
}








#cases_analysis_chart_progress {
  width:100%;
  height:350px;
  display:none;
}

#cases_analysis_chart_progress_empty {
  height:260px;
  width:100%;
  display:none;
  padding-top:70px;
  padding-left:0px;
  padding-right:0px;
  font-weight:bold;
  text-align:center;
}


#cases_analysis_chart_progress_empty_icon {
  font-size:100px;
  margin-bottom:20px;  
}




#cases_analysis_chart_country {
  height:300px;
  display:none;
}


#cases_analysis_chart_country_empty {
  height:222px;
  width:100%;
  display:none;
  padding-top:70px;
  padding-left:0px;
  padding-right:0px;
  font-weight:bold;
  text-align:center;
}

#cases_analysis_chart_country_empty_icon {
  font-size:100px;
  margin-bottom:30px; 
}




#cases_analysis_chart_university {
  height:300px;
  display:none;
}


#cases_analysis_chart_university_empty {
  height:222px;
  width:100%;
  display:none;
  padding-top:70px;
  padding-left:0px;
  padding-right:0px;
  font-weight:bold;
  text-align:center;
}

#cases_analysis_chart_university_empty_icon {
  font-size:100px;
  margin-bottom:30px; 
}









.cases_analysis_block_title {

  margin:-10px;
  margin-bottom: 10px;
  background: $gray_second;
  height:30px;
  text-align:center;
  font-weight: bold;
  line-height:31px;
  color: white;


}






















#cases_analysis_comments {
  font-size:85%;

  .tab-content {
    padding:4px;
    border:0;
  }

  ul {
    margin:0px;
  }
}


#cases_analysis_comments_tabs {
  padding-left:110px;

  text-decoration:none;

  text-align:center;

  li {
    &.active {
      a {
        background:$green-flatui;
        border:0;
      }
    }
  }

  a {
    width:150px;
    background: $gray_second;
    margin: 0px 3px;

    padding: 10px 10px;
    color: $gray_Light;

    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;

    &:hover {
        background:$green-flatui;
    }

  }

}


#cases_analysis_comments_empty {
  width: 100%;
  padding-top:40px;
  padding-left:0px;
  padding-right:0px;
  font-weight:bold;
  text-align:center;
}

#ccases_analysis_comments_empty_icon {
  font-size:100px;
  margin-bottom:40px;  
}




.cases_analysis_comment {
  margin-top: 5px;
  padding: 10px;

  background: white;
  
  &:hover {
    background: $gray_second;
    text-decoration:none !important;
  }

  .cases_analysis_comment_from {
    text-decoration:none;
    font-weight: bold;

    .cases_analysis_comment_date {
      font-weight: normal;
      color: gray;
    }

  }

  .cases_analysis_comment_content {
    color:$gray_Dark;
  }

}

.cases_analysis_comment_link  {
  &:hover {
    text-decoration:none;
  }
}



.cases_analysis_comments_tab {
  overflow-y:auto;
  height:400px;
}
