
$gray_background: #eceef1;
$gray_Light: white;
$gray_second: #BDC3C7;

$gray_Lighter: #e1e1e1;
$gray_Lightest: #f6f6f6;
$gray_Mid: #767676;
$gray_Dark: #555555;
$gray_Darker: #333333;
$blue_pastel: #98cdff;
$blue_linkedin: #006699;

$green_flatui: #1ABC9C;

$alert-green: #88ff8e;
$alert-red: #FF3030;
$alert-blue: #7EB6FF;
$alert-yellow: #FFFF7E;



.cases_avatar {
  text-align:center;
  font-size:30px;
}


.cases_score_large_outof {
  color:white;
  font-size:10px;
}


/////////////////////////////////////////////////////////////////
/////////////////////////// INDEX ///////////////////////////////
/////////////////////////////////////////////////////////////////



#cases_index_cases {
  padding:4px;
}


#cases_index_cases_form_searchfield {
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;

  padding-left:7px !important;
  padding-right:30px !important;
  width:209px;
}

#cases_index_cases_form_label {
  margin-top:5px;
  font-size:12px !important;
  i {
    margin-left:5px;
  }
}



////////// definitely need? /////////
#cases_index_cases_form_body_empty {
  height: 732px;
}


#cases_index_cases_form_empty {
  height:280px;
  padding-top:275px;
  padding-left:0px;
  padding-right:0px;
  font-weight:bold;
  font-size:20px;
  text-align:center;
}

#cases_index_cases_form_empty_icon {
  font-size:100px;
  margin-bottom:25px; 
  margin-left:15px;
}



////////////////////////////////////



.cases_index_cases_item {

  height:55px;
  width:915px;

  padding-top:12px;
  padding-left:5px;
  margin-bottom:3px;

  text-align:left;

}


.cases_index_cases_item_score {
  font-size: 26px;
  font-weight: bold;
  text-align:center !important;
  height:30px;
  margin-top:2px !important;
  line-height:27px;
  color: $blue_pastel !important;
  background:white;
  padding:10px;
}

.cases_index_cases_item_subject {
  font-style:italic;
  font-size:13px;
  color:$gray_Mid;
}

.cases_index_cases_item_date {
  padding-top:2px;
  // line-height:40px;
  font-size:11px;
}

.cases_index_cases_item_name {
  font-size: 15px;
  font-weight: bold;
}

.cases_index_cases_item_avatar {
  text-align:center;
  padding-left:5px;
  font-size:40px;
  line-height:50px;
}

/////////////////////////////////////////////////////////////////
//////////////////////////// SHOW ///////////////////////////////
/////////////////////////////////////////////////////////////////



.cases_show_title {
  text-align:center;
  font-weight: bold;
  border-bottom: 1px solid $gray_Mid;
  margin-bottom: 5px;
  margin-top:-5px;
  &.recommendation {
  }
}

.cases_show_comment {
  // overflow-y: auto;
  min-height:182px;
  width:405px;
  border:0px !important;
  word-wrap:break-word !important;
}



.font-white {
  color:white !important;
}



#cases_show_charts_panel {
  height:350px;
}

#cases_show_charts_view_buttongroup {
  margin-top:16px;
  position:absolute;
  z-index:100;

  background:rgba(0,0,0,0.5);

  padding:7px;

  border-top-left-radius: 5px;
  -moz-border-top-left-radius: 5px;
  -webkit-border-top-left-radius: 5px;

  border-bottom-right-radius: 5px;
  -moz-border-bottom-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;


}















#cases_show_businessanalytics_chart_bar, #cases_show_interpersonal_chart_bar, #cases_show_structure_chart_bar {
  margin-top:-20px;
  height:220px;
  width:170px;
}


#cases_show_chart_radar {
  padding-top:10px;
  height:300px;
}


#cases_show_chart_radar_buttongroup {
  margin-top:-300px;
}

.cases_show_block_circle_outer {
    background: #f00;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin:0px;
    margin-top:60px;
    padding:10px;
}

.cases_show_block_circle {
    background: #f00;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border:0px !important;
    margin:0px;
}

.cases_show_block_circle_text {
    margin-top:12px;
    text-align:center;
    font-weight:bold;
    font-size:24px;
    color: #98cdff !important;
}



.cases_show_recommendation_content {
  overflow-y:auto;
  height:60px;
}



#cases_show_subnav_name {
  font-size:17px;
  line-height:30px;
  color: $gray_Dark;
}


#cases_show_subnav_university {
  color: $gray_Mid;
}

#cases_show_subnav_label {
  margin-top:3px;
  font-size:12px;
  i {
    margin-left:5px;
  }
}

#cases_show_subnav_browse {
  color:$gray_Light;
}

#cases_show_subnav_score {
  font-size: 40px;
  height:40px;
  line-height:40px;
  font-weight: bold;
  text-align:center;
  color: $blue_pastel !important;
}


#cases_show_subnav_date {
  font-style:italic;
  font-size:12px;
  color: $gray_Light;
}


/////////////////////////////////////////////////////////////////
//////////////////////////// NEW ////////////////////////////////
/////////////////////////////////////////////////////////////////



#cases_new_form {
  input, textarea {
    margin:0px !important;
  }
  text-align:center;
}





#cases_new_target_name{
  font-size:15px;
  padding:5px;
  font-weight:bold;
}


//force 100%
.cases_new_expander {
  width:100%;
}

.cases_new_block {
  padding:0;
}



#cases_new_nobook {
  display:none;
  input {
    margin-bottom: 0px !important;    
  }
}


#cases_new_nobook_label {
  margin-top:4px;
  font-size:14px !important;
}

.cases_new_score_input {

}


.cases_new_recommendation {
  width: 90% !important;
  height:50px !important;
  margin-left:5px;
}


#cases_new_recommendations_panel {
  text-align:center;
}




.cases_new_block_title {
  background: $gray_second;
  height:30px;
  text-align:center;
  font-weight: bold;
  line-height:31px;
  color: white;

  margin: 0px 15px;;
}




#cases_new_guide {
  text-align:center !important;
  font-size:11px;
}

.cases_new_guide_num {
  font-size:12px;
  color:$blue_pastel;
}




.cases_new_block_desc {
  margin:0px;
  margin-bottom:2px;
  border:0 !important;

  min-height:50px;

  padding:10px;
  &.grayed {
    background:$gray_Lightest;
  }
}

.cases_new_block_desc_title {
  font-weight:bold;
}

.cases_new_block_desc_panel_text {
  width:60%;
}

.cases_new_block_groupscore {
  text-align:center;
}

.cases_new_block_groupscore_businessanalytics_number {
  font-size:20px;
}


.cases_new_scoreselector_container {
  margin-top:5px;
}

.cases_new_scoreselector_button {
  width:15px;
}







#cases_new_submit_panel {
  text-align:center;
  margin-bottom:70px;
}


#cases_new_submit_button {

  width:300px;
  height:45px;

}




.cases_new_comment {
  margin:0px 15px 15px 15px;

  background-color: rgb(255, 255, 204);

  height:205px;

  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;

  .wysihtml5-toolbar {
    position:relative;
    top:-30px;
    left:5px;
    .btn {
      padding:1px 8px;
      font-size:11px !important;
    }
  }

}

.cases_new_comment_content_container {
  margin-left:35px;

  // width here defines length of lines
  height:169px;
  position:relative;
  top:35px;

  border-left: 1px solid #ffd4d4 !important;

  background:rgb(255, 255, 204) url(app/note_line.gif) repeat-y left top !important;

}


.cases_new_comment_content {

  margin-top:-37px;
  height:160px;

  // width for text box - it'll runs out of yellow if not careful
  // better solution needed here!
  width:90%;

  border:1px solid black;

  line-height:20px;
  padding-left:10px;

  border:0px solid transparent !important;
  
  -webkit-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0), 0 0 0px rgba(0, 0, 0, 0) !important;
  -moz-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0), 0 0 8px rgba(0, 0, 0, 0) !important;
  box-shadow: inset 0 0 0 rgba(0, 0, 0, 0), 0 0 8px rgba(0, 0, 0, 0) !important;

  background:transparent;

}


.cases_new_comment_content::-webkit-input-placeholder {
  color: #d6cb82;
  font-style:italic;
  font-weight:normal;
}
.cases_new_comment_content:-moz-placeholder {
  color: #d6cb82;
  font-weight:normal;
}
.cases_new_comment_content:-ms-input-placeholder {
  color: #d6cb82;
  font-weight:normal;
}


.cases_new_comment_countChar {
  position:absolute;
  right:20px;
  color: #d6cb82;
  margin-top:-20px;
}

//////////////////////////////////////////


#cases_new_book {
  font-size:11px;
}

#cases_new_book_body {
  width:352px;
}

#cases_new_book_image {
  position:relative;
  height:60px;
  width:57px;

  margin:0;
  
  overflow: hidden;
  img {
    max-width:55px;
  
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

/////////////////////////////////////////////////////////////////
////////////////////////// ANALYSIS /////////////////////////////
/////////////////////////////////////////////////////////////////


.cases_analysis_loading {
  width:150px;
  position:relative;
  left:50%;
  margin-left: -75px;
  margin-top:-40px;
  top:50%;
  .bar {
    width:100%;
  }
}

#cases_analysis_subnav_label {
  margin-top:5px;
  font-size:12px;
  i {
    margin-left:5px;
  }
}




#cases_analysis_section_radar {
  text-align:center;
}
#cases_analysis_chart_radar_buttongroup {
  display:none;
  margin-top:-28px;
}


#cases_analysis_chart_radar {
  display:none;
  padding-left:2px;
  height:450px;
  width:100%;
}

#cases_analysis_chart_radar_empty {
  height:222px;
  width:100%;
  display:none;
  padding-top:80px;
  padding-left:0px;
  padding-right:0px;
  font-weight:bold;
  text-align:center;
}

#cases_analysis_chart_radar_empty_icon {
  font-size:100px;
  margin-bottom:30px; 
}














#cases_resultstable_form {

  padding:10px;
  margin:-10px -10px 5px -10px !important;

  background: rgba(0, 0, 0, 0.5);

  border-top-left-radius: 5px;
  -moz-border-top-left-radius: 5px;
  -webkit-border-top-left-radius: 5px;

  border-top-right-radius: 5px;
  -moz-border-top-right-radius: 5px;
  -webkit-border-top-right-radius: 5px;
}





#cases_analysis_section_table_empty {
  height:222px;
  width:100%;
  padding-top:80px;
  padding-left:0px;
  padding-right:0px;
  font-weight:bold;
  text-align:center;
}

#cases_analysis_section_table_empty_icon {
  font-size:100px;
  margin-bottom:30px; 
}

#cases_resultstable_table {
  width:100%;
  font-size:11px;
  td {
    padding-left:5px;
    padding-right:5px;
    text-align:center;
    &.text-left-align {
      text-align:left;
    }
  }
}


.cases_resultstable_chart_bar {
  width:300px;
  height:20px;
  border:0px solid white;
}


#cases_resultstable_table_column_bar {
  width:300px;
}

.cases_resultstable_cell_last5 {
  color: $blue_pastel;
  font-size:12px !important;
}


.cases_resultstable_label {
  margin-top:3px;
  font-size:12px;
  i {
    margin-left:5px;
  } 
}








#cases_analysis_chart_progress {
  width:100%;
  height:350px;
  display:none;
}

#cases_analysis_chart_progress_empty {
  height:260px;
  width:100%;
  display:none;
  padding-top:100px;
  padding-left:0px;
  padding-right:0px;
  font-weight:bold;
  text-align:center;
}


#cases_analysis_chart_progress_empty_icon {
  font-size:100px;
  margin-bottom:40px;  
}




#cases_analysis_chart_country {
  height:300px;
  display:none;
}


#cases_analysis_chart_country_empty {
  height:222px;
  width:100%;
  display:none;
  padding-top:70px;
  padding-left:0px;
  padding-right:0px;
  font-weight:bold;
  text-align:center;
}

#cases_analysis_chart_country_empty_icon {
  font-size:100px;
  margin-bottom:30px; 
}




#cases_analysis_chart_university {
  height:300px;
  display:none;
}


#cases_analysis_chart_university_empty {
  height:222px;
  width:100%;
  display:none;
  padding-top:70px;
  padding-left:0px;
  padding-right:0px;
  font-weight:bold;
  text-align:center;
}

#cases_analysis_chart_university_empty_icon {
  font-size:100px;
  margin-bottom:30px; 
}









.cases_analysis_block_title {
//  background: url('app/dark-bg.png') repeat top left;

//  border-top-left-radius: 5px;
//  -moz-border-top-left-radius: 5px;
//  -webkit-border-top-left-radius: 5px;

//  border-top-right-radius: 5px;
//  -moz-border-top-right-radius: 5px;
//  -webkit-border-top-right-radius: 5px;

//  line-height:25px;

//  height:25px;
//  text-align:center;
//  font-weight: bold;
//  font-size:12px;
//  // border-bottom: 1px solid $gray_Light;
//  margin-bottom: 5px;
//  color: $gray_Lighter;

  margin:-10px;
  margin-bottom: 10px;
  background: $gray_second;
  height:30px;
  text-align:center;
  font-weight: bold;
  line-height:31px;
  color: white;


}



















.cases_analysis_stats_name {
  font-style:italic;
  text-align:right;
  padding-right:10px;
  margin-right:10px;
  border-right: 1px solid $gray_Lighter;
}

.cases_analysis_stats_sub {
  font-weight:bold;
  border-bottom: 1px solid $gray_Lighter;
}



#cases_analysis_comments_tabs {
  padding-left:250px;
  text-decoration:none;
  
  a {
    background: $gray_second;
    margin: 0px 3px;
    padding-left:30px;
    padding-right:30px;
    color: $gray_Light;
    &:hover {
      background: rgba(0, 0, 0, 0.5);
      color:white;
      border:1px solid transparent;
    }
  }

}


#cases_analysis_comments_empty {
  width: 100%;
  padding-top:40px;
  padding-left:0px;
  padding-right:0px;
  font-weight:bold;
  text-align:center;
}

#ccases_analysis_comments_empty_icon {
  font-size:100px;
  margin-bottom:40px;  
}




.cases_analysis_comment {
  margin-top: 5px;
  padding: 5px;

  background: $gray_background;
  
  &:hover {
    background: $gray_second;
    text-decoration:none !important;
  }

  .cases_analysis_comment_from {
    text-decoration:none;
    font-weight: bold;

    .cases_analysis_comment_date {
      font-weight: normal;
      color: gray;
    }

  }

  .cases_analysis_comment_content {
    font-style: italic;
    color:$gray_Dark;
  }

}

.cases_analysis_comment_link  {
  &:hover {
    text-decoration:none;
  }
}

#cases_analysis_comments {
  font-size:85%;
  ul {
    margin:0px;
  }
}

.cases_analysis_comments_tab {
  overflow-y:auto;
  height:260px;
}
