
@charset "UTF-8";

@font-face {
  font-family: "cn-font-icons";
  src:url("cn-font-icons.eot");
  src:url("cn-font-icons.eot?#iefix") format("embedded-opentype"),
    url("cn-font-icons.ttf") format("truetype"),
    url("cn-font-icons.svg#cn-font-icons") format("svg"),
    url("cn-font-icons.woff") format("woff");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "cn-font-icons" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "cn-font-icons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.icon-settings:before {
  content: "a";
}

.icon-location:before {
  content: "b";
}

.icon-bubble:before {
  content: "c";
}

.icon-mail:before {
  content: "d";
}

.icon-lock:before {
  content: "e";
}

.icon-stack:before {
  content: "f";
}

.icon-arrow-left:before {
  content: "g";
}

.icon-arrow-right:before {
  content: "h";
}

.icon-barbell:before {
  content: "i";
}

.icon-bars:before {
  content: "j";
}

.icon-book-open:before {
  content: "k";
}

.icon-bubble-3:before {
  content: "l";
}

.icon-comment:before {
  content: "m";
}

.icon-connection-2:before {
  content: "n";
}

.icon-connection-3:before {
  content: "o";
}

.icon-connection-1:before {
  content: "p";
}

.icon-connection-0:before {
  content: "q";
}

.icon-graph:before {
  content: "s";
}

.icon-users:before {
  content: "t";
}

.icon-users-outline:before {
  content: "u";
}

.icon-calendar:before {
  content: "v";
}

.icon-book-read-streamline:before {
  content: "w";
}

.icon-browser-streamline-window:before {
  content: "x";
}

.icon-email-mail-streamline:before {
  content: "y";
}

.icon-grid-lines-streamline:before {
  content: "z";
}

.icon-map-pin-streamline:before {
  content: "B";
}

.icon-man-people-streamline-user:before {
  content: "A";
}

.icon-lock-locker-streamline:before {
  content: "C";
}

.icon-locker-streamline-unlock:before {
  content: "D";
}

.icon-notebook-streamline:before {
  content: "E";
}

.icon-settings-streamline-1:before {
  content: "F";
}

.icon-settings-streamline-2:before {
  content: "G";
}

.icon-favorite-map-pin:before {
  content: "H";
}

.icon-bubbles-talk-1:before {
  content: "I";
}

.icon-map-pin-5:before {
  content: "J";
}

.icon-logout:before {
  content: "K";
}

.icon-fontawesome-webfont:before {
  content: "L";
}

.icon-enter:before {
  content: "r";
}

.icon-next-3:before {
  content: "M";
}

.icon-files-1:before {
  content: "N";
}

.icon-arrow-circle-1-right:before {
  content: "O";
}

.icon-arrow-right-1:before {
  content: "P";
}

.icon-fontawesome-webfont-1:before {
  content: "Q";
}

.icon-fontawesome-webfont-2:before {
  content: "R";
}

.icon-right-thin:before {
  content: "S";
}

.icon-star:before {
  content: "T";
}

.icon-clock:before {
  content: "U";
}

.icon-clock-1:before {
  content: "V";
}

.icon-fontawesome-webfont-3:before {
  content: "W";
}

.icon-fontawesome-webfont-4:before {
  content: "X";
}

.icon-calendar-1:before {
  content: "Y";
}

.icon-date:before {
  content: "Z";
}

.icon-play-circle:before {
  content: "0";
}

.icon-play:before {
  content: "1";
}

.icon-play-alt:before {
  content: "2";
}

.icon-fontawesome-webfont-5:before {
  content: "3";
}

.icon-check-1:before {
  content: "4";
}

.icon-check:before {
  content: "5";
}

.icon-bubble-comment-streamline-talk:before {
  content: "6";
}

.icon-bubble-1:before {
  content: "7";
}

.icon-marker:before {
  content: "8";
}

.icon-fontawesome-webfont-6:before {
  content: "9";
}

.icon-map-pin-stroke:before {
  content: "!";
}

.icon-plus:before {
  content: "\"";
}

.icon-streamline-sync:before {
  content: "#";
}

.icon-arrows-ccw:before {
  content: "$";
}

.icon-spin:before {
  content: "%";
}

.icon-refresh:before {
  content: "&";
}

.icon-linkedin-alt:before {
  content: "'";
}

.icon-social-linkedin:before {
  content: "(";
}

.icon-fontawesome-webfont-7:before {
  content: ")";
}

.icon-linkedin-alt-1:before {
  content: "*";
}

.icon-skype:before {
  content: "+";
}

.icon-social-skype:before {
  content: ",";
}

.icon-fontawesome-webfont-8:before {
  content: "-";
}

.icon-skype-1:before {
  content: ".";
}

.icon-skype-2:before {
  content: "/";
}

.icon-magnifying-glass:before {
  content: ":";
}

.icon-fontawesome-webfont-9:before {
  content: ";";
}

.icon-search:before {
  content: "<";
}

.icon-search-1:before {
  content: "=";
}

.icon-search-2:before {
  content: ">";
}

.icon-arrow-down:before {
  content: "?";
}

.icon-arrow-up:before {
  content: "@";
}

.icon-arrow-left-1:before {
  content: "[";
}

.icon-fontawesome-webfont-10:before {
  content: "]";
}

.icon-fontawesome-webfont-11:before {
  content: "^";
}

.icon-fontawesome-webfont-12:before {
  content: "_";
}

.icon-up-thin:before {
  content: "`";
}

.icon-down-thin:before {
  content: "{";
}

.icon-arrow-down-1:before {
  content: "|";
}

.icon-arrow-up-1:before {
  content: "}";
}

.icon-arrow-1-down:before {
  content: "~";
}

.icon-arrow-1-up:before {
  content: "\\";
}

.icon-fontawesome-webfont-13:before {
  content: "\e000";
}

.icon-fontawesome-webfont-14:before {
  content: "\e001";
}

.icon-fontawesome-webfont-15:before {
  content: "\e002";
}

.icon-fontawesome-webfont-16:before {
  content: "\e003";
}

.icon-down-dir:before {
  content: "\e004";
}

.icon-down-open:before {
  content: "\e005";
}

.icon-down-open-big:before {
  content: "\e006";
}

.icon-down-open-mini:before {
  content: "\e007";
}

.icon-up-dir:before {
  content: "\e008";
}

.icon-up-open:before {
  content: "\e009";
}

.icon-up-open-big:before {
  content: "\e00a";
}

.icon-up-open-mini:before {
  content: "\e00b";
}

.icon-fontawesome-webfont-17:before {
  content: "\e00c";
}

.icon-fontawesome-webfont-18:before {
  content: "\e00d";
}

.icon-check-5:before {
  content: "\e00e";
}

.icon-fontawesome-webfont-19:before {
  content: "\e00f";
}

.icon-fontawesome-webfont-20:before {
  content: "\e010";
}

.icon-fontawesome-webfont-21:before {
  content: "\e011";
}

.icon-fontawesome-webfont-22:before {
  content: "\e012";
}

.icon-check-2:before {
  content: "\e013";
}

.icon-check-alt:before {
  content: "\e014";
}

.icon-checkmark:before {
  content: "\e015";
}

.icon-checkbox-checked:before {
  content: "\e016";
}

.icon-fontawesome-webfont-23:before {
  content: "\e017";
}

.icon-x:before {
  content: "\e018";
}

.icon-cancel:before {
  content: "\e019";
}

.icon-cancel-circled:before {
  content: "\e01a";
}

.icon-x-1:before {
  content: "\e01b";
}

.icon-block:before {
  content: "\e01c";
}

.icon-fontawesome-webfont-24:before {
  content: "\e01d";
}

.icon-fontawesome-webfont-25:before {
  content: "\e01e";
}

.icon-x-circle:before {
  content: "\e01f";
}

.icon-x-alt:before {
  content: "\e020";
}

.icon-close:before {
  content: "\e021";
}

.icon-fontawesome-webfont-26:before {
  content: "\e022";
}

.icon-fontawesome-webfont-27:before {
  content: "\e023";
}

.icon-fontawesome-webfont-28:before {
  content: "\e024";
}

.icon-user:before {
  content: "\e025";
}

.icon-fontawesome-webfont-29:before {
  content: "\e026";
}

.icon-user-add:before {
  content: "\e027";
}

.icon-users-1:before {
  content: "\e028";
}

.icon-content-44:before {
  content: "\e029";
}

.icon-content-43:before {
  content: "\e02a";
}

.icon-list-bullet:before {
  content: "\e02b";
}

.icon-list-number:before {
  content: "\e02c";
}

.icon-fontawesome-webfont-30:before {
  content: "\e02d";
}

.icon-fontawesome-webfont-32:before {
  content: "\e02f";
}

.icon-fontawesome-webfont-33:before {
  content: "\e030";
}

.icon-list:before {
  content: "\e031";
}

.icon-list-1:before {
  content: "\e032";
}

.icon-list-2:before {
  content: "\e033";
}

.icon-graph-horizontal:before {
  content: "\e034";
}

.icon-indent-right:before {
  content: "\e035";
}

.icon-indent-left:before {
  content: "\e036";
}

.icon-th-list:before {
  content: "\e02e";
}

.icon-fontawesome-webfont-31:before {
  content: "\e037";
}

.icon-fontawesome-webfont-34:before {
  content: "\e038";
}

.icon-fontawesome-webfont-35:before {
  content: "\e039";
}

.icon-edit-modify-streamline:before {
  content: "\e03a";
}

.icon-page-edit:before {
  content: "\e03b";
}

.icon-pencil:before {
  content: "\e03c";
}

.icon-fontawesome-webfont-36:before {
  content: "\e03d";
}

.icon-pencil-1:before {
  content: "\e03e";
}

.icon-pencil-2:before {
  content: "\e03f";
}

.icon-pen:before {
  content: "\e040";
}

.icon-fontawesome-webfont-37:before {
  content: "\e041";
}

