
@charset "UTF-8";

@font-face {
  font-family: "cn-font-icons";
  src:url("cn-font-icons.eot");
  src:url("cn-font-icons.eot?#iefix") format("embedded-opentype"),
    url("cn-font-icons.ttf") format("truetype"),
    url("cn-font-icons.svg#cn-font-icons") format("svg"),
    url("cn-font-icons.woff") format("woff");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "cn-font-icons" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "cn-font-icons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.icon-settings:before {
  content: "a";
}

.icon-location:before {
  content: "b";
}

.icon-bubble:before {
  content: "c";
}

.icon-mail:before {
  content: "d";
}

.icon-lock:before {
  content: "e";
}

.icon-stack:before {
  content: "f";
}

.icon-arrow-left:before {
  content: "g";
}

.icon-arrow-right:before {
  content: "h";
}

.icon-barbell:before {
  content: "i";
}

.icon-bars:before {
  content: "j";
}

.icon-book-open:before {
  content: "k";
}

.icon-bubble-3:before {
  content: "l";
}

.icon-comment:before {
  content: "m";
}

.icon-connection-2:before {
  content: "n";
}

.icon-connection-3:before {
  content: "o";
}

.icon-connection-1:before {
  content: "p";
}

.icon-connection-0:before {
  content: "q";
}

.icon-graph:before {
  content: "s";
}

.icon-users:before {
  content: "t";
}

.icon-users-outline:before {
  content: "u";
}

.icon-calendar:before {
  content: "v";
}

.icon-book-read-streamline:before {
  content: "w";
}

.icon-browser-streamline-window:before {
  content: "x";
}

.icon-email-mail-streamline:before {
  content: "y";
}

.icon-grid-lines-streamline:before {
  content: "z";
}

.icon-map-pin-streamline:before {
  content: "B";
}

.icon-man-people-streamline-user:before {
  content: "A";
}

.icon-lock-locker-streamline:before {
  content: "C";
}

.icon-locker-streamline-unlock:before {
  content: "D";
}

.icon-notebook-streamline:before {
  content: "E";
}

.icon-settings-streamline-1:before {
  content: "F";
}

.icon-settings-streamline-2:before {
  content: "G";
}

.icon-favorite-map-pin:before {
  content: "H";
}

.icon-bubbles-talk-1:before {
  content: "I";
}

.icon-map-pin-5:before {
  content: "J";
}

.icon-logout:before {
  content: "K";
}

.icon-fontawesome-webfont:before {
  content: "L";
}

.icon-enter:before {
  content: "r";
}

.icon-next-3:before {
  content: "M";
}

.icon-files-1:before {
  content: "N";
}

.icon-arrow-circle-1-right:before {
  content: "O";
}

.icon-arrow-right-1:before {
  content: "P";
}

.icon-fontawesome-webfont-1:before {
  content: "Q";
}

.icon-fontawesome-webfont-2:before {
  content: "R";
}

.icon-right-thin:before {
  content: "S";
}

.icon-star:before {
  content: "T";
}

.icon-clock:before {
  content: "U";
}

.icon-clock-1:before {
  content: "V";
}

.icon-fontawesome-webfont-3:before {
  content: "W";
}

.icon-fontawesome-webfont-4:before {
  content: "X";
}

.icon-calendar-1:before {
  content: "Y";
}

.icon-date:before {
  content: "Z";
}

.icon-play-circle:before {
  content: "0";
}

.icon-play:before {
  content: "1";
}

.icon-play-alt:before {
  content: "2";
}

.icon-fontawesome-webfont-5:before {
  content: "3";
}

.icon-check-1:before {
  content: "4";
}

.icon-check:before {
  content: "5";
}

.icon-bubble-comment-streamline-talk:before {
  content: "6";
}

.icon-bubble-1:before {
  content: "7";
}

.icon-marker:before {
  content: "8";
}

.icon-fontawesome-webfont-6:before {
  content: "9";
}

.icon-map-pin-stroke:before {
  content: "!";
}

.icon-plus:before {
  content: "\"";
}

.icon-streamline-sync:before {
  content: "#";
}

.icon-arrows-ccw:before {
  content: "$";
}

.icon-spin:before {
  content: "%";
}

.icon-refresh:before {
  content: "&";
}

.icon-linkedin-alt:before {
  content: "'";
}

.icon-social-linkedin:before {
  content: "(";
}

.icon-fontawesome-webfont-7:before {
  content: ")";
}

.icon-linkedin-alt-1:before {
  content: "*";
}

.icon-skype:before {
  content: "+";
}

.icon-social-skype:before {
  content: ",";
}

.icon-fontawesome-webfont-8:before {
  content: "-";
}

.icon-skype-1:before {
  content: ".";
}

.icon-skype-2:before {
  content: "/";
}

.icon-magnifying-glass:before {
  content: ":";
}

.icon-fontawesome-webfont-9:before {
  content: ";";
}

.icon-search:before {
  content: "<";
}

.icon-search-1:before {
  content: "=";
}

.icon-search-2:before {
  content: ">";
}

.icon-arrow-down:before {
  content: "?";
}

.icon-arrow-up:before {
  content: "@";
}

.icon-arrow-left-1:before {
  content: "[";
}

.icon-fontawesome-webfont-10:before {
  content: "]";
}

.icon-fontawesome-webfont-11:before {
  content: "^";
}

.icon-fontawesome-webfont-12:before {
  content: "_";
}

.icon-up-thin:before {
  content: "`";
}

.icon-down-thin:before {
  content: "{";
}

.icon-arrow-down-1:before {
  content: "|";
}

.icon-arrow-up-1:before {
  content: "}";
}

