
@import 'colours';



#account_complete_panel {


  #account_complete_panel_nav_arrow_left {
    left:50px;
  }

  #account_complete_panel_nav_arrow_right {
    right:50px;
  }

  #account_complete_panel_nav_arrow_left, #account_complete_panel_nav_arrow_right {
    position:absolute;
    top:260px;
    color:$cn_grey_-1;
    cursor:pointer;
    @include prevent_text_highlight;
    &:hover {
      color:$cn_colour_1;
    }
    i {
      font-size:50px;
    }
  }

  .arrownav_page {
    display:none;
    margin: 0px;
    &.first_page {
      display:block;
    }
  }



  padding:50px 25px 25px;

  width:640px;
  height:430px;

  margin:0 auto; //adding 50 top margin here doesn't work for some reason, use padding
  z-index:10;

  -moz-border-radius:    3px;
  -webkit-border-radius: 3px;
  border-radius:         3px;

  input {
    display:block;
    margin-bottom:15px;
    border:1px solid $cn_grey_-1;
    -moz-border-radius:    3px;
    -webkit-border-radius: 3px;
    border-radius:         3px;
    padding-left:47px;
    width:244px;
  }

  i {
    margin-top:2px;
    margin-right:3px;
  }

  .chzn-container {
    width:298px !important;
  }

  .chzn-choices input {
    padding-left:3px !important;
  }

  .popover-content {
    span {
      margin-right:3px;
      margin-left:2px;
    }
  }
}


#static_home_form_username_input {
  -moz-border-bottom-left-radius:    0px !important;
  -webkit-border-bottom-left-radius: 0px !important;
  border-bottom-left-radius:         0px !important;
  -moz-border-bottom-right-radius:    0px !important;
  -webkit-border-bottom-right-radius: 0px !important;
  border-bottom-right-radius:         0px !important;
}

#static_home_form_username_label {
  height:30px;
  text-align:center;
  border:1px solid $cn_grey_0;

  -moz-border-bottom-left-radius:    3px;
  -webkit-border-bottom-left-radius: 3px;
  border-bottom-left-radius:         3px;
  -moz-border-bottom-right-radius:    3px;
  -webkit-border-bottom-right-radius: 3px;
  border-bottom-right-radius:         3px;
  width:296px;
  margin-top:-15px;
  margin-bottom:15px;
  background:$cn_grey_0;
  line-height:30px;
}


#account_complete_panel_column_left, #account_complete_panel_column_right {
  float:left;
  width: 300px;
}

#account_complete_panel_column_left {
  margin-right:40px;
}


#account_complete_cases_ext_label {
  width:150px;
  height:48px;
  float:left;
  margin:0;
  background:$cn_grey_0;
  padding:5px 10px 9px;
  border:1px solid $cn_grey_-1;
  -moz-border-top-left-radius:    3px;
  -webkit-border-top-left-radius: 3px;
  border-top-left-radius:         3px;

  -moz-border-bottom-left-radius:    3px;
  -webkit-border-bottom-left-radius: 3px;
  border-bottom-left-radius:         3px;
}

#account_complete_cases_ext_input {
  height:50px;
  float:left;
  width:115px !important;
  padding-left:5px !important;
  margin:0;
  font-size:25px;
  text-align:center;
  text-index:0;
  border-left:0 !important;

  -moz-border-top-left-radius:    0px !important;
  -webkit-border-top-left-radius: 0px !important;
  border-top-left-radius:         0px !important;

  -moz-border-bottom-left-radius:    0px !important;
  -webkit-border-bottom-left-radius: 0px !important;
  border-bottom-left-radius:         0px !important;

  -moz-border-top-right-radius:    3px;
  -webkit-border-top-right-radius: 3px;
  border-top-right-radius:         3px;

  -moz-border-bottom-right-radius:    3px;
  -webkit-border-bottom-right-radius: 3px;
  border-bottom-right-radius:         3px;
}



#account_complete_map_header {
  background: $cn_grey_0;
  height:40px;
  text-align:center;
  line-height:20px;
  padding:5px;
}









///////////////////////////////////////////
///////////////////////////////////////////
///////////////////////////////////////////


.modal_help_title {
  font-size:25px;
  font-weight:bold;
  text-align:center;
  z-index:10;
}

.modal_help_text {
  margin:20px 0 20px 0;
  text-align:left;
  color:$cn_grey_-2;
  &.last_page {
    text-align:center;
  }
}

.modal_help_control_centered {
  text-align:center;
  margin-bottom:10px;
  .static_home_form_input_container {
    width:300px;
    margin:0 auto !important;
  }
}

#modal_help_usersnearby {
  overflow-y:scroll;
  height:350px;
  width:650px;
  position:relative;
  .map_index_users_item {
    float:left;
    width:325px;
  }
}

.modal_help_image {
  text-align:center;
  img {
    width:580px;
    height:363px;
    margin:0 auto;
    border:1px solid $cn_grey_0;
  }
}

.account_complete_suggested_item {
  width:290px;
  height:70px;
  float:left;
  border:1px solid $cn_grey_0;
  margin:5px;
  padding:10px;
  @include prevent_text_highlight;
  .account_complete_suggested_item_avatar {
    float:left;
    height:70px;
    margin-right:10px;
    img {
      margin-top:2px;
    }
  }
  .account_complete_suggested_item_username {
    font-size:13px;
    font-weight:400;
  }
  .account_complete_suggested_item_university {
    font-size:12px;
  }
  .account_complete_suggested_item_case_count {
    font-weight:400;
    font-size:15px;
    padding:10px;
    position:relative;
    float:left;
    .account_complete_suggested_item_case_count_text {
      font-size:10px;
      position:absolute;
      bottom:5px;
    }
  }
  .account_complete_suggested_item_distance {
    font-size:18px;
    padding:10px;
    float:left;
  }
  .account_complete_suggested_item_button_add {
    float:left;
    width:110px !important;
    font-size:12px;
    line-height:12px;
    i {
      font-size:13px;
      margin-right:1px;
    }

    &.sent {
      background:$cn_grey_-2;
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease;
    }

  }
  &:hover {
    border:1px solid $cn_grey_-2;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
}

