
@import 'colours';



#account_complete_panel {
  position:relative;

  padding:50px 25px 25px;

  width:640px;
  height:420px;

  margin:0 auto; //adding 50 top margin here doesn't work for some reason, use padding
  z-index:10;

  -moz-border-radius:    3px;
  -webkit-border-radius: 3px;
  border-radius:         3px;

  #account_complete_pagenum {
    position:absolute;
    bottom:-120px;
    left:50%;
    width:100px;
    margin-left:-50px;
  }

  #account_complete_panel_nav_progress_container {
    @include prevent_text_highlight;
    position:absolute;
    bottom:-20px;
    left:0;
    right:0;
    #account_complete_panel_nav_progress_backbone_line {
      background:$cn_grey_-1;
      height:3px;
      position:absolute;
      left:30px;
      top:5px;
      padding:0;
      margin:0;
      z-index:0;
      right:30px;
    }

    #account_complete_panel_nav_progress_follower_line {
      background:$cn_colour_0;
      height:3px;
      position:absolute;
      left:35px;
      top:5px;
      padding:0;
      margin:0;
      z-index:19;
      width:2px;
    }

    .account_complete_panel_nav_progress_blip {
      width:10px;
      height:10px;
      border-radius:50%;
      background:white;
      position:absolute;
      z-index:0;
      border:1px solid $cn_grey_-1;
      //cursor:pointer;
      .account_complete_panel_nav_progress_blip_text {
        display:none; //hidden at beginning
        position:absolute;
        top:18px;
        left:0;
        font-size:10px;
        width:70px;
        text-align:center;
        margin-left:-30px;
      }
      .account_complete_panel_nav_progress_blip_outline {
        width:18px;
        left:-5px;
        top:-5px;
        position:absolute;
        height:18px;
        border-radius:50%;
        border:1px solid $cn_grey_-1;
      }
      &.blip1 {
        left:28px;
      }
      &.blip2 {
        left:#{28+(63 * 1)}px;
      }
      &.blip3 {
        left:#{28+(63 * 2)}px;
      }

      &.blip4 {
        left:#{28+(63 * 3)}px;
      }
      &.blip5 {
        left:#{58+(63 * 3)}px;
      }
      &.blip6 {
        left:#{88+(63 * 3)}px;
      }

      &.blip7 {
        left:#{28+(78 * 4)}px;
      }
      &.blip8 {
        left:#{28+(78 * 5)}px;
      }
      &.blip9 {
        left:#{28+(78 * 6)}px;
      }
      &.blip10 {
        left:#{28+(78 * 7)}px;
      }
      &.blip11 {
        left:#{28+(78 * 8)}px;
      }
    }

  }


  #account_complete_panel_nav_arrow_left {
    left:-50px;
  }

  #account_complete_panel_nav_arrow_right {
    right:-50px;
  }

  #account_complete_panel_nav_arrow_left, #account_complete_panel_nav_arrow_right {
    position:absolute;
    top:260px;
    color:$cn_grey_-1;
    cursor:pointer;
    @include prevent_text_highlight;
    &:hover {
      color:$cn_colour_1;
    }
    i {
      font-size:50px;
    }
  }

  .arrownav_page {
    display:none;
    margin: 0px;
    &.first_page {
      display:block;
    }
  }


  input {
    display:block;
    margin-bottom:15px;
    border:1px solid $cn_grey_-1;
    -moz-border-radius:    3px;
    -webkit-border-radius: 3px;
    border-radius:         3px;
    padding-left:47px;
    width:244px;
  }

  i {
    margin-top:2px;
    margin-right:3px;
  }

  .chzn-container {
    width:298px !important;
  }

  .chzn-choices input {
    padding-left:3px !important;
  }

  .popover-content {
    span {
      margin-right:3px;
      margin-left:2px;
    }
  }
}



#account_complete_panel_column_left, #account_complete_panel_column_right {
  float:left;
  width: 300px;
}

#account_complete_panel_column_left {
  margin-right:40px;
}


#account_complete_cases_ext_label {
  width:150px;
  height:40px;
  float:left;
  margin:0;
  background:$cn_grey_0;
  padding:13px 10px 9px;
  border:1px solid $cn_grey_-1;
  -moz-border-top-left-radius:    3px;
  -webkit-border-top-left-radius: 3px;
  border-top-left-radius:         3px;

  -moz-border-bottom-left-radius:    3px;
  -webkit-border-bottom-left-radius: 3px;
  border-bottom-left-radius:         3px;
}

#account_complete_cases_ext_input {
  height:50px;
  float:left;
  width:115px !important;
  padding-left:5px !important;
  margin:0;
  font-size:25px;
  text-align:center;
  text-index:0;
  border-left:0 !important;

  -moz-border-top-left-radius:    0px !important;
  -webkit-border-top-left-radius: 0px !important;
  border-top-left-radius:         0px !important;

  -moz-border-bottom-left-radius:    0px !important;
  -webkit-border-bottom-left-radius: 0px !important;
  border-bottom-left-radius:         0px !important;

  -moz-border-top-right-radius:    3px;
  -webkit-border-top-right-radius: 3px;
  border-top-right-radius:         3px;

  -moz-border-bottom-right-radius:    3px;
  -webkit-border-bottom-right-radius: 3px;
  border-bottom-right-radius:         3px;
}



#account_complete_map_header {
  background: $cn_grey_0;
  height:40px;
  text-align:center;
  line-height:37px;
  padding:5px;
}



///////////////////////////////////////////
///////////////////////////////////////////
///////////////////////////////////////////



.account_complete_page_title {
  font-size:25px;
  font-weight:bold;
  text-align:center;
  z-index:10;
}

.account_complete_page_text {
  margin:20px 0 20px 0;
  text-align:left;
  color:$cn_grey_-2;
  font-size:15px;
  line-height:20px;
  min-height:15px; /// IMORTANT
  &.page_last {
    text-align:center;
  }
  &.page_welcome {
    text-align:center;
    line-height:30px;
    .page_welcome_bold {
      font-weight:400;
    }
  }
  &.page_features {
    padding-left:350px;
    padding-top:100px;
    font-size:18px;
    li {
      margin-bottom:15px;
    }
  }
  &.page_suggested {
    width:420px;
    position:relative;
    margin-bottom:15px;
    #account_complete_form_suggested_button_sendtoall {
      width:140px;
      position:absolute;
      top:0px;
      right:-170px;
      &.sent {
        background:$cn_grey_-2;
        opacity: 0.5;
        filter: alpha(opacity=80);
        cursor:auto;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
      }
    }

  }
}

.account_complete_page_text_col_left {
  position:absolute;
  left:20px;
  top:200px;
  width:250px;
  font-size:15px;
  li {
    margin-bottom:15px;
  }
}

.account_complete_page_control_centered {
  margin-bottom:10px;
  .static_home_form_input_container {
    width:300px;
    margin:0 auto !important;
  }
  .chzn-container {
    display:block;
    width:300px;
    margin:0 auto !important;
  }
}


.account_complete_page_image {
  text-align:center;
  img {
    margin:0 auto;
    outline:1px solid $cn_grey_0;
  }
  &.page_skype {
    img {
      outline:0;
    }
  }
}


#account_complete_page_intro_art {
  position:absolute;
  left:50%;
  margin-left:-90px;
  top:110px;

  max-width:180px;

}
#account_complete_page_features_art_container {

  position:absolute;
  left:90px;
  top:175px;

  height:220px;
  width:220px;

  -moz-border-radius:    50%;
  -webkit-border-radius: 50%;
  border-radius:         50%;
  border:1px solid $cn_grey_0;

  #account_complete_page_features_art {
    max-width:160px;
    margin-top:35px;
    margin-left:32px;
  }

}

#account_complete_page_image_scenario {
  margin-right:-40px;
  #account_complete_page_image_scenario_f2f {
    max-width:450px;
  }
  #account_complete_page_image_scenario_skype {
    display:none;
    max-width:370px;
    padding-right:30px;
    padding-top:10px;
  }
}

#account_complete_page_image_scenario_legend {
  position:absolute;
  bottom:15px;
  right:150px;
  #account_complete_page_image_scenario_text {
    display:inline-block;
    margin-right:10px;
    margin-top:1px;
  }
}


///////////////////////////////////////////
///////////////////////////////////////////
///////////////////////////////////////////


#account_complete_form_timezone {
  text-align:left;
  .chzn-single {
    margin-top:-8px;
  }
}


.account_complete_suggested_item {
  width:290px;
  height:60px;
  float:left;
  border:1px solid $cn_grey_0;
  margin:2px;
  padding:10px;
  cursor:pointer;
  @include prevent_text_highlight;
  .account_complete_suggested_item_avatar {
    float:left;
    height:50px;
    margin-right:10px;
    width:45px;
    img {
      margin-top:5px;
    }
  }
  .account_complete_suggested_item_body_left {
    width:115px;
    float:left;
  }
  .account_complete_suggested_item_body_right {
    width:120px;
    float:left;
  }
  .account_complete_suggested_item_username {
    font-size:13px;
    font-weight:400;
  }
  .account_complete_suggested_item_university {
    font-size:12px;
  }
  .account_complete_suggested_item_case_count {
    font-size:17px;
    padding:5px;
    position:relative;
    text-align:center;
    width:50px;
    height:20px;
    float:left;
    .account_complete_suggested_item_case_count_text {
      font-size:10px;
      position:absolute;
      bottom:-5px;
      left:50%;
      width:30px;
      margin-left:-15px;
    }
  }
  .account_complete_suggested_item_distance {
    font-weight:400;
    font-size:17px;
    padding:5px;
    height:20px;
    text-align:center;
    position:relative;
    width:50px;
    float:left;
    .account_complete_suggested_item_distance_text {
      font-size:10px;
      position:absolute;
      bottom:-5px;
      left:50%;
      width:30px;
      margin-left:-15px;
    }
  }
  .account_complete_suggested_item_button_add_container {
    text-align:center;
    height:20px;
  }

  .account_complete_suggested_item_button_add {
    width:110px !important;
    font-size:12px;
    line-height:12px;
    i {
      font-size:13px;
      margin-right:1px;
    }

    &.sent {
      background:$cn_grey_-2 !important;
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease;
    }

  }
  &:hover {
    border:1px solid $cn_grey_-2;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;

    .btn.btn-green {
      background-color: #91db92;
    }

  }
}

