#console_index_container {
  width:100%;
  height:100%;
}

#console_index_pdfjs {
  // height:100%;
  // width:49%;
  float: left;
  height: 100%;
  width: 50%;
}

#console_index_pdfjs_iframe {
  height:100%;
  width:100%;  
}

#console_index_feedback {
  height:100%;
  // width:50%;
  overflow-y: scroll;
  overflow-x: hidden;
}

#console_index_feedback_subnav {
  height:40px;

  border: 1px solid #252525;
  background-color: #3D3D3D;
  background-image: -moz-linear-gradient(top, #383838, #1C1C1C);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#383838), to(#1C1C1C));
  background-image: -webkit-linear-gradient(top, #383838, #1C1C1C);
  background-image: -o-linear-gradient(top, #383838, #1C1C1C);
  background-image: linear-gradient(to bottom, #383838, #1C1C1C);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff383838', endColorstr='#ff1C1C1C', GradientType=0);

}

#console_index_feedback_iframe {
  height:100%;
  width:100%;  
}

// #clear { clear: both; height: 1px; overflow: hidden; font-size:0pt; margin-top: -1px; }
