@import 'colours';



///////////////////////////////////////////////
//////////////////// PDFJS ////////////////////
///////////////////////////////////////////////


#console_index_pdfjs {
//  extra container required as iframes don't respond to css as normal
  position:absolute;
  top:50px;
  left:0px;
  right:50%;
  bottom:4px; // WHAT THE FUCK
  border:0 !important;
  margin:0 !important;
  overflow-y:hidden;
}

#console_index_pdfjs_iframe {
  width:100%;
  height:100%;
  border:0;
  outline:0;
  overflow-y:hidden;
}

#console_index_pdfjs_blank {
  position:absolute;
  top:50px;
  left:0px;
  width:50%;
  bottom:0px;

  #console_index_pdfjs_blank_header {
    position:absolute;
    right:0px;
    left:0px;
    top:0px;
    height:50px;
    background:$cn_grey_0;

  }
  #console_index_pdfjs_blank_message {
    text-align:center;
    margin-top: 300px;

    #console_index_panel_blank_message_text {
      margin-top:10px;
    }
  }
}




///////////////////////////////////////////////
///////////////// FEEDBACK ////////////////////
///////////////////////////////////////////////


#console_index_feedback_frame {
  border:0;
  position:absolute;
  left:50%;
  right:0;
  bottom:0;
  top:100px;
  overflow:auto;
}


#console_index_feedback_subnav {
  background: $cn_grey_0;
  height: 50px;
  position:absolute;
  left:50%;
  right:0;
  top:50px;
}

#console_index_feedback_blank {
  text-align:center;
  position:absolute;
  left:0;
  right:0;
  top:220px;

  #console_index_feedback_blank_text {
    margin-top:10px;
  }
}

/////////////////////////////////////////////
//////////////// Send PDF Button ////////////
/////////////////////////////////////////////


#console_index_subnav_button_sendpdf_container {
  width:130px;
  float:left;
  margin-top:8px;
  margin-left:10px;
}

.console_index_subnav_button_sendpdf_state {
  width: 130px;
}


/////////////////////////////////////////////
///////////////// BOOK //////////////////////
/////////////////////////////////////////////

#console_index_subnav_select_books_container {
  position:absolute;
  left:50%;
  top:57px;
  margin-left:-230px !important;
  z-index:1000;
  width:200px;
  .chzn-container-single .chzn-single {
    height:35px;
    line-height:35px;
  }
}



/////////////////////////////////////////////
///////////////// FRIENDS ///////////////////
/////////////////////////////////////////////


#console_index_subnav_select_friends_container {
  float:right;
  width:260px;
  margin-top:7px;

  .chzn-container-single .chzn-single {
    height:35px;
    line-height:35px;
  }

  #console_index_subnav_button_skype_container {
    width:50px;
    display:inline-block;
  }
  #console_index_subnav_select_friends{
    width:200px;
  }

}



/////////////////////////////////////////////
/////////////////// TIMER ///////////////////
/////////////////////////////////////////////


#console_index_subnav_timer_panel {
  position:absolute;
  left:50%;
  margin-left:-142px;
  margin-top:5px;
  background-color: $cn_grey_-1;
  padding: 5px;
  height:30px;
  width:170px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}

#console_index_subnav_timer {
  font-size:23px;
  line-height:30px;
}

.console_index_subnav_button_timer_set {
  width:12px !important;
  height:15px;
  line-height:11px;
  text-align:center;
  padding: 5px 9px 10px 6px !important;
  font-weight:bold;
  margin:-1px 2px 0;
  display:block;
  float:left;
}

#console_index_timer_restartreset_container {
  .btn {
    font-size:11px;
  }
}

#console_index_subnav_button_timer_pause, {
  height:15px;
  width:40px;
  padding: 5px 8px 10px 8px !important;
}

#console_index_subnav_button_timer_reset, #console_index_subnav_button_timer_restart {
  height:15px;
  width:29px;
  padding: 5px 6px 10px 6px !important;
}

.console_index_timer_panel_container{
  text-align:center;
}

#console_index_timer_pause_container, #console_index_timer_restartreset_container {
  display:none;
}






