$gray_background: #eceef1;
$gray_Light: white;
$gray_second: #BDC3C7;
$gray_gunmetal_second: #2d2d2d;

$gray_Lighter: #e1e1e1;
$gray_Lightest: #f6f6f6;
$gray_Mid: #767676;
$gray_Dark: #555555;
$gray_Darker: #333333;
$blue_pastel: #98cdff;
$blue_linkedin: #006699;

$green_flatui: #1ABC9C;
$gray_gunmetal: #363636;

$alert-green: #88ff8e;
$alert-red: #FF3030;
$alert-blue: #7EB6FF;
$alert-yellow: #FFFF7E;


#console_index_container {
  margin-top:50px;
  width:100%;
  height:100% !important;
}

#console_index_pdfjs {
  height:100%;
  // width:49%;
  float: left;
  height: 100% !important;
  width: 50%;
}





#console_index_pdfjs_iframe {
  height:100%;
  // width:49%;
  float: left;
  height: 100% !important;
  width: 50%;
  border:0;
}

#console_index_pdfjs_blank {
  position:absolute;
  top:50px;
  left:0px;
  width:50%;
  bottom:0px;

  #console_index_pdfjs_blank_header {
    position:absolute;
    right:0px;
    left:0px;
    top:0px;
    height:50px;
    background:$gray_gunmetal_second;
  }
  #console_index_pdfjs_blank_message {
    text-align:center;
    margin-top: 270px;
    i {
      font-size:55px;
      color:$gray_second;
    }
    #console_index_panel_blank_message_text {
      margin-top:10px;
    }
  }
}

#console_index_feedback {
  height:100%;
  overflow-y: hidden;
  overflow-x: hidden;
  position:relative;

}


#console_index_feedback_frame {
  height:100%;
  width:100%;
  overflow-y:auto;
  border:0;
}



#console_index_feedback_subnav {
  background: $gray_gunmetal_second;
  height: 50px;
}


#console_index_feedback_blank {
  text-align:center;
  margin-top: 220px;
  img {
    width:50px;
  }

  #console_index_feedback_blank_text {
    margin-top:10px;
  }
}

//////////////// Send PDF Button ////////////

#console_index_subnav_button_sendpdf_container {
  width:130px;
  float:left;
  margin-top:8px;
  margin-left:10px;
}

.console_index_subnav_button_sendpdf_state {
  width: 130px;
}


///////////////// BOOKS ////////////////////


#console_index_subnav_select_books_container {
  position:absolute;
  left:50%;
  top:58px;
  margin-left:-230px !important;
  z-index:1000;
  width:200px;
}


///////////////// FRIENDS ///////////////////

#console_index_subnav_select_friends_container {
  float:right;
  width:260px;
  margin-top:8px;

  #console_index_subnav_button_skype_container {


    width:50px;
    display:inline-block;
  }
  #console_index_subnav_select_friends{
    width:200px;
  }
}







////////////// TIMER ///////////////
#console_index_subnav_timer_panel {
  position:absolute;
  left:50%;
  margin-left:-142px;
  background-color: $gray_gunmetal_second;
  padding: 10px 10px 10px 10px;
  height:30px;
  width:160px;
}

#console_index_subnav_timer {
  font-size:23px;
  line-height:26px;
  color:white;

}

.console_index_subnav_button_timer_set {
  width:12px !important;
  height:15px;
  line-height:11px;
  text-align:center;
  padding: 5px 8px 10px 6px !important;
}



#console_index_timer_restartreset_container {
  .btn {
    font-size:11px;
  }
}

#console_index_subnav_button_timer_pause, {
  height:15px;
  width:40px;
  padding: 5px 8px 10px 8px !important;
}

#console_index_subnav_button_timer_reset, #console_index_subnav_button_timer_restart {
  height:15px;
  width:29px;
  padding: 5px 6px 10px 6px !important;
}

.console_index_timer_panel_container{
  text-align:center;
}



#console_index_timer_pause_container, #console_index_timer_restartreset_container {
  display:none;
}






