@import 'colours';


///////////////////////////////////////////////
////////////////// CALENDAR ///////////////////
///////////////////////////////////////////////

#events_calendar {
  p { margin: 5px 0; }
  .info {
    font-style: italic;
  }

}



#events_calendar .calendar {

  width:678px; // + 6px for borders

  .events_calendar_week {
    display:block;
    &.last_week_of_period {
      .events_calendar_day {
        border-bottom:0 !important;
      }
    }
    &.out_of_focus {
      opacity:0.3;
    }
  }

  .events_calendar_day {
    border-right:1px solid $cn_grey_0;
    border-bottom:1px solid $cn_grey_0;
    height: 95px !important; //with 20px padding - 1 for border

    position:relative;
    width: 95px !important;// -1 for border
    display:block;
    float:left;
    vertical-align: top;
    font-size: 10px;

    .events_calendar_day_num {
      position:absolute;
      top:3px;
      width:20px;
      left:50%;
      margin-left:-10px;
      text-align:center;
      font-size:12px;
    }
    .events_calendar_day_name {
      position:absolute;
      bottom:3px;

      width:30px;
      left:50%;
      margin-left:-15px;
      text-align:center;
      font-size:12px;
      font-weight:400;
    }    

    .slimScrollDiv {
      margin-top:20px;
      height:55px;
      margin-bottom:20px;
      .events_calendar_day_events {
        margin:0;
      }
    }
    .events_calendar_day_events {
      margin-top:20px;
      height:55px;
      margin-bottom:20px;      
    }

    .events_calendar_event_container {
      overflow-y: auto;
      overflow-x: hidden;
      margin-top:1px;
      width:45px; // make sure below td width or will skew table
      height:46px;
    }

    .events_calendar_day_event {
      cursor:pointer;

      -moz-border-radius:    3px;
      -webkit-border-radius: 3px;
      border-radius:         3px;
      font-weight:500;
      height:15px;
      background:$cn_colour_1;
      margin:3px;
      padding:5px;
      color:white;
      font-size:12px;

      line-height:13px;
    }
  }
  .notmonth, .notmonth a { background: $cn_grey_0; }
  .today { background: $cn_colour_2; }
  .last_day_of_week { border-right: 0; }
}

.events_calendar_event_username {
  color:white;
  font-weight:bold;
  padding-left:4px;
}



#events_calendar_month_date {
  vertical-align:middle;
  font-size:18px;
  position:absolute;
  right:55px;
  bottom:-5px;

}

#events_calendar_month_text_count{
  vertical-align:middle;
  position:absolute;
  right:55px;
  bottom:25px;
  color: $cn_colour_1;
  border-color: $cn_colour_1;
  padding:4px 6px 5px 6px !important;
  vertical-align:middle;
  &:active {
    background:white;
  }
}



///////////////////////////////////////////////
///////////////// INDEX/ALL ///////////////////
///////////////////////////////////////////////



#modal_event {
  background:white;
  width:855px !important;
  height:640px !important;
  margin-left:-427px;
  margin-top:-320px;
  text-align:center !important;

  .modal-body {
    height:530px;
    max-height:530px;
    text-align:center !important;
  }

  .close {
    margin:15px;
    position:absolute;
    top:15px;
    right:15px;
  }

  #events_modal_title {
    font-size:25px;
    margin:0 0 20px 0;

    #events_modal_title_icon {
      font-size:35px;
      display:inline-block;
      width:50px;
      height:50px;
      padding:7px;
      border:1px solid $cn_grey_-1 !important;
      font-weight:100 !important;
      border-radius:50%;
      margin:15px 0px;
      line-height:55px;
    }
  }

  .events_modal_block_number {
    display:block;
    width:20px;
    display:inline-block;
    height:20px;
    text-align:center;
    padding:7px;
    border:1px solid $cn_grey_-1 !important;
    font-weight:100 !important;
    border-radius:50%;
    margin-bottom:10px;
    line-height:22px;
  }

  .events_modal_block_title {
    font-size:20px;
  }

  .events_modal_block {
    width:396px;
    height:190px;
    float:left;
    text-align:center;

  }

  .events_modal_block_spacer {
    height:190px;
    width:15px;
    float:left;
  }

}


.events_modal_timezone_popup {
  border:1px solid $cn_grey_-1;
  color:$cn_grey_-2;
  display:block;
  i {
    font-size:35px;
    position:absolute;
    left:15px;
    top:50%;
    margin-top:-17px;
    font-weight:lighter;
  }
  position:relative;
  -moz-border-radius:    3px;
  -webkit-border-radius: 3px;
  border-radius:         3px;
  
}


.events_modal_book_viewer_title {
  height:30px;
  background: white;
  text-align:center;
  font-weight: bold;
  line-height:31px;
  color: $cn_grey_-2;
  margin: 0px 0px;
}

#events_modal_friend_select {
  margin-top:15px;
  width:340px;
}


#events_modal_friend_selected {
  display:inline-block;
  height:20px;
  font-size:20px;
  line-height:12px;

}


#events_modal_friend_timezone {
  height:40px;
  .events_modal_timezone_popup {
    display:inline-block;
    width:312px; //makes total length up to 340px - alex's suggested
    height:40px;
    text-align:center;
    padding: 8px 14px 8px 14px !important;
  }
}




#events_modal_datetime_friend { // one for datetime

  height:40px;

  .events_modal_timezone_popup {
    display:inline-block;
    width:312px; //makes total length up to 340px - alex's suggested
    height:40px;
    text-align:center;
    padding: 8px 14px 8px 14px !important;
  }
  margin-top:5px;
}





#events_modal_datetime_picker {
  margin:15px 0 0 0;


  #events_modal_datetime_input {

    height:15px;
    width:297px !important; // makes total length up to 340 - alex's suggested
    font-size:22px;
    padding:8px 0px 8px 0px !important;

    color: $cn_grey_-2;
    text-align:center;
    margin:0 !important;

    border:0 !important;
    cursor:pointer;
    background:$cn_grey_0 !important;
    -webkit-box-shadow: 0 !important;
    -moz-box-shadow:    0 !important;
    box-shadow:         0 !important;

  }

  .add-on {
    border:0;
    height:23px;
    width:8px;
    line-height:22px;
    padding:5px;
    background:$cn_contrastor_third_0;
    text-indent:0 !important;
  }
}




#events_modal_book_select {
  width:340px;
}


#events_modal_book_viewer_usertoprepare_container, #events_modal_book_viewer_partnertoprepare_container {
  padding:10px;
  text-align:center;
  height:124px;
  background:white;
}


#events_modal_book_viewer_partnertoprepare {

  #events_modal_book_viewer_partnertoprepare_empty {
    margin:0 auto;
    font-size:15px;
    background:$cn_grey_0;
    padding:30px;
    height:36px;
    line-height:35px;
    width:280px; // to make it up to 340px - alex's suggested
  }

}

#events_modal_book_viewer_usertoprepare {

  #events_modal_book_viewer_usertoprepare_empty {
    margin:0 auto;
    background:$cn_grey_0;
    font-size:15px;
    margin-top:0px;
    padding:30px;
    width:280px; // to make it up to 340px - alex's suggested

  }
}




///////////////////////////////////////////////
///////////////////// EDIT ////////////////////
///////////////////////////////////////////////

#events_edit_friend_timezone {
  height:40px;
  margin-top:10px;
  .events_modal_timezone_popup {
    display:inline-block;
    width:312px; //makes total length up to 340px - alex's suggested
    height:40px;
    text-align:center;
    padding: 8px 14px 8px 14px !important;
  }
}

#events_edit_friend_selected_container {
  margin-top:20px;
}


#events_edit_partner_name {
  font-weight:400;
}

.events_edit_actions_button {
  width:20px;
}