$gray_Light: #d0d0d0;
$gray_Lighter: #e1e1e1;
$gray_Lightest: #f6f6f6;
$gray_Mid: #767676;
$gray_Dark: #555555;
$blue_pastel: #98cdff;
$blue_linkedin: #006699;

#events_calendar {
  p { margin: 5px 0; }
  .info {
    font-style: italic;
  }
}




.events_calendar_event {
  display:block;
  width:20px;
  height:20px;
  border:1px solid red;
  background-color:pink;

  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  border-radius:         10px;

}

#events_calendar .calendar {
  // border-collapse: collapse;
  width: 420px;

  td, th {
    font-family: "Lucida Grande", arial, helvetica, sans-serif;
    font-size: 10px;
    padding: 3px;
    border: 1px solid #999;
  }

  th {
    background: url('app/dark-bg.png') repeat top left;
    color: #666;
    text-align: center;
    width: 14.2857142857143%;
  }

  td {
    background: url('app/darker-bg.png') repeat top left;
    color: $gray_Lightest;
    height: 60px !important;
    width:60px !important;
    vertical-align: top;
    font-size: 10px;
    overflow:scroll;
  }

  .notmonth, .notmonth a { color: #777; }
  .today { background-color: #D7F2FF; }
}

#events_calendar #events_calendar_month {
  margin: 0;
  padding-bottom: 5px;
  font-size: 15px;
  a {
    text-decoration: none;
    padding: 0 10px;
    color: #999;
  }
}


#events_new_datetime_input {
  height:30px;
  font-size:20px;
  border:0;
}

#events_new_datetime_friend {
  height:30px;
  font-size:20px;
  border:0;
}









// .bootstrap-datetimepicker-widget {
//   position: relative;
//   z-index: 99999;
// }

// .chzn-drop, .chzn-single, .chzn-container {
//   position: relative !important;
//   z-index: 99999 !important; 
// }

// .modal-body, #modal_event, .modal-footer {
//     overflow-y:visible;
// }
