$gray_Light: #d0d0d0;
$gray_Lighter: #e1e1e1;
$gray_Lightest: #f6f6f6;
$gray_Mid: #767676;
$gray_Dark: #555555;
$blue_pastel: #98cdff;
$blue_linkedin: #006699;







///////////////////////////////////////////////
////////////////// CALENDAR ///////////////////
///////////////////////////////////////////////

#events_calendar {
  p { margin: 5px 0; }
  .info {
    font-style: italic;
  }

}

#events_calendar_reminder {
  cursor:pointer;
}

.events_calendar_event_container {
  overflow-y: scroll;
  overflow-x: hidden;

  width:95px; // important for column width

  height:46px;
}


#events_calendar_month_text_count {
  color: rgba(0,180,255,1);
}

.events_calendar_event {
  display:block;

  width:93px; // important for column width

  height:19px;

  margin-bottom:2px;

  border: 1px solid #00b4ff;
  background-color:rgba(0,180,255,0.2);
  // border:1px solid red;
  // background-color:rgba(255,0,0,0.2);

  color:white;

  -moz-border-radius:    2px;
  -webkit-border-radius: 2px;
  border-radius:         2px;

  &:hover {
    background-color:rgba(0,180,255,0.6);
    cursor:pointer;
  }

}

.events_calendar_event_count {
  color:#00b4ff;
}


#events_calendar .calendar {
  // border-collapse: collapse;
  width: 100%;

  td, th {
    font-family: "Lucida Grande", arial, helvetica, sans-serif;
    font-size: 10px;
    padding: 3px;
  }

  th {
    background:rgba(0,0,0,0.05);
    color: $gray_Dark;
    text-align: center;
    width: 14.2857142857143%;
  }

  td {
    background:transparent;
    color: $gray_Dark;
    height: 65px !important;

    width: 60px !important;

    vertical-align: top;
    font-size: 10px;


  }

  .notmonth, .notmonth a { color: #777; background:rgba(0,0,0,0.3); }
  .today { background:rgba(0,0,0,0.07); }
}

#events_calendar #events_calendar_month {
  margin: 0;
  padding-bottom: 5px;
  font-size: 15px;
  a {
    text-decoration: none;
    padding: 0 10px;
    color: #999;
  }
}



///////////////////////////////////////////////
///////////////// INDEX/ALL ///////////////////
///////////////////////////////////////////////



#modal_event {
  width:600px !important;
  margin-left:-300px;
  margin-top:-300px;

  height:540px !important;

  text-align:center !important;

  .modal-body {
    text-align:center !important;
    height:400px !important;
  }

  &.event_edit {
    height:655px !important;
    margin-top:-320px;

    .modal-body {
      text-align:center !important;
      height:515px !important;
      max-height:515px !important;
    }

  }
//  .modal-footer {
//    position:absolute;
//    bottom:0;
//  }

}




///////////////////////////////////////////////
///////////////////// NEW /////////////////////
///////////////////////////////////////////////



#events_new_friend_select {
  margin:0;
}


#events_new_friend_selected {
  display:inline-block;
  height:20px;

}


#events_new_friend_timezone {

  height:40px;

  .application_bootstrap_alert_yellow {

    display:inline-block;

    width:230px;

    height:40px;

    text-align:center;

    padding: 8px 14px 8px 14px !important;
  }

}


#events_new_datetime_friend {

  height:40px;

  .application_bootstrap_alert_blue {

    display:inline-block;

    width:230px;

    height:40px;

    text-align:center;

    padding: 8px 14px 8px 14px !important;

  }


}





#events_new_datetime_picker {
  margin:0;
}






#events_new_datetime_input {
  height:40px;
  width:300px !important;
  font-size:25px;
  border:0;

  text-align:center;

  -webkit-box-shadow: 0 !important;
  -moz-box-shadow:    0 !important;
  box-shadow:         0 !important;

  margin:0 !important;
}





//#events_new_datetime_container {
//  #event_datetime_1i {
//    width: 60px;
//  }

//  #event_datetime_2i {
//    width: 60px;
//  }

//  #event_datetime_3i {
//    width: 60px;
//  }

//  #event_datetime_4i {
//    width: 60px;
//  }

//  #event_datetime_5i {
//    width: 60px;
//  }
//}





#events_new_book_viewer_partnertoprepare {

  display:inline-block;

  width:500px;
  height:65px;

//  padding:10px;

  #events_new_book_viewer_empty {
    color:$gray_Mid;
    font-size:15px;
    margin-top:27px;
  }
}


#events_new_book_viewer_usertoprepare_container, #events_new_book_viewer_partnertoprepare_container {

  padding:10px;
  text-align:center;

}

#events_new_book_viewer_usertoprepare {

  display:inline-block;

  width:500px;
  height:65px;

//  padding:10px;

  #events_new_book_viewer_empty {
    color:$gray_Mid;
    font-size:15px;
    margin-top:27px;
  }
}


.events_form_spacer {

  border-top:1px solid $gray_Lighter;

  height:1px;

  margin: 10px 30px 20px 30px;

}



///////////////////////////////////////////////
///////////////////// EDIT ////////////////////
///////////////////////////////////////////////

#events_edit_partner_avatar {
  max-width:25px;
}

#events_edit_partner_name {
  line-height:25px;
}