
@import 'colours';



#footer {
  height:30px;
  padding:10px;
  background:$cn_colour_0;
  position:fixed;
  bottom:0px;
  right:0;
  left:0;
  z-index:1039;

  // for map
  #footer_guide_text {
    margin-left:15px;
    color:white;
    line-height:30px;
  }

  #footer_guide_count_users {
    color:$cn_contrastor_0;
    font-weight:bold;
  }

  #footer_guide_count_cases {
    color:$cn_contrastor_second_0;
    font-weight:bold; 
  }
}







//////////////////////////////////////////////
///////////////// POSTS //////////////////////
//////////////////////////////////////////////


#footer_posts {
  float:right;
  position:absolute;
  bottom:5px;
  right:60px;
  color:white;

  #footer_posts_label {
    display:inline;
    vertical-align:middle;
    font-size:12px;
    margin-right:10px;
  }
  #footer_posts_widget {
    display:inline-block;
    background:$cn_colour_05;
    padding: 6px 25px 5px 12px;
    width:150px;
    height:18px;
    vertical-align:middle;
    cursor:pointer;
    position:relative;

    -moz-border-top-right-radius:    3px;
    -webkit-border-top-right-radius: 3px;
    border-top-right-radius:         3px;

    -moz-border-bottom-right-radius:    3px;
    -webkit-border-bottom-right-radius: 3px;
    border-top-bottom-right-radius:         3px;

    #footer_posts_username_avatar {
      width:20px;
      display:inline-block;
    }
    &:hover {
      -webkit-transition: 0.25s;
      -moz-transition: 0.25s;
      -o-transition: 0.25s;
      transition: 0.25s;
      color:$cn_colour_1;
    }
    img {
      margin-top:-3px;
      margin-right:3px;
    }
    #footer_posts_arrow_buttons_container {
      display:inline;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      .btn {
        border:0;
        padding-left:1px;
        padding-right:1px;
        padding-bottom:3px !important;
      }
      position:absolute;
      right:3px;
      top:2px;
      #footer_posts_arrow_button_up {
        display:none;
      }

      .footer_posts_arrow_buttons_container_block {
        width:15px;
        display:inline-block;
        vertical-align:middle;
      }
    }

  }
  #footer_posts_new_button {
    font-size:19px;
    line-height:14px;
    margin-right:-3px;
  }
  #footer_posts_post {
    cursor:pointer;
    position:absolute;
    display:none;
    bottom:50px;
    right:130px;
    color:white;
    width:200px;
    font-size:13px;
    padding: 6px;
    background: $cn_colour_05;
    
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;

    #footer_posts_post_username {
      a {
      color:white !important;
      font-weight:bold;
      font-size:14px;    
      }
    }
  }

  #footer_posts_post:after 
  {
    content:"";
    position:absolute;
    bottom:-20px; /* value = - border-top-width - border-bottom-width */
    right:40px; /* controls horizontal position */
    border-width:20px 0 0 20px; /* vary these values to change the angle of the vertex */
    border-style:solid;
    border-color:$cn_colour_05 transparent; 

    /* reduce the damage in FF3.0 */
    display:block; 
    width:0;
  }
}

#footer_onlineusers {
  width:30px;
  height:30px;
  padding:5px;
  font-size:20px;
  margin-left:10px;
  color:white;
  background:$cn_colour_05;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  display:inline-block;
  vertical-align:middle;
  text-align:center;
  position:relative;
  cursor:pointer;

  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;

  &:hover {
    -webkit-transition: 0.25s;
    -moz-transition: 0.25s;
    -o-transition: 0.25s;
    transition: 0.25s;
    color:$cn_colour_1;
  }
  #footer_onlineusers_text {
    position:absolute;
    bottom:3px;
    left:8px;
    font-size:9px;

  }
}

#footer_bugs {
  display:inline-block;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  width:30px;
  height:30px;
  padding:5px;
  font-size:17px;
  margin-left:10px;
  color:white;
  vertical-align:middle;
  text-align:center;
  cursor:pointer;
  line-height:33px;

  &:hover {
    background:$cn_colour_05;
    a {
      -webkit-transition: 0.25s;
      -moz-transition: 0.25s;
      -o-transition: 0.25s;
      transition: 0.25s;
      color:$cn_colour_1;
    }
  }
}

