// Place all the styles related to the header here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// Shouldn't need these here as well as in app.css.scss
$gray_Light: #d0d0d0;
$gray_Lighter: #e1e1e1;
$gray_Lightest: #f6f6f6;


#header_logo_nav{
  position: absolute;
  top: 3px;
  &.signedout {
    top:18px;
  }
}

.navbar-inner {
  &.signedout {
    padding-top:15px;
    padding-bottom:15px;
  }
}


#header_nav_links_left {
  margin-left:180px;
}

#header_nav_links_right {
  margin-right:15px;
}

#header_signin_form {
  position: absolute;
  top: 3px;
  margin-left:497px; // hacky hacky!
  margin-top:5px;
  width:620px;
  input {
    margin-bottom:0px;
  }
}

#header_signin_email {
  width:178px;
}

#header_signin_rememberme {
  padding-left:30px;
  padding-top:1px;
}

#header_signin_rememberme_box {
  margin-top:-1px;
}

#header_signin_forgottenpassword {
  padding-left:1px;
  font-size:14px !important;
}


#header_signin_button_linkedin {
  margin-top:0px;
  padding: 4px 10px;
}

#header_menu_notifications_empty {
  height:150px;
  width:300px;
  padding-top:60px;
  padding-left:0px;
  padding-right:0px;
  font-weight:bold;
  text-align:center;
}

#header_menu_notifications_empty_icon {
  font-size:100px;
  margin-bottom:40px; 
}


.header_menu_notifications_name{
  font-size: 14px;

}

.header_menu_notifications_title{
  font-size: 12px;
  font-weight:bold;
}


#header_menu_profile_casecount {
  margin-left: 10px;
  position:absolute;
  top:0px;
  right:-50px;
}

#header_menu_profile_name {

}

#header_menu_notifications_unreadcount {
  font-size: 1.1em;
  font-weight:bold;
  margin-left: 4px;
  letter-spacing: 1px;
}

.header_menu_notifications_item {
  height:45px;
  width:330px;
}

.header_menu_notifications_avatar {
  float:left;
  margin-right:15px;
}


