// Place all the styles related to the header here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


$gray_Light: #d0d0d0;
$gray_Lighter: #e1e1e1;
$gray_Lightest: #f6f6f6;
$gray_Mid: #767676;
$gray_Dark: #555555;
$gray_Darker: #333333;
$blue_pastel: #98cdff;
$blue_linkedin: #006699;


header {

  background: white !important;
  
  position:absolute;
  top:0;
  right:0;
  left:0;

  height:50px;

  &.signedout {
    height:100px;
  }

  text-align:center !important;

  margin-bottom:0px !important;
  z-index:9999;

}


#header_logo_nav{
  position: absolute;
  top: 6px;
  padding:2px 10px 2px 10px;
  &.signedout {
    top:30px;
  }
  &:hover {
    background:$gray_Lightest;
  }
}

.navbar-inner {

  min-width:1050px;  
  max-width:1100px;

  background: transparent !important;

  border:0px;

  margin:auto;

  &.signedout {
    padding-top:15px;
    padding-bottom:15px;
  }

  -moz-border-radius:    0px !important;
  -webkit-border-radius: 0px !important;
  border-radius:         0px !important;
  

  li {
    height:50px;
    a {
      padding:13px !important;
      color:$gray_Dark !important;
    }
    &:hover {
      background:$gray_Lightest;
    }
    &.active {
      background:$gray_Lightest;
    }
  }
}

#header_nav_search_container { // to prevent hover on search field
  margin-right:10px;
  &:hover {
    background:transparent;
  }
}





#header_nav_links_left {
  margin-left:180px;
}

#header_nav_links_right {
  margin-right:15px;
}

/////////////////////////////////////////////
/////////////////////////////////////////////
/////////////////////////////////////////////


#header_nav_search_form {
  margin-top:8px;
}

#header_user_points {
  font-size:14px;
//  border:2px solid white;
  padding:5px;
  text-align:center;
  color:black;
  font-weight:bold;


  -moz-border-radius:    5px;
  -webkit-border-radius: 5px;
  border-radius:         5px;
}




/////////////////////////////////////////////
/////////////////////////////////////////////
/////////////////////////////////////////////


#header_nav_links_right_name {
//  width:170px;
}






/////////////////////////////////////////////
//////// NOTIFICATIONS MENU /////////////////
/////////////////////////////////////////////

#header_menu_notifications_empty {
  height:150px;
  width:300px;
  padding-top:20px;
  padding-left:0px;
  padding-right:0px;

  font-weight:bold;
  text-align:center;
}

#header_menu_notifications_empty_icon {
  font-size:80px;
  margin-bottom:10px; 
}


.header_menu_notifications_name {
  font-size: 14px;
}


.header_menu_notifications_title {
  font-size: 12px;
  font-weight:bold;
}




#header_nav_icon_notifications {
  &.unread {
    color:red;
  }
}




.header_menu_notifications_item {
  height:45px;
  width:330px;
}

.header_menu_notifications_avatar {
  float:left;
  margin-right:15px;
}



#header_nav_links_right_signedout {
  img {
    max-width:20px;
  }
}

