@import 'colours';


header {
  background: $cn_colour_0;
  position:fixed;
  top:0;
  right:0;
  left:0;
  padding-top:5px;
  height:45px;
  text-align:center !important;
  margin-bottom:0px !important;
  z-index:1039;
}


#header_logo_nav{
  position: absolute;
  padding:7px 10px 4px;
  height:31px;
  margin-top:-1px;
  -moz-border-radius:    3px !important;
  -webkit-border-radius: 3px !important;
  border-radius:         3px !important;

  &:hover {
    background:$cn_colour_05;
  }
}

.navbar-inner {

  min-width:1050px;  
  max-width:1100px;
  background: transparent !important;
  border:0px;
  margin:auto;

  -moz-border-radius:    0px !important;
  -webkit-border-radius: 0px !important;
  border-radius:         0px !important;

  ul .dropdown-menu li {
    text-align:left;
    a {
      padding-left:20px !important;
      i {
        margin-right:5px;
      }
    }
  }
}


.container > ul > li {
    height:39px;
    -moz-border-radius:    3px !important;
    -webkit-border-radius: 3px !important;
    border-radius:         3px !important;
    margin-left:3px;
    i.header_nav_links_left_map {
      padding:12px 8px 7px 0px;
      margin-top:5px;
      font-size:16px;
      vertical-align:middle;
    }
    a#header_link_contact {
//      padding:12px 8px 7px 0px;
      margin-top:0px;
      font-size:19px !important;
//      vertical-align:middle;  
    }
    img {
      vertical-align:middle;
      margin-right:10px;
      margin-top:-3px;
      &.header_nav_links_left_map {
        margin-top:-5px
      }
    }
    &:hover {
      background:$cn_colour_05;
    }
    &.active {
      background:$cn_colour_05;
    }
}
.container > ul > li > a {
  padding:13px;
  color:white !important;
}






#header_nav_links_left {
  margin-left:190px;
}

#header_nav_links_right {

  li {
    a {
      &.dropdown-toggle {
        background:0 !important;
      }
      img {
        margin-right:0 !important; // counter the rule for the whole bar
      }
      
      padding-left:10px;//make a little thinner padding horizontally
      padding-right:10px;
    }
  }
  #header_nav_links_right_user {
    b {
border-bottom-color: #FFFFFF;
    border-top-color: #FFFFFF;
    }
    margin-left:10px;
    a {
      padding-left:13px;//make a little thinner padding horizontally
      padding-right:13px;
    }
  }

}





/////////////////////////////////////////////
/////////////////////////////////////////////
/////////////////////////////////////////////



#header_nav_icon_notifications_container {
  position:relative;
  .iconbar-unread {
    position:absolute;
    top:2px;
    right:2px;
  }
}

/////////////////////////////////////////////
/////////////////////////////////////////////
/////////////////////////////////////////////


#header_nav_links_right_incomplete {
  color:white;
  padding-top:5px;
  li:hover {
    background:0;
  }
  img {
    margin-left:0px;
    margin-right:5px;
    padding:5px 0 5px 5px;
  }
}

#header_nav_links_right_incomplete_email {
  font-weight:400;
}
#header_nav_links_right_incomplete_university {
  margin-top:10px;
}


