
$gray_background: #eceef1;
$gray_Light: white;
$gray_second: #BDC3C7;

$gray_Lighter: #e1e1e1;
$gray_Lightest: #f6f6f6;
$gray_Mid: #767676;
$gray_Dark: #555555;
$gray_Darker: #333333;
$blue_pastel: #98cdff;
$blue_linkedin: #006699;

$green_flatui: #1ABC9C;

$alert-green: #88ff8e;
$alert-red: #FF3030;
$alert-blue: #7EB6FF;
$alert-yellow: #FFFF7E;




@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}




/***** for custom control position hack *****/

#map_index_map_zoomcontrol {
  position: absolute;
  left: 50px;
}

/* When the below is used, control disappears on mouse over */
// .gmnoprint{
//     display: none;
// }

/********************************************/



#map_index_container_form {
  background:$gray_second;
  position:absolute;
  right:0px;
  left:0px;
  top:0px;
  height:50px;
}


#map_index_container_users {
  position:absolute;
  left:0;
  top:50px;
  bottom:0px;
  width:300px;

  overflow-y:auto;

//  .pagination {
//    display:none;
//  }
}


#map_index_users {
  overflow-y:hidden;
}

#map_index_users_users {
  position:absolute;
  left:0;
  top:0;
  bottom:20px;
  width:300px;
  overflow-y:auto;
}



#map_index_container_map {
  z-index: 0;

  position:absolute;
  left:300px;
  right:0px;
  top:50px;
  bottom:0px;

}

#map_index_map {
  position:absolute;
  left:0px;
  right:0px;
  top:0px;
  bottom:0px;
}

#map_index_container_user_profile {
  display:none;

  z-index:1000;
  background:white;
  position:absolute;
  left:300px;
  right:0px;
  top:50px;
  bottom:0px;


  padding:5px;

}

#map_index_container_user_profile_small {
  display:none;

  z-index:1000;
  background:white;
  position:absolute;
  left:300px;
  right:0px;
  height:150px;
  bottom:0px;


  padding:5px;

}




#map_index_container_user_infobox {

  // Fade in wont work!
  // display:none;

  width:100px;

  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;

  .panel {
    border:0px;
  }

}





//////////////////////////////////////////////
/////////////// USERS ////////////////////////
//////////////////////////////////////////////

.map_index_users_form_pulldown {
  text-align:left;
  margin-left:3px;
  margin-right:3px;
}

#map_index_users_form {
//  margin-top:10px;
}


#map_index_users_form_subnav_filter {
  color:white;
  width:70px;
  font-weight:bold;
  font-size:12px;
  margin-top:8px;
  margin-left:15px;
}



#map_index_users_form_paginate {
  background:$gray_background;
  position:absolute;
  bottom:0px;
  left:0px;
  width:300px;
  .pagination {
    margin:6px 6px;
    a {
      padding:6px 4px;
    }
  }


}

#map_index_users_form_radiogroup {
  display:none;
}



#map_index_users_empty {
  text-align: center;

  position:absolute;

  top: 200px;

  width:140px;
  padding-left:35px;
  padding-right:35px;
  margin-left:20px;
}





//////////////////////////////////////////////
/////////////// USERS ITEM ///////////////////
//////////////////////////////////////////////

.map_index_users_item {
  float:left;
  margin:10px;

  display: none;



  text-align:center !important;

  position:relative;
  @include box_sizing;
}

.map_index_users_item_button {

  background: $green_flatui;

  padding: 0px 4px 4px 4px;

  height:70px;
  width:70px;

  padding-top:0px !important;


  color:white;
  text-align:center;

  &:hover{
    background: #48c9b0;
  }

  &:active{
    background: #16a085;
  }
}

.map_index_users_item_username {
  font-weight:bold;
  font-size:10px;
  margin-top:12px;
}

.map_index_users_item_avatar {
  text-align:center;
  font-size:40px;
  margin-top:-8px !important;
}

.map_index_users_item_name {
  font-weight:bold;
  text-align:center;
  font-size:10px;
  width:100%;
  &.name_long {
    font-size:10px;
  }
}


.map_index_users_item_reputation {

  float:right;

  padding:5px;
  width:14px;
  height:14px;
  margin-right:-4px;
  margin-top:0px;

  font-size:12px;
  line-height:12px;
  font-weight:bold;

  background:rgba(0,0,0,0.3);

}



.map_index_users_item_university {

  float:left;

  padding:5px;
  width:14px;
  height:14px;
  margin-left:-4px;
  margin-top:-4px;

  z-index:3000;


}




//////////////////////////////////////////////
////////////////////SHOW FULL/////////////////
//////////////////////////////////////////////

#map_index_user_profile_showsmall {
  position:absolute;
  top:0px;
  left:50%;
}

#map_index_user_profile_panel_actions {
  .btn {
    width:100px;
    margin-bottom:3px;
    height:20px !important;
  }
}
#map_index_user_profile_avatar{
  font-size:60px;
}

#map_index_user_profile_chart_activity {

  display:block;
  height:130px;
  padding:5px;
}


//////////////////////////////////////////////
////////////////SHOW SMALL////////////////////
//////////////////////////////////////////////


#map_index_user_profile_small_showfull {
  position:absolute;
  top:-10px;
  left:50%;
}

#map_index_user_profile_small_panel_actions {
  .btn {
    width:100px;
    margin-bottom:3px;
    height:20px !important;
  }
}
#map_index_user_profile_small_avatar{
  font-size:60px;
}

#map_index_user_profile_small_chart_activity {

  display:block;
  height:130px;
  padding:5px;
}
