// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// Shouldn't need these here as well as in app.css.scss
$gray_Light: #d0d0d0;
$gray_Lighter: #e1e1e1;
$gray_Lightest: #f6f6f6;
$gray_Mid: #767676;
$gray_Dark: #555555;
$blue_pastel: #98cdff;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}





// Pushes footer to bottom of page on map
#map_index_map_footerspacer {
  height:96.7%;
  width:0px;
}

/***** for custom control position hack *****/

#map_index_map_zoomcontrol {
  position: absolute;
  left: 50px;
}

/* When the below is used, control disappears on mouse over */
// .gmnoprint{
//     display: none;
// }

/********************************************/

#map_index_container {
  width:100%;
  height:100%;
}

#map_index_container_users {
  // background: rgba(0, 0, 0, 0.6);
  background: url('app/linen.jpg') repeat top left;
  float: left;
  width:50%;
  height:100%;
  box-shadow: inset -10px 0px 15px -1px #000 ;
  -moz-box-shadow: inset -10px 0px 15px -1px #000 ;
  -webkit-box-shadow: inset -10px 0px 15px -1px #000 ; 
}



#map_index_container_map {
  //   z-index: 0;
  height:100%;
}







/////////////////////////


#map_index_users {

}

#map_index_users_form {
  // margin-top:10px;
}

#map_index_users_navbar{

  text-align:center;

  .btn-toolbar {
    margin-top:6px;
  }

  height: 40px;
  padding-left: 20px;
  padding-right: 20px;
  border: 1px solid #d4d4d4;

  background-color: #3D3D3D;
  background-image: -moz-linear-gradient(top, #383838, #1C1C1C);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#383838), to(#1C1C1C));
  background-image: -webkit-linear-gradient(top, #383838, #1C1C1C);
  background-image: -o-linear-gradient(top, #383838, #1C1C1C);
  background-image: linear-gradient(to bottom, #383838, #1C1C1C);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff383838', endColorstr='#ff1C1C1C', GradientType=0);
  border-color: #252525;
}




// Spacer that forces paginate to bottom of list
#map_index_users_body {

}


#map_index_users_form_searchfield {
  width:280px;
  margin-left:10px;
}

#map_index_users_form_radiogroup {
  display:none;
}




#map_index_users_empty {
  text-align: center;
  width:140px;
  padding-left:35px;
  padding-right:35px;
  margin-top:30px;
}








//////////////////////////////////////////////
//////////////////////////////////////////////
//////////////////////////////////////////////

.map_index_users_item {
  float:left;
  width: 120px;
  height: 120px;
  margin:10px;

  display: none;

  -webkit-box-shadow: 0px 16px 26px rgba(0, 0, 0, 0.9);
  -moz-box-shadow:    0px 16px 26px rgba(0, 0, 0, 0.9);
  box-shadow:         0px 16px 26px rgba(0, 0, 0, 0.9);

  position:relative;
  @include box_sizing;
}

.map_index_users_item_button {

  padding: 4px;

  height:100%;
  width:100%;

  color:white;
  // background: rgba(0, 0, 0, 0.7);

  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;

  &:hover {
    // background: rgba(0, 0, 0, 0.7);
    cursor:pointer;cursor:hand;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  }

  // text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);

  background-color: #666666;
  background-image: -moz-linear-gradient(top, #555555, #333333);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#555555), to(#333333));
  background-image: -webkit-linear-gradient(top, #555555, #333333);
  background-image: -o-linear-gradient(top, #555555, #333333);
  background-image: linear-gradient(to bottom, #555555, #333333);
  background-repeat: repeat-x;

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff444444', endColorstr='#ff222222', GradientType=0);
  border-color: #333333 #333333 #000000;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #333333;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);

  border: 1px solid #bbbbbb;
  *border: 0;
  border-bottom-color: #a2a2a2;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  *margin-left: .3em;

  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);


}

.map_index_users_item_button:hover {
  color: #ffffff;
  text-decoration: none;
  background-color: #333333;
  *background-color: #151515;
  /* Buttons in IE7 don't get borders, so darken on hover */

  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
  -moz-transition: background-position 0.1s linear;
  -o-transition: background-position 0.1s linear;
  transition: background-position 0.1s linear;
}




.map_index_users_item_button:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.map_index_users_item_button.active,
.map_index_users_item_button:active {
  background-color: #080808 \9;
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.map_index_users_item_button {
  border-color: #c5c5c5;
  border-color: rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.25);
}


//////////////////////////////////////////////
//////////////////////////////////////////////
//////////////////////////////////////////////

.map_index_users_item_text {
  text-align:left;
  padding-left:8px;
}

.map_index_users_item_lastonline {
  position:absolute;
  z-index:99999;
  top:-6px;
  right:6px;
  font-size:9px;
  font-color:$gray_Mid !important;
  width:100px;
  line-height:10px;
  padding-top:10px;
  font-style:italic;
  text-align:right;
}











.map_index_mappanel {
  position:absolute;

  background-color: #2E2E2E;

  -moz-opacity: 0.90;
  opacity: 0.90;

  -moz-box-shadow: 0px 5px 28px #000000;
  -webkit-box-shadow: 0px 5px 28px #000000;
  box-shadow: 0px 5px 28px #000000;

}

.map_index_mappanel_list {

  color: white;

  ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
    li {
      float: left;
      margin-left: 10px;
    }
  }

  a {
    color:$gray_Light;
    &:hover {
      color:white;
      text-decoration:none;
    }
  }
}

#map_index_mappanel_control {

  font-size:12px;

  top: 40px;
  right: 50%;

  margin-right:-190px;

  padding:6px 2px;

  height:25px;
  width:380px;

  border-bottom-left-radius: 5px;
  -moz-border-bottom-left-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;

  border-bottom-right-radius: 5px;
  -moz-border-bottom-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;

}

#map_index_mappanel_control_chosen {
  margin-left:5px;
}


#map_index_mappanel_tooltip {
  
  color: white;

  display:none;

  bottom: 15%;
  left: 50%;

  margin-left: -175px;

  height:47px;
  width:350px;

  padding: 10px;

  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;

}

#map_index_mappanel_tooltip_close {
  position:absolute;
  top:21px;
  right:10px;
  border: 0;
  color:white;
}

#map_index_mappanel_tooltip_text {
  padding-right:5px;
  padding-top:4px;
}

#map_index_mappanel_tooltip_text {
  padding-right:5px;
  padding-top:4px;
}


#map_index_mappanel_footer {
  
  font-size:12px;

  bottom: 0px;
  left: 65%;

  padding-top:6px;
  padding-bottom:2px;
  padding-left: 3px;
  padding-right:3px;

  height:25px;
  width:317px;

  border-top-left-radius: 5px;
  -moz-border-top-left-radius: 5px;
  -webkit-border-top-left-radius: 5px;

  border-top-right-radius: 5px;
  -moz-border-top-right-radius: 5px;
  -webkit-border-top-right-radius: 5px;

}



#map_index_user_user {
  width:350px;
}

#map_index_user_close {
  border: 0;
  background-color: white;
}


#map_index_user_name{
  font-size:20px;
  padding-top:6px;
  padding-left:8px;
  font-weight:bold;
}


#map_index_user_casecount {
  margin-left: 4px;
  position:absolute;
  top:13px;
  right:50px;
}

#map_index_user_contact {
  margin-top:15px;
  padding-top:8px;
  border-top: 1px solid $gray_Light;
}

#map_index_user_contact_button_removefriend {
  color: $gray_Mid;
  font-size:11px;
}

#map_index_user_contact_button_skype{
  width:16px;
  height:16px;
}





#map_index_user_partner_actions {
  padding-top:8px;
  border-top: 1px solid $gray_Light;
}

#map_index_user_partner_history {
  padding:0px;
  margin:0px;
  color: $gray_Mid !important;
  font-size:11px;
}

#map_index_user_partner_pending {
  text-align:center;
  color: $gray_Mid !important;
  font-size:11px;
}


#map_index_user_partner_request {
  text-align:center;
  color: $gray_Mid !important;
  font-size:11px;
  width:100%;
  .btn-inverse {
    margin-left:5px !important;
  }
}


#map_index_user_feedback_button_feedback_req, #map_index_user_feedback_button_sendfeedback {
  width:120px;
  height:20px;
}

#map_index_user_feedback {
  padding-bottom:8px;
  border-bottom: 1px solid $gray_Light;
}

#map_index_user_feedback_results_button {
  text-align:center;
  color: $gray_Mid !important;
  font-size:11px;
  line-height:11px;
  cursor:pointer;cursor:hand;
  margin-top:2px;
}

#map_index_user_feedback_chart_radar {
  padding-top:10px;
  height:220px;
  // width:401px;
  display:none;
}

#map_index_user_feedback_chart_radar_buttongroup {
  margin-top:-225px;
  margin-left:3px;
  display:none;
}


#map_index_user_feedback_chart_radar_container {
  height:235px;
  // width:401px;
  display:none;
}

#map_index_user_feedback_chart_radar_empty {
  height:235px;
  // width:401px;
  display:none;
  padding-top:60px;
  padding-left:0px;
  padding-right:0px;
  margin-left:-25px;
  font-weight:bold;
  text-align:center;
}

#map_index_user_feedback_chart_radar_empty_icon {
  font-size:100px;
  margin-bottom:40px; 
}



