// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// Shouldn't need these here as well as in app.css.scss
$gray_Light: #d0d0d0;
$gray_Lighter: #e1e1e1;
$gray_Lightest: #f6f6f6;
$gray_Mid: #767676;
$gray_Dark: #555555;
$blue_pastel: #98cdff;


@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}




/***** for custom control position hack *****/

#map_index_map_zoomcontrol {
  position: absolute;
  left: 50px;
}

/* When the below is used, control disappears on mouse over */
// .gmnoprint{
//     display: none;
// }

/********************************************/


#map_index_container {
  margin-top:40px;
  width:100%;
  height:100%;
}



#map_index_container_map {
  z-index: 0;
  height:100%;
}


#map_index_container_user_profile {
  display:none;

  position:absolute;
  right:0;
  bottom:0;
  top:40px;
  width:50%;
  z-index: 999;
  height:100%;
  background:rgba(255,255,255,0.5);
}




/////////////////////////




#map_index_users_form {
  // margin-top:10px;
}

#map_index_users_subnav{

  height: 40px;
  padding-right: 20px;

  text-align:center;

  // overflow-x:hidden;

  .btn-toolbar {
    margin-top:8px;
    margin-bottom:3px;
  }

  .map_index_users_form_pulldown {
    text-align:left;
    margin-left:3px;
    margin-right:3px;
  }

}

#map_index_users_subnav_filter {
  color:white;
  // background: rgba(0, 0, 0, 0.6);
  // line-height:38px;
  // height:40px;
  width:70px;
  font-weight:bold;
  font-size:12px;
}


.map_index_subnav {
  border: 1px solid #252525;
  background-color: #3D3D3D;
  background-image: -moz-linear-gradient(top, #383838, #1C1C1C);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#383838), to(#1C1C1C));
  background-image: -webkit-linear-gradient(top, #383838, #1C1C1C);
  background-image: -o-linear-gradient(top, #383838, #1C1C1C);
  background-image: linear-gradient(to bottom, #383838, #1C1C1C);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff383838', endColorstr='#ff1C1C1C', GradientType=0);
}







//////////////////////////////////////////////////////////
////////// NEED TO SOLVE THIS SCROLL BUG WITH THESE //////
//////////////////////////////////////////////////////////

#map_index_container_users {
  // background: rgba(0, 0, 0, 0.6);
  // background: url('app/bg-texture4.jpg') repeat top left;
  float: left;
  width:50%;
  height:100%;

  box-shadow: inset -10px 0px 15px -1px #000;
  -moz-box-shadow: inset -10px 0px 15px -1px #000;
  -webkit-box-shadow: inset -10px 0px 15px -1px #000;

  overflow-y:auto;

  .application_pagination {
    display:none;
  }
}




#map_index_users {

}



//////////////////////////////////









#map_index_users_form_paginate {
  clear:both;
  .application_pagination {
    background:0;
  }
}

#map_index_users_form_radiogroup {
  display:none;
}



#map_index_users_empty {
  text-align: center;

  position:absolute;
  left:25%;
  margin-left:-100px;
  top: 200px;

  width:140px;
  padding-left:35px;
  padding-right:35px;
}





//////////////////////////////////////////////
//////////////////////////////////////////////
//////////////////////////////////////////////

.map_index_users_item {
  float:left;
  // width: 132px;
  // height: 128px;
  // outline:1px solid black;
  margin:13px;

  display: none;

  text-align:center !important;

  -webkit-box-shadow: 0px 16px 26px rgba(0, 0, 0, 0.9);
  -moz-box-shadow:    0px 16px 26px rgba(0, 0, 0, 0.9);
  box-shadow:         0px 16px 26px rgba(0, 0, 0, 0.9);

  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;

  position:relative;
  @include box_sizing;
}

.map_index_users_item_button {

  padding: 0px 4px 4px 4px;

  height:105px;
  width:105px;

  padding-top:0px !important;

  color:white;
  text-align:center;
  // background: rgba(0, 0, 0, 0.7);



  &:hover {
    // background: rgba(0, 0, 0, 0.7);
    cursor:pointer;cursor:hand;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  }

  // text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);

  background-color: #666666;
  background-image: -moz-linear-gradient(top, #555555, #333333);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#555555), to(#333333));
  background-image: -webkit-linear-gradient(top, #555555, #333333);
  background-image: -o-linear-gradient(top, #555555, #333333);
  background-image: linear-gradient(to bottom, #555555, #333333);
  background-repeat: repeat-x;

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff444444', endColorstr='#ff222222', GradientType=0);
  border-color: #333333 #333333 #000000;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #333333;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);

  border: 1px solid #bbbbbb;
  *border: 0;
  border-bottom-color: #a2a2a2;



  *margin-left: .3em;

  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);//, 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);//, 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);//, 0 1px 2px rgba(0, 0, 0, 0.05);


}

.map_index_users_item_button:hover {
  color: #ffffff;
  text-decoration: none;
  background-color: #333333;
  *background-color: #151515;
  /* Buttons in IE7 don't get borders, so darken on hover */

  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
  -moz-transition: background-position 0.1s linear;
  -o-transition: background-position 0.1s linear;
  transition: background-position 0.1s linear;
}




.map_index_users_item_button:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.map_index_users_item_button.active,
.map_index_users_item_button:active {
  background-color: #080808 \9;
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15);//, 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15);//, 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15);//, 0 1px 2px rgba(0, 0, 0, 0.05);
}

.map_index_users_item_button {

  // why is this not in the primary class above?
  border-color: #c5c5c5;
  border-color: rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.25);

  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;

}


//////////////////////////////////////////////

.map_index_users_item_avatar {
  img {
    margin-top:-17px;
    max-width:50px;
  }
  text-align:center;
}

.map_index_users_item_name {
  font-weight:bold;
  text-align:center;
  font-size:10px;
  width:100%;
  &.name_long {
    font-size:10px;
  }
}

.map_index_users_item_lastonline {
  font-size:9px;
  color:$gray_Mid !important;
  width:100%;
  line-height:6px;
  font-style:italic;
  text-align:center;
  &.onlinenow {
    color:#97e0ff !important; 
  }
}

.map_index_users_item_reputation {

  float:right;

  padding:5px;
  width:20px;
  margin-right:-5px;
  margin-top:-1px;

  font-size:13px;
  font-weight:bold;


  background:rgba(0,0,0,0.3);

  border-bottom-left-radius: 5px;
  -moz-border-bottom-left-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;

  border-top-right-radius: 5px;
  -moz-border-top-right-radius: 5px;
  -webkit-border-top-right-radius: 5px;

}

.map_index_users_item_country {
  max-width:19px;
}


//////////////////////////////////////////////
//////////////////////////////////////////////
//////////////////////////////////////////////







#map_index_map_subnav {

  display:none;

  position:absolute;

  padding:5px;

  z-index:100;

  height:25px;
  width:400px;

  right:0px;
  top:42px;

  color: $gray_Lightest;
  background-color: #2E2E2E;

  -moz-opacity: 0.95;
  opacity: 0.95;

  -moz-box-shadow: 0px 5px 28px #000000;
  -webkit-box-shadow: 0px 5px 28px #000000;
  box-shadow: 0px 5px 28px #000000;

  border-bottom-left-radius: 5px;
  -moz-border-bottom-left-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;

}


#map_index_map_subnav_chosen {

}

#map_index_map_subnav_mouseover {

}

#map_index_map_subnav_mouseover_text {
  font-size:11px;
}




#map_index_map_footer {
  
  position:absolute;

  font-size:12px;

  bottom: 0px;
  right: 0px;

  padding: 1px 3px 2px 3px;

  height:20px;
  width:260px;

  border-top-left-radius: 5px;
  -moz-border-top-left-radius: 5px;
  -webkit-border-top-left-radius: 5px;

  color: white;

  ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
    li {
      float: left;
      margin-left: 10px;
    }
  }

  a {
    color:$gray_Light;
    &:hover {
      color:white;
      text-decoration:none;
    }
  }
}



//////////////////////////////////////////////
//////////////////////////////////////////////
//////////////////////////////////////////////


#map_index_container_user_infobox {

  // Fade in wont work!
  // display:none;

  width:400px;

  background: rgba(0, 0, 0, 0.7);

  -webkit-box-shadow: 0px 16px 26px rgba(0, 0, 0, 0.9);
  -moz-box-shadow:    0px 16px 26px rgba(0, 0, 0, 0.9);
  box-shadow:         0px 16px 26px rgba(0, 0, 0, 0.9);

  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;

  .panel {
    border:0px;
  }

}


#map_index_container_user_infobox:after {
   content:"";
   position: absolute;
   left: 50%;
   top: 100%;
   margin-left:-18px;
   width: 0;
   height: 0;
   border-left: 18px solid transparent;
   border-top: 36px solid rgba(0, 0, 0, 0.6);;
   border-right: 18px solid transparent;
}


#map_index_user_infobox_removefriend {
  a:hover {
    color: $gray_Light !important;
    transition: color .1s ease-in !important;
    -moz-transition: color .1s ease-in !important;
    -webkit-transition: color .1s ease-in !important;
    -o-transition: color .1s ease-in !important;
  }
}



#map_index_user_infobox_close {
  border: 0;
}

#map_index_user_infobox_name {
  font-size:24px;
  width:200px;
}

#map_index_user_infobox_avatar {
  text-align:center;
  img{
    max-width:40px;    
  }

  // ADJUST THIS TO STOP TWITCH ON LOAD
  height:69px;
}


#map_index_user_infobox_points {
  font-size:18px;
  border:2px solid white;
  padding:5px;
  text-align:center;
  color:white;
  font-weight:bold;


  -moz-border-radius:    5px;
  -webkit-border-radius: 5px;
  border-radius:         5px;

}

#map_index_user_infobox_university, #map_index_user_infobox_country {
  font-size:11px;
  text-align:center;
}


#map_index_user_infobox_panel_info {
  margin:2px;
}




#map_index_user_infobox_panel_actions, #map_index_user_infobox_panel_associations {
  width:177px;

  margin: 0px 2px 2px 2px;

  font-size:12px !important;   

  text-align:center;

  height: 161px;



  .btn {
    padding:7px;
    margin:0px 2px;
    line-height:12px;
    width:68px
  }
}

#map_index_user_infobox_panel_associations_subpanel_languages {
  height:50px;
  line-height:17px;
  overflow-y:auto;
}


#map_index_user_infobox_panel_associations_subpanel_firms {
  height:70px;
  line-height:17px;
  overflow-y:auto;
}




#map_index_user_infobox_panel_actions {
  margin-left:0;
}



#map_index_user_infobox_panel_subtitle {
  background: rgba(0, 0, 0, 0.4);
  height:18px;
  padding:2px;
  text-align:center;
  font-weight: bold;
  font-size:12px;
  line-height:19px;
  margin:5px -10px 5px -10px;  
  &.top {
    margin:-10px -10px 5px -10px;
  }
  color: $gray_Lighter;
}



#map_index_user_infobox_panel_skype {
  img {
    max-height:10px;
    min-width:10px;
  }
}




.map_index_user_infobox_association_item {

  color: $gray_Lighter;

  padding:3px;

  // background: url('app/dark-bg.png') repeat top left;

  list-style:none;

}





#map_index_user_infobox_button_startcase, #map_index_user_infobox_button_event {
  height:50px;
  line-height:50px !important;
}









#map_index_user_infobox_button_friendrequest{
  width:100px !important;
  min-height:95px !important;
  line-height:17px !important;

  div {
    margin-bottom:7px;
  }
}

#map_index_user_infobox_friendpending {
  margin-top:54px;
  color:#fffa6f;
}




//////////////////////////////////////////////
//////////////////////////////////////////////
//////////////////////////////////////////////


#map_index_container_user_profile {



  .panel {
    border:0px;
  }

}



#map_index_user_profile_removefriend {
  a:hover {
    color: $gray_Light !important;
    transition: color .1s ease-in !important;
    -moz-transition: color .1s ease-in !important;
    -webkit-transition: color .1s ease-in !important;
    -o-transition: color .1s ease-in !important;
  }
}



#map_index_user_profile_close {
  border: 0;
}

#map_index_user_profile_name {
  font-size:24px;
  width:200px;
}

#map_index_user_profile_avatar {
  text-align:center;
  img{
    max-width:40px;    
  }

  // ADJUST THIS TO STOP TWITCH ON LOAD
  height:69px;
}


#map_index_user_profile_points {
  font-size:18px;
  border:2px solid white;
  padding:5px;
  text-align:center;
  color:white;
  font-weight:bold;


  -moz-border-radius:    5px;
  -webkit-border-radius: 5px;
  border-radius:         5px;

}

#map_index_user_profile_university, #map_index_user_profile_country {
  font-size:11px;
  text-align:center;
}


#map_index_user_profile_panel_info {

}




#map_index_user_profile_panel_actions, #map_index_user_profile_panel_associations {
  width:177px;

  font-size:12px !important;   

  text-align:center;

  height: 161px;



  .btn {
    padding:7px;
    margin:0px 2px;
    line-height:12px;
    width:68px
  }
}

#map_index_user_profile_panel_associations_subpanel_languages {
  height:50px;
  line-height:17px;
  overflow-y:auto;
}


#map_index_user_profile_panel_associations_subpanel_firms {
  height:70px;
  line-height:17px;
  overflow-y:auto;
}




#map_index_user_profile_panel_actions {
  margin-left:0;
}



#map_index_user_profile_panel_subtitle {
  background: rgba(0, 0, 0, 0.4);
  height:18px;
  padding:2px;
  text-align:center;
  font-weight: bold;
  font-size:12px;
  line-height:19px;
  margin:5px -10px 5px -10px;  
  &.top {
    margin:-10px -10px 5px -10px;
  }
  color: $gray_Lighter;
}



#map_index_user_profile_panel_skype {
  img {
    max-height:10px;
    min-width:10px;
  }
}




.map_index_user_profile_association_item {

  color: $gray_Lighter;

  padding:3px;

  // background: url('app/dark-bg.png') repeat top left;

  list-style:none;

}





#map_index_user_profile_button_startcase, #map_index_user_profile_button_event {
  height:50px;
  line-height:50px !important;
}









#map_index_user_profile_button_friendrequest{
  width:100px !important;
  min-height:95px !important;
  line-height:17px !important;

  div {
    margin-bottom:7px;
  }
}

#map_index_user_profile_friendpending {
  margin-top:54px;
  color:#fffa6f;
}
