// Place all the styles related to the cases controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Shouldn't need these here as well as in app.css.scss

$gray_Light: #d0d0d0;
$gray_Lighter: #e1e1e1;
$gray_Lightest: #f6f6f6;
$gray_Mid: #767676;
$gray_Dark: #555555;
$blue_pastel: #98cdff;
$blue_linkedin: #006699;




#notifications_index_notifications {
  overflow-y:scroll;
  height:500px;
}

#notifications_index_conversation {
  width:504px;
}

/////////////////////////////////////////////////////
/////////////////////////////////////////////////////
/////////////////////////////////////////////////////

#notifications_index_notifications_form_searchfield {
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;

  padding-left:7px !important;
  padding-right:30px !important;
  width:169px;
}



#notifications_index_notifications_empty {
  height:367px;
  padding-top:180px;
  padding-left:0px;
  padding-right:0px;
  font-weight:bold;
  text-align:center;
}

#notifications_index_notifications_empty_icon {
  font-size:100px;
  margin-bottom:30px; 
}


////////////////////// ITEM /////////////////////////


.notifications_index_notifications_item {
  padding:8px !important;
  margin-bottom:2px;

  color:white;

  background:rgba(0,0,0,0.5);

  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  
  &:hover {
    background:rgba(0,0,0,0.7);
    cursor:pointer;
  }

  &.select {
    background:rgba(0,0,0,0.8);
  }

  &.read {
    -moz-opacity: 0.50;
    opacity: 0.50;
  }

}



.notifications_index_notifications_item_caption {
  color: $gray_Mid;
  font-size:12px;
}

.notifications_index_notifications_item_avatar {
  padding-left:3px;
}

/////////////////////////////////////////////////////
/////////////////////////////////////////////////////
/////////////////////////////////////////////////////


#notifications_show_form_container {
  margin:-10px;
}




#notifications_show_header {
//  border-bottom: 1px solid $gray_Light;


  padding:5px;
  img {
    max-width:25px;
  }

}


#notifications_show_body {

  position:relative;

  overflow-y:scroll;
  height:385px;
  margin:0 -10px 0 -10px;
  
  -webkit-box-shadow: inset  0 8px 6px -6px black;
     -moz-box-shadow: inset  0 8px 6px -6px black;
          box-shadow: inset  0 8px 6px -6px black;
}

#notifications_show_body_subcontainer{
  position:absolute;
  bottom:0;
  width:100%;
  overflow-y:auto !important;
  max-height:100%;
}


#notifications_show_newmessage_textarea {
  width:454px;
  height:50px;
}




/////////////////////////////////////////////////////

.notifications_show_item {
  padding:10px 20px;
  text-decoration:none;
  margin-bottom:15px !important;

  &.select {
    background-color:$blue_pastel;
  }

  &.read {
    -moz-opacity: 0.50;
    opacity: 0.50;
  }

  &.white {
    color:black !important;
  }

}

.notifications_show_item_content {
  font-size:12px;
}



.notifications_show_item_avatar {
  img {
    max-width:30px;
  }
}

.notifications_show_item_date_line {
  border-top: 1px solid $gray_Light;
  margin:10px 10px 10px 10px; //remember spacer in item
  height:0;
}

.notifications_show_item_date {
  margin:-5px 0 10px 0;
  text-align:center;
  color: $gray_Light;
}

/////////////////////////////////////////////////////



