// Place all the styles related to the cases controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Shouldn't need these here as well as in app.css.scss

$gray_Light: #d0d0d0;
$gray_Lighter: #e1e1e1;
$gray_Lightest: #f6f6f6;
$gray_Mid: #767676;
$gray_Dark: #555555;
$blue_pastel: #98cdff;
$blue_linkedin: #006699;



/////////////////////////////////////////////////////
/////////////////////////////////////////////////////
/////////////////////////////////////////////////////

#notifications_index_notifications_form_searchfield {
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;

  padding-left:7px !important;
  padding-right:30px !important;
  width:150px;
}


#notifications_index_notifications_empty {
  height:360px;
  padding-top:180px;
  padding-left:0px;
  padding-right:0px;
  font-weight:bold;
  text-align:center;
}

#notifications_index_notifications_empty_icon {
  font-size:100px;
  margin-bottom:30px; 
}


////////////////////// ITEM /////////////////////////


.notifications_index_notifications_item {
  padding:8px !important;
  text-decoration:none !important;
  color: black;

  &.read {
    -moz-opacity: 0.50;
    opacity: 0.50;
  }
}

.notifications_index_notifications_item_container {
  padding:5px !important;
  &:hover {
    background-color: $gray_Lightest;
  }
}



.notifications_index_notifications_item_content_trunc {
  padding-top:0px;
}



.notifications_index_notifications_item_action {
  padding-top:10px;
  text-align:center;
}


.notifications_index_notifications_item_title {
  font-weight:bold;
}

.notifications_index_notifications_item_avatar {
  padding-left:3px;
}

/////////////////////////////////////////////////////
/////////////////////////////////////////////////////
/////////////////////////////////////////////////////


.notifications_show_item {
  padding:5px;
  text-decoration:none;
  color: black;
  background-color: #fff;
  &:hover {
    background-color: $gray_Lightest;
  }

  &.select {
    background-color:$blue_pastel;
  }
}

#notifications_show_body {
  overflow-y:scroll;
  height:500px;
}

#notifications_show_footer {
  padding:5px;
  border-top: 1px solid $gray_Light;
}

#notifications_show_header_back {
  text-decoration:none;
  &:hover {
    cursor:pointer;cursor:hand;
  }
}

#notifications_show_header {
  border-bottom: 1px solid $gray_Light;
  padding:5px;
}

#notifications_show_newmessage_textarea {
  width:693px;
  height:50px;
}
