// Place all the styles related to the onlinepanel controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


$gray_Light: #d0d0d0;
$gray_Lighter: #e1e1e1;
$gray_Lightest: #f6f6f6;
$gray_Mid: #767676;
$gray_Dark: #555555;
$gray_Darker: #333333;
$blue_pastel: #98cdff;
$blue_linkedin: #006699;


$alert-green: #88ff8e;
$alert-red: #FF3030;
$alert-blue: #7EB6FF;
$alert-yellow: #FFFF7E;



#onlinepanel_container {
 
  position:absolute;
  right:0;
  top:0;
  bottom:0;

  width:210px;

  display:none;

  @media (min-width: 1201px) {
    display:block;
  }

  height:100%;
  float:left;
//  background: url('app/bg-texture4.jpg') repeat top left;
  overflow-y: auto;
  // border-left: 3px solid black;
}


#onlinepanel_container_response {

  width:210px;
  height:400px;

  position:absolute;
  bottom:40px;
  right:20px;

  background: rgba(0,0,0,0.7);

  overflow-y:auto;
  display:none;

  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;

  @media (min-width: 1201px) {
    display:none !important;
  }

//  @media (max-width: 1200px) {
//    display:block;
//  }
}


  
#onlinepanel_container_response_min {

  position:absolute;
  right:0;
  bottom:0;

  width:210px;
  height:20px;


  background: rgba(0,0,0,0.7);

  display:none;

  @media (max-width: 1200px) {
    display:block;
  }

  z-index:999;

  padding:10px;

  -webkit-box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.75);
  -moz-box-shadow:    0px 3px 10px rgba(0, 0, 0, 0.75);
  box-shadow:         0px 3px 10px rgba(0, 0, 0, 0.75);

  border-top-left-radius: 5px;
  -moz-border-top-left-radius: 5px;
  -webkit-border-top-left-radius: 5px;

  &:hover {
    cursor:pointer;
  }
}



#onlinepanel_title {
  background: url('app/dark-bg.png') repeat top left;
  height:25px;
  padding:2px;
  text-align:center;
  font-weight: bold;
  font-size:12px;
  color: $gray_Lighter;
}


#onlinepanel_friends {
  height:312px;
  
  &.non_response {
    overflow-y:scroll;

  }
}

#onlinepanel_nonfriends {
  height:200px;
}


#onlinepanel_posts {
  position:absolute;
  top:512px;
  bottom:0px;
  right:0px;
  width:210px;
  overflow-y:auto;
  z-index:999;
}











.onlinepanel_show {

  height:30px;
  padding:5px;
  color:white;
  font-size:12px;
  line-height:25px;

  a {
    color:$gray_Dark;
  }
  
  &:hover {
    background: rgba(0, 0, 0, 0.5);
    a {
      color:black !important;
    }
  }

  &.nonfriend {
    -moz-opacity: 0.50;
    opacity: 0.50;
    display:none;

    &:hover {
      opacity:1;
      transition: opacity .2s ease-in;
      -moz-transition: opacity .2s ease-in;
      -webkit-transition: opacity .2s ease-in;
      -o-transition: opacity .2s ease-in;
    }
  }
}


.onlinepanel_show_button {
  .dropdown-menu {
    max-width:30px !important;
  }

  .btn {
    width:5px !important;
    height:15px;
  }
}


// .onlinepanel_show_avatar {
//   max-width: 20px
// }


.onlinepanel_show_status {


  width: 10px;
  height: 10px;
  border-radius: 50%;
  border:0px !important;
  margin:7px 0 0 4px;

  background:transparent;

  &.online_now {
    background: $alert-green;   
  }

  &.online_earlier {
    background: $alert-red;   
  }

}
