
$gray_background: #eceef1;
$gray_Light: white;
$gray_second: #BDC3C7;
$gray_gunmetal: #363636;
$gray_gunmetal_second: #2d2d2d;

$gray_Lighter: #e1e1e1;
$gray_Lightest: #f6f6f6;
$gray_Mid: #767676;
$gray_Dark: #555555;
$gray_Darker: #333333;
$blue_pastel: #98cdff;
$blue_linkedin: #006699;

$green_flatui: #1ABC9C;

$alert-green: #88ff8e;
$alert-red: #FF3030;
$alert-blue: #7EB6FF;
$alert-yellow: #FFFF7E;



#onlinepanel_container {
 background:$gray_gunmetal;
  position:absolute;
  right:0;
  top:0;
  bottom:0;

  width:210px;

  display:none;

  @media (min-width: 1201px) {
    display:block;
  }

  height:100%;
  float:left;
  overflow-y: hidden;

}


#onlinepanel_container_response {

  width:210px;
  height:500px;

  position:absolute;
  bottom:40px;
  right:20px;

  overflow-y:auto;
  display:none;

  z-index:10000;

  background:$gray_background;
  @media (min-width: 1201px) {
    display:none !important;
  }

}


  
#onlinepanel_container_response_min {

  position:absolute;
  right:0;
  bottom:0;

  width:210px;
  height:20px;

  display:none;

  @media (max-width: 1200px) {
    display:block;
  }

  z-index:10000;

  padding:10px;

  &:hover {
    cursor:pointer;
  }
}


#onlinepanel_user {
  height:50px;
  color:white;
  text-align:center;
  font-weight: bold;
  line-height:31px;
    line-height:45px;

  #onlinepanel_user_avatar {
    width: 50px;
    height:50px;
    float:left;
  }

  #onlinepanel_user_username {
    width: 50px;
    height:50px;
    float:left;
  }


  #onlinepanel_user_cases_givn {
    background: $alert-blue;
    font-size:20px;
    color:white;
    width: 50px;
    height:50px;
    float:right;
  }

  #onlinepanel_user_cases_recd {
    background: $alert-green;
    font-size:20px;
    color:green;
    width: 50px;
    height:50px;
    float:right;
  }


}









.onlinepanel_title {
  background: $gray_gunmetal_second;
  height:30px;
  text-align:center;
  font-weight: bold;
  line-height:31px;
  color: white;

  &.onlinepanel_title_posts {
    text-align:left;
    padding-left:50px;
  }

}


#onlinepanel_friends {
  height:312px;
  
  &.non_response {
    overflow-y:auto;
  }
}

#onlinepanel_nonfriends {
  height:200px;
}












.onlinepanel_show {

  position:relative;
  height:30px;
  padding:5px;
  font-size:12px;
  line-height:25px;

  a {
    color:$gray_Dark;
  }
  
  &:hover {
    background: $gray_second;
    a {
      color:black !important;
    }
  }

  &.nonfriend {
    -moz-opacity: 0.50;
    opacity: 0.50;
    display:none;

    &:hover {
      opacity:1;
      transition: opacity .2s ease-in;
      -moz-transition: opacity .2s ease-in;
      -webkit-transition: opacity .2s ease-in;
      -o-transition: opacity .2s ease-in;
    }
  }
}




.onlinepanel_show_menu_container {
  display:none;
  position:absolute;
  right:43px;
  .btn {
    margin:0px 2px !important;
  }
}


.onlinepanel_show_menu_open {
  width:10px;
}


.onlinepanel_show_avatar {
  font-size:20px;
}

.onlinepanel_show_status {


  width: 10px;
  height: 10px;
  border-radius: 50%;
  border:0px !important;
  margin:7px 0 0 4px;

  background:transparent;

  &.online_now {
    background: $alert-green;   
  }

  &.online_earlier {
    background: $alert-red;   
  }

  &.online_not {
    background:$gray_second;
  }

}


