
$gray_background: #eceef1;
$gray_Light: white;
$gray_second: #BDC3C7;

$gray_Lighter: #e1e1e1;
$gray_Lightest: #f6f6f6;
$gray_Mid: #767676;
$gray_Dark: #555555;
$gray_Darker: #333333;
$blue_pastel: #98cdff;
$blue_linkedin: #006699;

$green_flatui: #1ABC9C;

$alert-green: #88ff8e;
$alert-red: #FF3030;
$alert-blue: #7EB6FF;
$alert-yellow: #FFFF7E;



#onlinepanel_container {
 
  position:absolute;
  right:0;
  top:0;
  bottom:0;

  width:210px;

  display:none;

  @media (min-width: 1201px) {
    display:block;
  }

  height:100%;
  float:left;
  overflow-y: hidden;

}


#onlinepanel_container_response {

  width:210px;
  height:500px;

  position:absolute;
  bottom:40px;
  right:20px;

  overflow-y:auto;
  display:none;

  z-index:10000;

  background:$gray_background;
  @media (min-width: 1201px) {
    display:none !important;
  }

}


  
#onlinepanel_container_response_min {

  position:absolute;
  right:0;
  bottom:0;

  width:210px;
  height:20px;

  display:none;

  @media (max-width: 1200px) {
    display:block;
  }

  z-index:10000;

  padding:10px;

  &:hover {
    cursor:pointer;
  }
}



.onlinepanel_title {
  background: $gray_second;
  height:30px;
  text-align:center;
  font-weight: bold;
  line-height:31px;
  color: white;

  &.onlinepanel_title_posts {
    text-align:left;
    padding-left:50px;
  }

}


#onlinepanel_friends {
  height:312px;
  
  &.non_response {
    overflow-y:auto;
  }
}

#onlinepanel_nonfriends {
  height:200px;
}












.onlinepanel_show {

  position:relative;
  
  height:30px;
  padding:5px;
  font-size:12px;
  line-height:25px;

  a {
    color:$gray_Dark;
  }
  
  &:hover {
    background: $gray_second;
    a {
      color:black !important;
    }
  }

  &.nonfriend {
    -moz-opacity: 0.50;
    opacity: 0.50;
    display:none;

    &:hover {
      opacity:1;
      transition: opacity .2s ease-in;
      -moz-transition: opacity .2s ease-in;
      -webkit-transition: opacity .2s ease-in;
      -o-transition: opacity .2s ease-in;
    }
  }
}




.onlinepanel_show_menu_container {
  display:none;
  position:absolute;
  right:43px;
  .btn {
    margin:0px 2px !important;
  }
}


.onlinepanel_show_menu_open {
  width:10px;
}


.onlinepanel_show_avatar {
  font-size:20px;
}

.onlinepanel_show_status {


  width: 10px;
  height: 10px;
  border-radius: 50%;
  border:0px !important;
  margin:7px 0 0 4px;

  background:transparent;

  &.online_now {
    background: $alert-green;   
  }

  &.online_earlier {
    background: $alert-red;   
  }

  &.online_not {
    background:$gray_second;
  }

}




#onlinepanel_posts {
  position:absolute;
  bottom:0px;
  right:0px;
  left:0px;
}




#onlinepanel_posts_new_button {
  position:absolute;
  bottom:0px;
  left:0px;
}

#onlinepanel_posts_arrow_buttons_container {
  position:absolute;
  bottom:0px;
  right:0px;
}

#onlinepanel_posts_arrow_up_button {

}


#onlinepanel_posts_arrow_down_button {

}


#onlinepanel_posts_post {
  position:absolute;
  bottom:35px;
  right:0px;

  color:white;

  font-size:13px;
  margin:15px;

  padding: 6px;
  background: $green_flatui;
  
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;

}




#onlinepanel_posts_post:after 
{
  content:"";
  position:absolute;
  bottom:-20px; /* value = - border-top-width - border-bottom-width */
  left:50px; /* controls horizontal position */
  border-width:20px 0 0 20px; /* vary these values to change the angle of the vertex */
  border-style:solid;
  border-color:$green_flatui transparent; 

  /* reduce the damage in FF3.0 */
  display:block; 
  width:0;
}


#onlinepanel_posts_post_username {
  a {
  color:white !important;
  font-weight:bold;
  font-size:14px;    
  }

}

#onlinepanel_posts_post_datetime {
  font-size:11px;
  font-style:italic;
  margin-bottom:3px;
}

