$gray_background: #eceef1;
$gray_Light: white;
$gray_second: #BDC3C7;
$gray_gunmetal: #363636;
$gray_gunmetal_second: #2d2d2d;
$gray_gunmetal_third: #2f2f2f;

$gray_Lighter: #e1e1e1;
$gray_Lightest: #f6f6f6;
$gray_Mid: #767676;
$gray_Dark: #555555;
$gray_Darker: #333333;

$green_flatui: #1ABC9C;
$green_linkedin: #3489bd;

$blue_pastel: #98cdff;
$blue_linkedin: #006699;
$blue_skype:#45adea;
$blue_casenexus:#0e9ce2;

$alert-green: #88ff8e;
$alert-red: #FF3030;
$alert-blue: #7EB6FF;
$alert-yellow: #FFFF7E;



$cn_colour_-2:#7d8288; // button overlays
$cn_colour_-1:#b0bcc3; // buttons

$cn_colour_0: #242d32; // header
$cn_colour_05: #313c44; // header button highlights
$cn_colour_1: #72aac9; // header button highlights

$cn_grey_-2: #697076; // Text and borders in places
$cn_grey_-1: #dee1e3; // search input border
$cn_grey_0: #f0f1f2; // users form

$cn_contrastor_0: #c18176; // orange!
$cn_contrastor_second_0: #9ac787;
$cn_contrastor_third_0: #c18176;


.profile_index_title {
  position:relative;
  font-size:20px;
  .iconbar-unread {
    position:absolute;
    right:495px;
  }

}
#profile_index_panel_user {
  position:absolute;
  left:0px;
  top:0px;
  bottom:0px;
  width:260px;
  border-right:1px solid $cn_grey_0;
  border-left:1px solid $cn_grey_0;










  #profile_index_info {
    padding:15px;
    height:140px;

    #profile_index_info_avatar {
      float:left;
      margin-right:15px;
    }
    #profile_index_info_user {

      float:left;
      #profile_index_info_username {
        display:inline-block;
        font-size:20px;
        font-weight:bolder;
        margin:10px 0;
      }

      #profile_index_info_degreelevel {

      }
      #profile_index_info_joined {

      }

    }

    #profile_index_info_cases {
      padding:0;
      width:170px;
      display:block;
      div {
        display:inline-block;
        width:50px;
        height:45px;
        text-align:center;
        line-height:33px;
        position:relative;
      }


      #profile_index_info_cases_recd {
        background: #73bf72;
        font-size:20px;
        font-weight:bolder;
        color:white;
      }

      #profile_index_info_cases_givn{
        background: $cn_colour_1;
        font-size:20px;
        font-weight:bolder;
        color:white;
      }

      #profile_index_info_cases_external{
        background: $cn_colour_-2;
        font-size:20px;
        font-weight:bolder;
        color:white;
      }

      .profile_index_info_cases_text {
        position:absolute;
        left:0px;
        right:0px;
        text-align:center;
        height:10px;
        top:18px;
        font-size:10px;
      }
    }
  }





  #profile_index_info_actions {

    height:50px;
    line-height:45px;
    text-align:center;
    display:block;
    border-top:1px solid $cn_grey_0;
    border-bottom:1px solid $cn_grey_0;
    div, a {
      display:inline-block;
      cursor:pointer;
      position:relative;
      margin: 0 5px;
    }
    .btn-round {
    }
  }










  #profile_index_friends {

    position:absolute;
    bottom:50px;
    top:230px;
    left:0px;
    right:0px;
    width:260px;

    .profile_index_title {
      text-align:center;
    }

    #profile_index_friends_friends {
      margin-top:5px;
      overflow-y:hidden;
      height:100%;

      #profile_index_friends_friends_empty {
        text-align:center;
        padding-top:60px;
        i {
          font-size:35px;
          margin-bottom:7px;
          display:block;
        }
      }


      #profile_index_friends_friends_requested_divider{
        height:1px;
        display:block;
        margin:10px;
        border-top:2px solid $cn_grey_-1;
      }


      .profile_index_friends_friends_item {
        height:80px;
        display:block;
        cursor:pointer;
        position:relative;
//        position:relative;
        border-bottom:1px solid $cn_grey_0;//$cn_colour_0;

        line-height:50px;
        div {
//          display:inline-block;
        }
        &:hover {
          background:$cn_grey_0;//$cn_colour_0;
          .profile_index_friends_friends_item_actions {
            opacity:0;
          }
        }
        &.active {
          background:$cn_grey_0;//$cn_colour_0;
        }
        .profile_index_friends_friends_item_requested_highlight {
          display:none;
          &.unread {
            height:35px;
            position:absolute;
            left:0px;
            top:0px;
            bottom:0px;
            width:5px;
            background: $cn_colour_1;
            display:inline;
          }
        }



        .profile_index_friends_friends_item_avatar {
          width:40px;
          float:left;
          img {
            margin:-4px 0 0 5px;
          }
          
          text-align:center;
        }

        .profile_index_friends_friends_item_user {
          float:left;
          height:80px;
          .profile_index_friends_friends_item_username{
            height:30px;
          }

          .profile_index_friends_friends_item_actions {
            height:30px;
            display:none;
            -webkit-transition: opacity 1s ease-in-out;
            -moz-transition: opacity 1s ease-in-out;
            -o-transition: opacity 1s ease-in-out;
            -ms-transition: opacity 1s ease-in-out;
            transition: opacity 1s ease-in-out;

          }

        }

        .profile_index_friends_friends_requested {
          position:absolute;
          right:5px;
          top:5px;
          .profile_index_friends_friends_item_friendship_button {
            padding:6px;
  //          float:right;
          }          
        }




        .profile_index_friends_friends_item_status {
          float:right;
          color:$cn_contrastor_0;
          font-size:15px;
          margin-right:10px;
          .profile_index_friends_friends_item_status_icon {
            display:inline;
            &.online_now {
              font-color: $alert-green;   
            }

            &.online_earlier {
              font-color: $alert-red;   
            }

            &.online_not {
              font-color:$gray_second;
            }
          }

        }



      }
    }
  }





}



#profile_index_main_container {
  position:absolute;
  left:260px;
  top:0px;
  right:0px;  
  padding:20px 0 20px 20px;
}

#profile_index_panel_calendar {
  height:300px;
  #profile_index_calendar_actions_new {
    cursor:pointer;
  }

  .profile_index_panel_calendar_shift_button {
    height:96px;
    width:30px;
    float:left;
    line-height:100px;
    text-align:center;
    font-size:20px;
    color:$cn_grey_-1;
    cursor:pointer;
    &:hover {
      background:$cn_grey_0;
      color:white;
    }
  }
  #profile_index_panel_calendar_container {
    overflow-x:hidden;
    width:662px;
    float:left;
    height:150px;//96px;


  }
}





#profile_index_panel_feedback {

  width:100%;
  border-top:1px solid $cn_grey_0;

  right:0px;

  padding:20px;

  #profile_index_feedback_cases {
    position:relative;
    width:260px;
    height:300px;
    overflow-y:hidden;
    float:left;
    margin-right:20px;
//    background:$cn_grey_0;

    #profile_index_feedback_cases_empty {
      text-align:center;
      padding-top:190px;
      i {
        font-size:35px;
        margin-bottom:7px;
        display:block;
      }
    }

    .profile_index_feedback_cases_item {
      cursor:pointer;
      height:21px;
      padding:7px;
      width:246px;
      display:block;
      position:relative;
      border-bottom:1px solid $cn_grey_0;
      div {
        display:inline-block;
      }

      .profile_index_feedback_cases_item_read_highlight {
        display:none;
        &.unread {
          height:35px;
          position:absolute;
          left:0px;
          top:0px;
          bottom:0px;
          width:5px;
          background: $cn_colour_1;
          display:inline;
        }
      }

      .profile_index_feedback_cases_item_score {
        width:35px;
        font-weight:bold;
        font-size:16px;
        text-align:center;
        color: $cn_colour_0;
        margin-top:1px;
      }
      .profile_index_feedback_cases_item_username {

      }
      .profile_index_feedback_cases_item_date {
        float:right;
        font-size:10px;
        margin:5px 5px 0 0;
        font-weight:bolder;
      }
      &:hover {
        background:$cn_grey_0;
      }
    }
  }

  #profile_index_feedback_chart{
    width:400px;
    height:300px;
    float:left;
  }

  #profile_index_feedback_chart_legend {

  }

  #profile_index_feedback_results {
    display:none;
  }
}


