$gray_background: #eceef1;
$gray_Light: white;
$gray_second: #BDC3C7;
$gray_gunmetal: #363636;
$gray_gunmetal_second: #2d2d2d;
$gray_gunmetal_third: #2f2f2f;

$gray_Lighter: #e1e1e1;
$gray_Lightest: #f6f6f6;
$gray_Mid: #767676;
$gray_Dark: #555555;
$gray_Darker: #333333;

$green_flatui: #1ABC9C;
$green_linkedin: #3489bd;

$blue_pastel: #98cdff;
$blue_linkedin: #006699;
$blue_skype:#45adea;
$blue_casenexus:#0e9ce2;

$alert-green: #88ff8e;
$alert-red: #FF3030;
$alert-blue: #7EB6FF;
$alert-yellow: #FFFF7E;



$cn_colour_-2:#7d8288; // button overlays
$cn_colour_-1:#b0bcc3; // buttons

$cn_colour_0: #242d32; // header
$cn_colour_05: #313c44; // header button highlights
$cn_colour_1: #72aac9; // header button highlights

$cn_grey_-2: #697076; // Text and borders in places
$cn_grey_-1: #dee1e3; // search input border
$cn_grey_0: #f0f1f2; // users form

$cn_contrastor_0: #c18176; // orange!
$cn_contrastor_second_0: #9ac787;
$cn_contrastor_third_0: #c18176;


.profile_index_title {
  position:relative;
  font-size:20px;
  .iconbar-unread {
    position:absolute;
    right:495px;
  }

}
#profile_index_panel_user {
  position:absolute;
  left:0px;
  top:0px;
  bottom:0px;
  width:231px;
//  background:$cn_colour_05;
//  color:white;
  border-right:1px solid $cn_grey_0;
//  border-left:1px solid $cn_grey_0;










  #profile_index_info {
    padding:20px;

    #profile_index_info_avatar {
      float:left;
      margin-right:10px;
      padding-top:0px;
      display:inline-block;
      width:26px; //fix according to calc'd so no adj on load
    }
    #profile_index_info_user {
      width:150px;
      display:inline-block;
      #profile_index_info_username {
        display:inline-block;
        font-size:20px;
        font-weight:bolder;
        margin:0 0 10px;
      }

      #profile_index_info_degreelevel {

      }
      #profile_index_info_joined {

      }

    }

  }


    #profile_index_info_cases {
      padding:0;
      display:block;
      border-top:1px solid $cn_grey_0;
      height:70px;
      .profile_index_info_cases_counts_container {
        display:none;
      }
      #profile_index_info_cases_recd, #profile_index_info_cases_givn, #profile_index_info_cases_external {
        float:left;
        height:70px;
        text-align:center;
        line-height:60px;
        position:relative;
      }


      #profile_index_info_cases_recd {
        font-size:30px;
        font-weight:bolder;
        color:#73bf72;
        border-right:1px solid $cn_grey_0;
        width:77px; // 231 divided 3
      }

      #profile_index_info_cases_givn {
        font-size:30px;
        font-weight:bolder;
        color:$cn_colour_1;
        border-right:1px solid $cn_grey_0;
        width:76px; // 231 divided 3 = 71 minus 1 border
      }

      #profile_index_info_cases_external {
        font-size:30px;
        font-weight:bolder;
        color:$cn_colour_-2;
        width:76px; // 231 divided 3 = 71 minus 1 border
      }

      .profile_index_info_cases_text {
        position:absolute;
        left:0px;
        right:0px;
        text-align:center;
        height:10px;
        top:20px;
        font-size:10px;
      }
    }





  #profile_index_info_actions {

    height:50px;
    line-height:47px;
    text-align:center;
    border-top:1px solid $cn_grey_0;
    border-bottom:1px solid $cn_grey_0;
    div, a {
      display:inline-block;
      cursor:pointer;
      position:relative;
      margin: 0 5px;
    }
    .btn-round {
    }
  }













  #profile_index_friends {

    position:absolute;
    bottom:50px;
    top:243px;
    left:0px;
    right:0px;
    width:231px;

    .profile_index_title {
//      text-align:center;
      padding-left:10px;
    }

    #profile_index_friends_friends {
      margin-top:5px;
      overflow-y:hidden;
      height:100%;

      #profile_index_friends_friends_empty {
        text-align:center;
        padding-top:60px;
        i {
          font-size:35px;
          margin-bottom:7px;
          display:block;
        }
      }


      #profile_index_friends_friends_requested_divider{
        height:1px;
        display:block;
        margin:10px;
        border-top:2px solid $cn_grey_-1;
      }


      .profile_index_friends_friends_item {
        display:none;
        height:50px;
        cursor:pointer;
        position:relative;
        border-bottom:1px solid $cn_grey_0;//$cn_colour_0;
        line-height:50px;

        &:hover {
          background:$cn_grey_0;//$cn_colour_0;
        }
        .profile_index_friends_friends_item_requested_highlight {
          display:none;
          &.unread {
            height:35px;
            position:absolute;
            left:0px;
            top:0px;
            bottom:0px;
            width:5px;
            background: $cn_colour_1;
            display:inline;
          }
        }



        .profile_index_friends_friends_item_avatar {
          width:55px;
          float:left;
          img {
            margin:-4px 0 0 5px;
          }
          
          text-align:center;
        }

        .profile_index_friends_friends_item_user {
          float:left;
          height:40px;
          .profile_index_friends_friends_item_username{
            height:30px;
          }

          .profile_index_friends_friends_item_actions {
            height:30px;
            display:none;
            position:absolute;
            right:0px;
            top:0px;
//            background:$cn_grey_0;
            height:50px;
            z-index:10;
            padding:0 5px;
            line-height:45px;
            border-top-left-radius: 5px;
            -moz-border-top-left-radius: 5px;
            -webkit-border-top-left-radius: 5px;
       
            border-bottom-left-radius: 5px;
            -moz-border-bottom-left-radius: 5px;
            -webkit-border-bottom-left-radius: 5px;


          }

        }

        .profile_index_friends_friends_requested {
          position:absolute;
          right:5px;
          top:5px;
          .profile_index_friends_friends_item_friendship_button {
            padding:6px;
  //          float:right;
          }          
        }

        .profile_index_friends_friends_item_activity {
          height:30px;
          position:absolute;
          right:0px;
          bottom:0px;
          width:100px;
          opacity:0.5;
        }


        .profile_index_friends_friends_item_status {
          float:right;
          color:$cn_contrastor_0;
          font-size:15px;
          margin-right:10px;
          .profile_index_friends_friends_item_status_icon {
            display:inline;
            &.online_now {
              font-color: $alert-green;   
            }

            &.online_earlier {
              font-color: $alert-red;   
            }

            &.online_not {
              font-color:$gray_second;
            }
          }

        }



      }
    }
  }





}



#profile_index_main_container {
  position:absolute;
  left:231px;
  top:0px;
  right:0px;  
  padding:20px 0 20px 20px;
  border-bottom:1px solid $cn_grey_0;
}





  #profile_index_panel_calendar {
    height:300px;

    #profile_index_panel_calendar_container_container { // allows positioning up on title line
      height:300px;
      margin-top:-30px;
      position:relative;

      #profile_index_calendar_actions_new {
        cursor:pointer;
      }

      #profile_index_panel_calendar_container {
        padding:48px 0;
        width:678px; // +6px borders
        height:96px; //96 * 2 - (2 * 48px)
        margin:0;
        overflow-y:hidden;
        margin:0 auto;
      }

      #profile_index_panel_calendar_controls {
        width:300px;
        position:absolute;
        left:60px;
        bottom:10px;
      }


      .profile_index_panel_calendar_shift_button {
        width:100px;
        height:50px;
        i {
          font-size:50px;
        }
        line-height:0px;
        text-align:center;
        margin: 5px auto;
        color:$cn_grey_0;
        &:hover {
          color:$cn_grey_-1;
        }
      }
    }
  }





#profile_index_panel_feedback {

  width:100%;
  border-top:1px solid $cn_grey_0;

  right:0px;

  padding:20px;

  #profile_index_feedback_cases {
    position:relative;
    width:260px;
    height:300px;
    overflow-y:hidden;
    float:left;
    margin-right:20px;
//    background:$cn_grey_0;

    #profile_index_feedback_cases_empty {
      text-align:center;
      padding-top:190px;
      i {
        font-size:35px;
        margin-bottom:7px;
        display:block;
      }
    }

    .profile_index_feedback_cases_item {
      cursor:pointer;
      height:21px;
      padding:7px;
      width:246px;
      display:block;
      position:relative;
      border-bottom:1px solid $cn_grey_0;
      div {
        display:inline-block;
      }

      .profile_index_feedback_cases_item_read_highlight {
        display:none;
        &.unread {
          height:35px;
          position:absolute;
          left:0px;
          top:0px;
          bottom:0px;
          width:5px;
          background: $cn_colour_1;
          display:inline;
        }
      }

      .profile_index_feedback_cases_item_score {
        width:35px;
        font-weight:bold;
        font-size:16px;
        text-align:center;
        color: $cn_colour_0;
        margin-top:1px;
      }
      .profile_index_feedback_cases_item_username {

      }
      .profile_index_feedback_cases_item_date {
        float:right;
        font-size:10px;
        margin:5px 5px 0 0;
        font-weight:bolder;
      }
      &:hover {
        background:$cn_grey_0;
      }
    }
  }

  #profile_index_feedback_chart{
    width:400px;
    height:300px;
    float:left;
  }

  #profile_index_feedback_chart_legend {

  }

  #profile_index_feedback_results {
    display:none;
  }
}


