// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$gray_background: #eceef1;
$gray_second: #BDC3C7;

$gray_Light: #d0d0d0;
$gray_Lighter: #e1e1e1;
$gray_Lightest: #f6f6f6;
$gray_Mid: #767676;
$gray_Dark: #555555;
$gray_Darker: #333333;
$blue_pastel: #98cdff;
$blue_linkedin: #006699;


$alert-green: #88ff8e;
$alert-red: #FF3030;
$alert-blue: #7EB6FF;
$alert-yellow: #FFFF7E;





#questions_taglist {
  line-height: 1.6em;
  .s { font-size: 0.8em; }
  .m { font-size: 1.2em; }
  .l { font-size: 1.8em; }
}



.questions_sidecolumn_title {
  background: $gray_second;
  height:30px;
  text-align:center;
  font-weight: bold;
  line-height:31px;
  color: white;

  margin:5px -10px 5px -10px;  
  &.top {
    margin:-10px -10px 5px -10px;
  }

}

.questions_comment {
  border-top: 1px dotted $gray_Mid;
  padding:5px 0px;

  &:hover {
    background: $gray_background;
  }
}

.questions_comment_add_button, .questions_comment_edit_button {
  cursor:pointer;
  &:hover{
    text-decoration:underline;
  }
}

.questions_date {
  color:$gray_Mid;
}


/////////////////////////////////
/////////////INDEX///////////////
/////////////////////////////////



.questions_index_questions_item {

}

.questions_index_questions_item_stats {
  padding:6px;
  height:30px;
  width:50px;
  text-align:center;
  &.votes {
    background: $alert-blue;
    font-size:20px;
    color:white;
  }

  &.answers {
    background: $alert-green;
    font-size:20px;
    color:green;   
  }

  .questions_index_questions_item_stats_label {
    font-size:9px;
  }
}

.questions_index_questions_item_title {
  font-size:15px;
  font-weight:bold;
  color:white;
}



#questions_show_answer_countchar, #questions_new_countchar {
  float:right;
}

/////////////////////////////////
///////////// NEW ///////////////
/////////////////////////////////

#questions_new_content {
  width:635px;
  height:200px;
}

#questions_new_title {
  width:645px;
}


#questions_new_title_label {
  font-size:15px;
  font-weight:bold;
}

#questions_new_tags {
  width:700px;
}


/////////////////////////////////
/////////////SHOW////////////////
/////////////////////////////////

#questions_show_answer_label {
  font-size:15px;
  font-weight:bold;
}

#questions_show_answer_content {
  width:635px;
  height:200px;
}





.questions_show_title {
  font-weight:bold;
}

.questions_show_sidecoloumn_date {
  font-weight:bold;
}