// Place all the styles related to the roulette controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Shouldn't need these here as well as in app.css.scss
$gray_Light: #d0d0d0;
$gray_Lighter: #e1e1e1;
$gray_Lightest: #f6f6f6;
$blue_pastel: #98cdff;

.roulette_index_users_item {
	display:none;
	width:867px;
	padding:10px;
	margin-bottom:3px;
	font-size:15px;
	font-face: bold;
	background: rgba(0, 0, 0, 0.3);
	&:hover {
    background: rgba(0, 0, 0, 0.5);
  }
}

#roulette_index_log {
	height:25px;
	overflow-y:auto;
	margin-top:10px;
}

.roulette_index_log_item {
	width:100%;
	padding:3px;
	color: gray;
}

#roulette_index_token_panel {
	height:73px;
}

#roulette_index_token {
	font-weight: bold;
	font-size: 14px;
	text-align:center;
	line-height:37px;
	padding:3px;
  color:#6db9ff;
}

#roulette_index_token_text {
	text-align:center;
}

#roulette_index_token_form {
	margin-bottom:0px;
}

#roulette_index_token_form_field {
	width:180px;
	text-align:center;
	font-size:12px;
}


.roulette_index_button_connection {
	width:160px;
}

.roulette_index_users_item_casecount {
  font-size: 1.1em !important;
  margin-left: 4px;
  margin-top:-10px;
}

.roulette_index_users_item_status {
	display:none;
}

.roulette_index_users_item_button_expand {
	font-size: 11px;
	font-style: italic;
}

#modal_roulette_req_status {
	font-style:italic;
}