// Place all the styles related to the roulette controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Shouldn't need these here as well as in app.css.scss
$gray_Light: #d0d0d0;
$gray_Lighter: #e1e1e1;
$gray_Lightest: #f6f6f6;
$blue_pastel: #98cdff;

.roulette_index_users_item {
	display:none;
	width:100%;
	padding:10px;
	font-size:15px;
	font-face: bold;
	&:hover {
    background-color: $gray_Lightest;
  }
}

.roulette_index_log_item {
	width:100%;
	padding:3px;
	color: gray;
}

#roulette_index_token {
	font-weight: bold;
	font-size: 12px;
}