// Place all the styles related to the roulette controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#roulette_case_new {
	height:500px;
	overflow-y:auto;
	textarea {
		width:200px;
	}
	input {
		width:200px;
	}
}