$gray_Light: #d0d0d0;
$gray_Lighter: #e1e1e1;
$gray_Lightest: #f6f6f6;
$gray_Mid: #767676;
$gray_Dark: #555555;
$blue_pastel: #98cdff;
$blue_linkedin: #006699;


#static_home_signup {
  margin-top:80px;
  margin-left:4px;
  width:255px;
  input {
    width:218px;
  }
  // -moz-box-shadow: 1px 1px 31px #3b3b3b;
  // -webkit-box-shadow: 1px 1px 31px #3b3b3b;
  // box-shadow: 1px 1px 31px #3b3b3b;
}

#static_home_signup_title {
  text-align:center;
  font-weight: bold;
  border-bottom: 1px solid $gray_Light;
  margin-bottom: 5px;
  margin-top:-5px;
  padding:7px;
}


.static_home_signup_checkbox_label {
  margin-top:3px;
  margin-left:7px;
}

#static_home_signup_option {
  margin-left:28px;
}



#static_home_signup_option_linkedin_button_highlight {
  color: $blue_linkedin;
}

#static_home_signup_option_linkedin {
  display:none;
}

#static_home_signup_option_university_button_submit {
  width:233px !important;
  height:40px;
}

#static_home_signup_option_university_select {
  width:232px;
}

#static_home_signup_option_linkedin_submit {
  display:none;
}

#static_home_signup_option_linkedin_button_submit {
  width:231px !important;
  height: 31px;
  padding: 9px 0px 0px 0px;
}

#static_home_signup_option_linkedin_button_submit_logo {
  text-align:center;
  margin-bottom: 5px;
  margin-right: 5px;
}

#static_home_signup_option_linkedin_button_submit_text {
  border-left: 1px solid #86c7fe;
  padding-left:10px;
}

#static_home_signup_option_linkedin_button_submit_text2 {
  color: #86c7fe;
}

#static_home_slider_panel {
  width:605px;
}

#static_home_slider {
  font-size:12px;
  height:500px;
  width:588px;

}

.static_home_slider_bullets {

  font-size:13px;
  text-align:center;
  
  &.banner {
    font-style:italic;
    margin-top:-40px;
    margin-left:-40px;    
  }
  &.partners {
    position:absolute;
    margin-top:330px;
    margin-left:35px;    
  }
  &.roulette {
    position:absolute;
    margin-top:320px;
    margin-left:100px;    
  }
  &.feedback {
    position:absolute;
    margin-top:310px;
    margin-left:30px;    
  }
  &.analysis{
    position:absolute;
    margin-top:330px;
    margin-left:90px;    
  }
  &.testimonials {
    position:absolute;
    margin-top:80px;
    margin-left:20px;      
  }
}

#static_home_slider_page_1 {
  padding-left:20px;
  position:relative;
  height:400px;
  width:600px;
}

#static_home_slider_page_2 {
  background: url('home/slider_2.jpg') no-repeat;
  position:relative;
  height:400px;
  width:600px;
}

#static_home_slider_page_3 {
  background: url('home/slider_3.jpg') no-repeat;
  position:relative;
  height:400px;
  width:600px;
}

#static_home_slider_page_4 {
  background: url('home/slider_4.jpg') no-repeat;
  position:relative;
  height:400px;
  width:600px;
}

#static_home_slider_page_5 {
  background: url('home/slider_5.jpg') no-repeat;
  position:relative;
  height:400px;
  width:600px;
}

#static_home_arrownav {

  margin-top:-20px;
  margin-left:-10px;
  margin-right:-27px;
  margin-bottom:18px;

  background: #f6f6f6;
  border-bottom: 1px solid #eaeaea;
  height:35px;

  border-top-left-radius: 5px;
  -moz-border-top-left-radius: 5px;
  -webkit-border-top-left-radius: 5px;

  border-top-right-radius: 5px;
  -moz-border-top-right-radius: 5px;
  -webkit-border-top-right-radius: 5px;

  nav { 
    position: relative; 
    left:30px; }
    
  nav ul {
    list-style: none;
    padding: 0px 0px 0px 0px;
  }

  nav ul li {
    float: left;
    margin-left: 30px;
    margin-top:6px;
    position: relative;
  }   

  nav ul li a{
    color: #b5b5b5;
    font-size: 12px;
    -webkit-transition:color 0.2s ease-in;  
    -moz-transition:color 0.2s ease-in;  
    -o-transition:color 0.2s ease-in;  
    transition:color 0.2s ease-in;
  }
  
  nav ul li a:hover { color: #777; }
  nav ul li.current a{ color: #555; font-weight: bold; }

  nav span.arrow {
    width: 24px;
    height: 13px;
    background: url('app/light-nav_arrow.png') no-repeat;
    display: none;
    position: absolute;
    top: 35px;
  }

}