
$gray_background: #eceef1;
$gray_Light: white;

$gray_Lighter: #e1e1e1;
$gray_Lightest: #f6f6f6;
$gray_Mid: #767676;
$gray_Dark: #555555;
$gray_Darker: #333333;
$blue_pastel: #98cdff;
$blue_linkedin: #006699;

$green_flatui: #1ABC9C;

$alert-green: #88ff8e;
$alert-red: #FF3030;
$alert-blue: #7EB6FF;
$alert-yellow: #FFFF7E;


#static_home_container_main {
  position:absolute;
  top:100px;
  bottom:0px;
  right:0px;
  left:0px;
  overflow:hidden;

  background:white;//$green_flatui;

}


#static_home_logo {

  position:absolute;
  top:50%;
  left:50%;

  width:300px;
  height:180px;
  margin-top:-140px;
  margin-left:-350px;

  z-index:0;

}

#static_home_welcome_text {
//  color:white;
  opacity:0.95;
  font-size:17px;
  font-weight:200;
  line-height:25px;

  margin-left:80px;
  margin-top:30px;
}



.static_home_slideable {
  position:absolute;
  left: 150%;
  top:50%;
}




#static_home_switch_link_signup {
  position:absolute;
  bottom:50px;
  left:50%;
  width:200px;
  margin-left:-100px;
}

#static_home_switch_link_signin {
  display:none;
  position:absolute;
  bottom:50px;
  left:50%; 
  width:200px;
  margin-left:-100px;
}

/////////////////////////////////////////////
///////////////  SIGNIN  ////////////////////
/////////////////////////////////////////////


#static_home_signin {

  background:$gray_background;

  padding:25px;

  left:50%;

  width:300px;
  height:185px;
  margin-top:-160px;
  margin-left:-50px;

  z-index:10;

  input {
    display:block;
    margin-bottom:15px;
    -moz-border-radius:    0px !important;
    -webkit-border-radius: 0px !important;
    border-radius:         0px !important;

    border:2px solid transparent;
  }

  i {
    margin-top:2px;
    margin-right:3px;
  }
}

#static_home_signin:after

{
  content: "";
  position: absolute;
  top: 35px;
  left: -15px;
  border-style: solid;
  border-width: 14px 15px 14px 0px;
  border-color: transparent $gray_background;
  display: block;
  width: 0;
  z-index: 1;
}



.static_home_signin_link {
  display:block;
  text-align:center;
  margin-top:10px;
}






/////////////////////////////////////////////
///////////////  SIGNUP  ////////////////////
/////////////////////////////////////////////


#static_home_signup {

  background:$gray_background;

  padding:25px;

  width:300px;
  height:370px;
  margin-top:-250px;
  margin-left:-50px;

  z-index:10;

  input {
    display:block;
    margin-bottom:15px;
    -moz-border-radius:    0px !important;
    -webkit-border-radius: 0px !important;
    border-radius:         0px !important;

    border:2px solid transparent;
  }

  i {
    margin-top:2px;
    margin-right:3px;
  }
}


#static_home_signup:after

{
  content: "";
  position: absolute;
  top: 120px;
  left: -15px;
  border-style: solid;
  border-width: 14px 15px 14px 0px;
  border-color: transparent $gray_background;
  display: block;
  width: 0;
  z-index: 1;
}




/////////////////////////////////////////////
///////////////  COMPLETE  //////////////////
/////////////////////////////////////////////

#static_home_complete {

  background:$gray_background;

  padding:25px;

  left:50%;

  width:300px;
  height:500px;
  margin-top:-300px;
  margin-left:-50px;

  z-index:10;

  input {
    display:block;
    margin-bottom:15px;
    -moz-border-radius:    0px !important;
    -webkit-border-radius: 0px !important;
    border-radius:         0px !important;

    border:2px solid transparent;
  }

  i {
    margin-top:2px;
    margin-right:3px;
  }
}


#static_complete_button_submit {
 display:block;
}
