// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// Shouldn't need these here as well as in app.css.scss
$gray_Light: #d0d0d0;
$gray_Lighter: #e1e1e1;
$gray_Lightest: #f6f6f6;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


.mapcontainer {
  position: absolute;
  z-index: 1;
  background: url(app/white-wash.png);
}

#users_index_map {
  position: absolute;
  left: 0;
  right: 0;
  top: 40px;
  bottom: 0;
  z-index: 0;
  width: 100%;
  height: 100%;

}

header {

  -webkit-box-shadow: 0px 3px 10px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    0px 3px 10px rgba(50, 50, 50, 0.75);
  box-shadow:         0px 3px 10px rgba(50, 50, 50, 0.75);

}

// Pushes footer to bottom of page on map
#users_index_map_footerspacer {
  height:96.7%;
  width:0px;
}

/***** for custom control position hack *****/

#users_index_map_zoomcontrol {
  position: absolute;
  left: 350px;
}

/* When the below is used, control disappears on mouse over */
// .gmnoprint{
//     display: none;
// }

/********************************************/

#users_index_users_form_radiogroup {
  display:none;
}

#users_index_users_form_buttons{
  text-align:center;
}

#users_index_mapcontainer_users {
  top: 12%;
  left: 0px;
  width: 400px;

  // Outset
  -moz-box-shadow: 2px 3px 14px #4a494a;
  -webkit-box-shadow: 2px 3px 14px #4a494a;
  box-shadow: 2px 3px 14px #4a494a;

}

// Spacer that forces paginate to bottom of list
#users_index_users_form_body {
  height:600px;
}

#users_index_users {
  margin-top:-15px;
  height:630px;
}

.users_index_users_item {
  width: 100%;
  height: 58px;
  margin-top: 0px;
  margin-bottom: 2px;
  margin-left: 0px;
  margin-right: 0px;
  padding: 3px;
  display: none;
  @include box_sizing;
}

.users_index_users_item_text {
  text-align:left;
  padding-left:5px;
  padding-top:4px;

}

#users_index_mapcontainer_user {
  top: 15%;
  right: 0px;
  width: 400px;
  display: none;

  // Inset
  // -moz-box-shadow:inset 2px 0px 13px #000000;
  // -webkit-box-shadow:inset 2px 0px 13px #000000;
  // box-shadow:inset 2px 0px 13px #000000;

  // Outset 
  -moz-box-shadow: 2px 3px 14px #4a494a;
  -webkit-box-shadow: 2px 3px 14px #4a494a;
  box-shadow: 2px 3px 14px #4a494a;
}


.users_index_mappanel {
  position:absolute;

  background-color: #2E2E2E;

  -moz-opacity: 0.90;
  opacity: 0.90;

  -moz-box-shadow: 0px 5px 28px #000000;
  -webkit-box-shadow: 0px 5px 28px #000000;
  box-shadow: 0px 5px 28px #000000;

}

.users_index_mappanel_list {

  color: white;

  ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
    li {
      float: left;
      margin-left: 10px;
    }
  }

  a {
    color:$gray_Light;
    &:hover {
      color:white;
      text-decoration:none;
    }
  }
}

#users_index_mappanel_control {

  font-size:12px;

  top: 40px;
  right: 50%;

  margin-right:-240px;

  padding-top:5px;
  padding-bottom:3px;

  height:25px;
  width:480px;

  border-bottom-left-radius: 5px;
  -moz-border-bottom-left-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;

  border-bottom-right-radius: 5px;
  -moz-border-bottom-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;

}

#users_index_mappanel_control_chosen {
  margin-left:20px;
  width:250px;
}

.users_index_mappanel_control_usercount {
  font-weight: bold;
}

.users_index_mappanel_control_casecount {
  font-weight: bold;
}


#users_index_mappanel_tooltip {
  
  color: white;

  display:none;

  bottom: 15%;
  left: 50%;

  margin-left: -175px;

  height:50px;
  width:350px;

  padding: 10px;

  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;

}

#users_index_mappanel_tooltip_close {
  position:absolute;
  top:21px;
  right:10px;
  border: 0;
  color:white;
}

#users_index_mappanel_tooltip_text {
  padding-right:5px;
  padding-top:4px;
}

#users_index_mappanel_footer {
  
  font-size:12px;

  bottom: 0px;
  left: 65%;

  padding-top:6px;
  padding-bottom:2px;

  height:25px;
  width:370px;

  border-top-left-radius: 5px;
  -moz-border-top-left-radius: 5px;
  -webkit-border-top-left-radius: 5px;

  border-top-right-radius: 5px;
  -moz-border-top-right-radius: 5px;
  -webkit-border-top-right-radius: 5px;

}




#users_show_close {
  border: 0;
  background-color: white;
}


#users_show_name{
  font-size:20px;
  padding-top:14px;
  padding-left:8px;
  font-weight:bold;
}

#users_show_skype{
  width:16px;
  height:16px;
}

#users_show_status {
  font-weight:italic;
}


#users_show_casecount {
  position: absolute;
  top: 0px;
  right:40px;
  width:88px;

  font-size:30px;
  color:white;
  font-weight: bold;
  text-align:center;

}

#users_show_button_Group_feedback {
  border-top: 1px solid $gray_Lighter;
  padding-top:5px;
}

#users_show_button_Group_feedback_title {
  color:gray;
  padding-top:6px;
  width:60px;
}

#users_show_button_removefriend {
  color:gray;
  text-decoration:none;
}

.users_show_edex_title {
  font-weight: bold;
  border-bottom: 1px solid $gray_Lighter;  
}



#users_newedit_map {
  &.new {
    height:430px;
    width:435px;
  }
  &.edit {
    height:430px;
    width:435px;
  }
}


#users_edit_status, #users_new_status {
  height:148px;
  width:400px;
}

.users_edex_datepicker {
  width: 40px;
}

.users_edex_field {
  width: 130px;
}


label { // why the hell won't this work in app.css?
  font-size:12px;
}