// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// Shouldn't need these here as well as in app.css.scss
$gray_Light: #d0d0d0;
$gray_Lighter: #e1e1e1;
$gray_Lightest: #f6f6f6;



.mapcontainer {
  position: absolute;
  z-index: 1;
  background: url(app/white-wash.png);
}

#users_index_map {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 0;
  width: 100%;
  height: 100%;
}

/***** for custom control position hack *****/

#users_index_map_zoomcontrol {
  position: absolute;
  left: 405px;
}

/* When the below is used, control disappears on mouse over */
// .gmnoprint{
//     display: none;
// }

/********************************************/


#users_index_mapcontainer_users {
  top: 39px;
  left: 0px;
  width: 400px;
}

#users_index_mapcontainer_user {
  top: 39px;
  right: 80px;
  width: 320px;
  display: none;
}

#users_index_users {
  margin-top:37px;
  height:570px;
}

.users_index_users_item {
  width: 100%;
  height: 50px;
  margin-top: 0px;
  margin-bottom: 2px;
  margin-left: 0px;
  margin-right: 0px;
  padding: 0px;
  display: none;
}

#users_show_close {
  border: 0;
  background-color: white;
}

#users_show_list {
  margin: 0px;
  li {
    list-style-type: none;
    &.users_show_list_header{
      border-bottom: 1px solid $gray_Lighter;
      font-weight:bold;   
    }
    &.users_show_list_name{
      margin-bottom: 20px;
    }
  }
}


#users_new_map {
	height:250px;
	width:250px;
}

#users_new_status{
  height:100px;
}
.users_edex_datepicker {
  width: 40px;
}

.users_edex_field {
  width: 130px;
}


#users_edit_map {
	height:450px;
	width:100%;
}

.users_edit_date_column {
  width: 60px;
}

label { // why the hell won't this work in app.css?
  font-size:12px;
}














// .hidden {
//   position:absolute;
//   left:-999em;
//   top:-999em;
//   width:1%;
// }



fieldset {
  width: 280px; 
  padding: 15px; 
  float: left; 
  border: none;
  margin: 0 10px 0 0; 
  }
  fieldset#step_1 { 
    background: #b2e7ca; 
  }
  fieldset#step_2 { 
    background: #b2d9e7; 
  }
  fieldset#step_3 { 
    background: #e7c7b2; 
  }

legend { 
  font-weight: bold; 
  font-size: 20px; 
  background: white;
  -moz-border-radius: 10px; 
  -webkit-border-radius: 10px;
  padding: 5px 10px; 
  letter-spacing: -1px;
}
                        
option { 
  padding: 0 5px; 
}

.name_wrap { 
  margin: 5px 0; 
  }
  .name_wrap label { 
    font-size: 12px; 
    display: block; 
    width: 102px; 
    float: left; 
  }
  
.push {
  margin: 20px 0 0 0; 
}

#special_accommodations_wrap,
#company_name_wrap { 
  margin: 8px 0 0 0; 
}

#company_name_wrap label,
#special_accommodations_wrap label { 
  font-size: 12px; 
}

#special_accommodations_wrap textarea { 
  width: 100%; height: 100px; 
}

