@import 'colours';



.votes_control {
  i {
    cursor:pointer;
    font-size:40px;
    &.voted {
      color:$blue_pastel;
      font-size:60px;
    }
  }
  text-align:center;
  &.comment {
    margin: 0px 2px;
    i {
      font-size: 20px;   
    }
  }
}

.votes_control_votes {
  font-size:20px;
  text-align:center;
}