$gray_background: #eceef1;
$gray_Light: white;
$gray_second: #BDC3C7;
$gray_gunmetal: #363636;
$gray_gunmetal_second: #2d2d2d;

$gray_Lighter: #e1e1e1;
$gray_Lightest: #f6f6f6;
$gray_Mid: #767676;
$gray_Dark: #555555;
$gray_Darker: #333333;

$green_flatui: #1ABC9C;
$green_linkedin: #3489bd;

$blue_pastel: #98cdff;
$blue_linkedin: #006699;
$blue_skype:#45adea;

$alert-green: #88ff8e;
$alert-red: #FF3030;
$alert-blue: #7EB6FF;
$alert-yellow: #FFFF7E;


$cn_colour_-2:#7d8288; // button overlays
$cn_colour_-1:#b0bcc3; // buttons

$cn_colour_0: #242d32; // header
$cn_colour_1: #e0ecf6; // header button highlights

$cn_grey_-2: #697076; // Text and borders in places
$cn_grey_-1: #dee1e3; // search input border
$cn_grey_0: #f0f1f2; // users form

$cn_contrastor_0: #c18176; // orange!
$cn_contrastor_second_0: #9ac787;
$cn_contrastor_third_0: #c18176;