$gray_background: #eceef1;
$gray_Light: white;
$gray_second: #BDC3C7;
$gray_gunmetal: #363636;
$gray_gunmetal_second: #2d2d2d;

$gray_Lighter: #e1e1e1;
$gray_Lightest: #f6f6f6;
$gray_Mid: #767676;
$gray_Dark: #555555;
$gray_Darker: #333333;

$green_flatui: #1ABC9C;
$green_linkedin: #3489bd;

$blue_pastel: #98cdff;
$blue_linkedin: #006699;
$blue_skype:#45adea;

$alert-green: #88ff8e;
$alert-red: #FF3030;
$alert-blue: #7EB6FF;
$alert-yellow: #FFFF7E;