%p= "Welcome #{@resource.email}!"

%p To confirm your email address, and continue with the sign up process, click the link below:

%p= link_to 'Confirm my email address', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token)
