%p= "Dear #{@resource.email}!"

%p Thank you for signing up to casenexus.com.

%p To confirm your university email address and continue with the sign up process, follow the link below:

%p= link_to 'Confirm my email address', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token)