.profile_index_friends_friends_item{"data-friend_id"=>friends_item.id }

  .profile_index_friends_friends_item_status{class: (if friends_item.online_now? then "online_now" elsif friends_item.online_earlier? then "online_earlier" else "online_not" end)}

  .profile_index_friends_friends_item_avatar
    = avatar_for(friends_item,size: "small")

  .profile_index_friends_friends_item_username
    = friends_item.username_trunc

    - if Friendship.pending?(current_user,friends_item)
      #profile_index_friends_friends_pending
        = link_to("Accept", accept_friendship_path(id: Friendship.friendship(current_user,friends_item), back_url: profile_path), method: :put, class: "btn btn-dark btn-mini profile_index_friends_friends_item_friendship_button")
        = link_to reject_friendship_path(id: Friendship.friendship(current_user,friends_item), back_url: profile_path), method: :put, class: "btn btn-dark btn-mini profile_index_friends_friends_item_friendship_button" do
          %i.icon-remove
