#profile_index_container

  #profile_index_icon_container
    .profile_index_icon
      =image_tag "flat-ui/icons/Calendar_2x.png"
    .profile_index_icon
      =image_tag "flat-ui/icons/Clipboard_2x.png"
    .profile_index_icon
      =image_tag "flat-ui/icons/Book_2x.png"
    .profile_index_icon
      =image_tag "flat-ui/icons/Mail_2x.png"
