#console_index_interviewee_header

#console_index_interviewee_panel

  = render partial: 'console/skypebutton', layout: false, locals: {size: "large"}

  #console_index_interviewee_panel_button_return.btn.pull-right
    %i.icon-arrow-left-1
    Return