- if !@friend.blank? && !@book.blank?
  
  - if @book.chart_num > 0

    = link_to '#', class: "btn btn-primary btn-embossed btn-small application_tooltip console_index_subnav_button_sendpdf_state", "data-original-title"=>"Send " + @friend.username + " the exhibits in this case via email", rel: "tooltip", "data-placement"=>"bottom", id: "console_index_subnav_button_sendpdf" do
      %i.icon-envelope.icon-white
      = @book.chart_num.to_s + " Charts"

  - else

    = link_to '#', class: "btn btn-primary btn-embossed btn-small application_tooltip console_index_subnav_button_sendpdf_state active disabled", "data-original-title"=>"This case has no charts", rel: "tooltip", "data-placement"=>"bottom", id:"#console_index_subnav_button_sendpdf_nocharts" do
      %i.icon-envelope.icon-white
      No Charts