- if !@friend.blank?
  = link_to "skype:#{@friend.skype}?call", id: "console_index_subnav_button_skype", "data-original-title"=>"Call #{@friend.username} on Skype", rel: "tooltip", "data-placement"=>"bottom", class: "btn btn-primary  btn-small" do
    = image_tag "icons/skype_button.png"
    %span
    / %img{src: "http://mystatus.skype.com/smallicon/xxxx" }