#console_index_container
  #console_index_pdfjs
    %iframe#console_index_pdfjs_iframe{ src: "/console/pdfjs?id=#{@book.id}" }
  #console_index_feedback
    %iframe#console_index_feedback_iframe{ src: "/console/select" }