#console_index_container
  / #console_index_pdfjs
  %iframe#console_index_pdfjs_iframe{ src: ("/console/pdfjs?id=#{@book.id}" unless @book.blank?) }
  #console_index_feedback
    #console_index_feedback_subnav
      .spacer5
      = render 'subnav'
    %iframe#console_index_feedback_iframe{ src: ("/cases/new?user_id=#{@friend.id}" unless @friend.blank?) }
      / = render template: "cases/new", locals: { params[:user_id] = @friend.id }