#console_index_container
  #console_index_pdfjs
    %iframe#console_index_pdfjs_iframe{ src: "/console/pdfjs?id=#{@book.id}" }
  #console_index_feedback
    #console_index_feedback_subnav
      .spacer5
      = render 'subnav'
    %iframe#console_index_feedback_iframe{ src: "" }
