Showing
%span#map_index_guide_count_users
  = users.count.to_s

#{pluralize_without_count(users.count, 'user')},



- if users.count > 1
  who've done a total of 
- else
  who's done

%span#map_index_guide_count_cases
  = users.map { |a| a.cases.count }.sum.to_s
cases

