- if flash.any?
  #application_flash{ class: ("signedout" if !signed_in? || !completed?) }
    - flash.each do |key, value|
      / fade in function doesn't seem to work yet
      %div{ class: "alert alert-#{key} fade in" }
        / inserts close button
        %a.close{"data-dismiss" => "alert", :href => "#"} ×
        = value
