- if @users.count > 0
  - for users_item in @users
    = render partial: 'users_item' , locals: { users_item: users_item }

    
.spacer50
.spacer10

#map_index_users_form_paginate
  = paginate @users

