.map_index_users_item
  .map_index_users_item_button.btn{'data-id' => users_item.id.to_s, 'data-lat' => users_item.lat.to_s, 'data-lng' => users_item.lng.to_s, class: ("application_onlinenow" if users_item.online_now?) }
    .row
      .map_index_users_item_reputation
        = users_item.points_tally

      .map_index_users_item_university
        = image_tag "universities/" + users_item.university.image, class: "application_userimage_small"
    .row
      .map_index_users_item_avatar
        %span.fui-user
    .row.map_index_users_item_username
      = users_item.username
