// Re-renders the user list
$("#map_index_users").html("<%= escape_javascript(render("users")) %>")

window.map_index_users_item_bless();


var geoJson_precursor = "<%= escape_javascript(User.markers_geojson(@users).html_safe) %>";

var geoJson = $.parseJSON(geoJson_precursor);

// alert(geoJson);

map.markerLayer.setGeoJSON(geoJson);


// map.markerLayer.on('mouseover', function(e) {
//     e.layer.openPopup();
// });
// map.markerLayer.on('mouseout', function(e) {
//     e.layer.closePopup();
// });

map.markerLayer.on('click', function(e) {
    // e.layer.openPopup();
    window.map.panTo(e.layer.getLatLng());

    //http://stackoverflow.com/questions/17758256/how-can-i-change-the-location-center-of-a-map-using-leaflet-api
    
    // Calculate the offset
    var offset = map.getSize().x*0.14;
    // Then move the map
    map.panBy(-offset, 0)

});

map.markerLayer.on('layeradd', function(e) {
    var marker = e.layer,
        feature = marker.feature;

    var popupContent =  '<div class="map_index_map_popup">' +

                        '   <div class="map_index_map_popup_user">' +
                        '     <span><img src="/assets/universities/' + feature.properties.university_image + '" class="application_userimage_medium"></span>' +
                        '     <span>' + feature.properties.title + '</span>' +
                        '   </div>' +    

                        '   <div class="map_index_map_popup_cases">' +
                        '     <div class="map_index_users_item_cases_recd">' + 
                        '         <div class="map_index_users_item_cases_text">taken</div>' +
                                  feature.properties.cases_recd + 
                        '     </div>' +
                        '     <div class="map_index_users_item_cases_givn">' + 
                        '         <div class="map_index_users_item_cases_text">given</div>' +
                                  feature.properties.cases_givn + 
                        '     </div>' +
                        '     <div class="map_index_users_item_cases_external">' + 
                        '         <div class="map_index_users_item_cases_text">ext</div>' +
                                  feature.properties.cases_ext + 
                        '     </div>' +
                        '   </div>' +

                        '</div>';

    marker.bindPopup(popupContent,{
        closeButton: false,
        minWidth: 130
    });
});

// map.markerLayer.on('layeradd', function(e) {
//     var marker = e.layer,
//     feature = marker.feature;

//     // marker.setIcon(L.icon(feature.properties.icon));

// });



// Tooltips on Avatars
$(".application_avatar_icon").tooltip()

// Marker Click Trigger - Has to be in here because other wise does not load in time for list to be loaded
$('.map_index_users_item').click(function () {

  // change color on click
  $('.map_index_users_item').removeClass("map_index_users_item_info_active");
  $(this).addClass("map_index_users_item_info_active");

  // Marker interaction
  var target_id = $(this).attr('data-id');

  map.markerLayer.eachLayer(function(marker) {
      if (marker.feature.properties.id == target_id) {
          marker.openPopup();
          window.map.panTo(marker.getLatLng());

          // Calculate the offset
          var offset = map.getSize().x*0.25;
          // Then move the map
          map.panBy(new L.Point(-offset, 0), {animate: false});

          marker.layer.openPopup();
          //marker.feature.properties.icon['iconUrl'] = 'http://localhost:3000/assets/markers/marker_new_active.png';
          marker.feature.properties['marker-color'] = '#000';
          map.markerLayer.setGeoJSON(geoJson);


      }
  });

});

// Users Item Cascade Fade
$(".map_index_users_item").each(function (i) {

  if ((i+1) == $(".map_index_users_item").length) {
    $(this).delay((i + 1) * 50).fadeIn(function(){
      $("#map_index_users .pagination").fadeIn(500); 
    });
  } else {
    $(this).delay((i + 1) * 50).fadeIn();
  }

});

// Truncate user item names
window.application_truncatables();


$("#map_index_users .pagination a").on("click", function() {
  $.getScript(this.href);
  return false;
});




