#modal_message.modal.hide.fade
  = render '/shared/modal_message_form'
#modal_feedback_req.modal.hide.fade
  = render '/shared/modal_feedback_req_form'

= render '/shared/modal_event'

- if @friendship
  #modal_friendship_req.modal.hide.fade
    = render '/friendships/request_form'