%button#map_index_mappanel_tooltip_close.close ×

.span5.application_avatar
  = avatar_for(@user, 'icon')
.span24#map_index_mappanel_tooltip_text
  %strong
    = @user.name
  .row
    #map_index_mappanel_tooltip_headline
      = @user.headline_trunc