%button#users_index_mappanel_tooltip_close.close ×

.span5.application_avatar
  = avatar_for(@user)
.span24#users_index_mappanel_tooltip_text
  %strong
    = @user.name
  .row
    = @user.status_trunc